{% extends 'base.html.twig' %}

{% block title %}Request to access Whitepaper - {{ whitepaper.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block flourishClasses %}{% endblock %}


{% block body %}

<!-- required wrapper 1 -->
<div class="govuk-width-container">

    <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


    {#<div class="govuk-phase-banner">#}
        {#<p class="govuk-phase-banner__content">#}
            {#<strong class="govuk-tag govuk-phase-banner__content__tag ">#}
                {#beta </strong> <span class="govuk-phase-banner__text">#}
                  {#This is a new service – your#}
                  {#<a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a> will help us to improve it.#}
                {#</span>#}
        {#</p>#}
    {#</div>#}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="page-title-prepend">Whitepaper</h1>
                <h2 class="govuk-heading-xl page-title page-title--tight">{{ whitepaper.title|raw }}</h2>

                {% if whitepaper.form_introduction is defined and whitepaper.form_introduction is not empty %}
                    <div class="page-intro">{{ whitepaper.form_introduction|raw }}</div>
                {% endif %}

                <p>To read this whitepaper, we need a few details.</p>

                {% include 'forms/gated-form.html.twig' %}

            </div>
            <div class="govuk-grid-column-one-third">
                {% if whitepaper.featuredImage is defined and whitepaper.featuredImage is not empty %}
                    <div class="flourish-box-effect">
                        <div class="flourish-box-effect__inner">
                            <img src="{{ whitepaper.featuredImage.byName('news-size-m') }}" alt="" role="presentation" />
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>

</div>

{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}

    <script src="/assets/scripts/gated-form.js"></script>

{% endblock %}
