<div>
    <h2 class="govuk-heading-m" id="documents">Documents</h2>
    <p>Each section below has the links to the documents, what they are for, when to use them and if you need to enter any information into them.</p>
    <p>You might not need all the contractual documents to buy the products or services from this agreement.</p>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% if framework.content.customer_guide and framework.content.customer_guide != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Buyer guides</span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" role="region">
                <p>Before buying from this agreement you should read the buyer guide and how to use contractual documents.</p>
                <p>The buyer guide will help you understand how the agreement works and what you can or can’t use the agreement for.</p>
                <p>This section might also include further guides or lists you will need to look at and make selections from, as well as previous webinar slides and Q&A scripts from sessions with buyers and suppliers.</p>
                <div class="wysiwyg-content rawHTML">{{ framework.content.customer_guide|raw }}</div>
            </div>
        </div>
    {% endif %}

    {% if framework.content.core_terms_conditions and framework.content.core_terms_conditions != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Core terms and conditions</span>
                </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" role="region">
                <p>The core terms form part of the framework and call-off contracts and must be used on every contract. They cannot be changed.</p>
                <p>The core terms are CCS’s standard commercial terms. They govern the supplier’s relationship with CCS and every customer who has a call-off contract.</p>
                <div class="wysiwyg-content rawHTML">{{ framework.content.core_terms_conditions|raw }}</div>
            </div>
        </div>
    {% endif %}

    {% if framework.content.call_off_order_form and framework.content.call_off_order_form != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Call-off order form</span>
                </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3" role="region">
                <p>When a customer decides to buy from a supplier, they’ll complete an order form with important information about the call-off contract.</p>
                <p>Customers can change any of their chosen schedules by adding special terms in the call-off order form.</p>

                <p>A completed order form will contain:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>what will be supplied</li>
                        <li>how it will be supplied</li>
                        <li>how much it will cost</li>
                        <li>contact details for suppliers and customers</li>
                        <li>a list of all the call-off and joint schedules</li>
                    </ul>
                </p>
                <p>The call-off contract will be created when both parties either agree to:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>sign a completed order form</li>
                        <li>create a binding electronic purchase order which includes the information in the order form</li>
                    </ul>
                </p>
    
                <div class="wysiwyg-content rawHTML">{{ framework.content.call_off_order_form|raw }}</div>
            </div>
        </div>
    {% endif %}

    {% if framework.content.joint_schedules and framework.content.joint_schedules != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">Joint schedules</span>
                </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4" role="region">
                {% for jointSchedule in framework.content.joint_schedules %}
                    <p class="joint-schedule-title">
                        <a onclick="fileDownload('{{ jointSchedule.joint_schedule_document }}', '{{ jointSchedule.joint_schedule_document_name }}', '{{ jointSchedule.joint_schedule_file_size }}');" href={{ jointSchedule.joint_schedule_document}}><strong>{{ jointSchedule.joint_schedule_document_name }}</strong></a>
                    </p>
                    <p class="joint-schedule-title">{{ jointSchedule.joint_schedule_document_type}}</p>
                    <p class="joint-schedule-title">{{ jointSchedule.joint_schedule_document_usage}}</p>
                    <div class="wysiwyg-content">{{ jointSchedule.joint_schedule_document_description|raw }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if framework.content.call_off_schedules and framework.content.call_off_schedules != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-5">Call-off schedules</span>
                </h2>
            </div>
            <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5" role="region">
                
                <p>Call-off schedules are used when suppliers sell their goods or services to customers.</p>
                <p>You can choose which schedules to include and whether to edit these template schedules when they form a call-off contract.</p>
                
                {% for callOffSchedule in framework.content.call_off_schedules %}
                    <p class="joint-schedule-title"><a onclick="fileDownload('{{ callOffSchedule.call_off_schedule_document }}', '{{ callOffSchedule.call_off_schedule_document_name }}', '{{ callOffSchedule.call_off_schedule_file_size }}');" href={{ callOffSchedule.call_off_schedule_document}}><strong>{{ callOffSchedule.call_off_schedule_document_name }}</strong></a></p>
                    <p class="joint-schedule-title">{{ callOffSchedule.call_off_schedule_document_type}}</p>
                    <p class="joint-schedule-title">{{ callOffSchedule.call_off_schedule_document_usage}}</p>
                    <div class="wysiwyg-content">{{ callOffSchedule.call_off_schedule_document_description|raw }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if framework.content.framework_schedules and framework.content.framework_schedules != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-6">Framework schedules</span>
                </h2>
            </div>
            <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6" role="region">
            
                <p>Framework schedules are used by CCS to set up the agreement with suppliers.</p>

                {% for frameworkSchedule in framework.content.framework_schedules %}
                    <p class="joint-schedule-title"><a onclick="fileDownload('{{ frameworkSchedule.framework_schedule_document }}', '{{ frameworkSchedule.framework_schedule_document_name }}', '{{ frameworkSchedule.framework_schedule_file_size }}');" href={{ frameworkSchedule.framework_schedule_document}}><strong>{{ frameworkSchedule.framework_schedule_document_name }}</strong></a></p>
                    <p class="joint-schedule-title">{{ frameworkSchedule.framework_schedule_document_usage}}</p>
                    <div class="wysiwyg-content">{{ frameworkSchedule.framework_schedule_document_description|raw }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if framework.content.templates and framework.content.templates != "" %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-7">Templates</span>
                </h2>
            </div>
            <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7" role="region">
                <div class="wysiwyg-content rawHTML">{{ framework.content.templates|raw }}</div>
            </div>
        </div>
    {% endif %}

</div>