<div class="govuk-grid-column-one-third">
    <aside class="aside">

        {% if framework is not null %}
            <div class="apollo-enclosure">
                <h2 class="aside__heading">Key facts</h2>

                <dl class="govuk-list govuk-list--definition">
                    <dt>Agreement ID</dt>
                    <dd class="apollo-list--definition__value">
                        {{ framework.content.rm_number }}
                    </dd>

                    <dt>Start date</dt>
                    <dd class="apollo-list--definition__value">
                        {{ framework.content.start_date.format('d/m/Y') }}
                    </dd>

                    <dt>End date</dt>
                    <dd class="apollo-list--definition__value">
                        {{ framework.content.end_date.format('d/m/Y') }}
                    </dd>

                    <dt>Lots</dt>
                    <dd class="apollo-list--definition__value">
                        {{ framework.content.lots|length }}
                    </dd>

                    {% if framework.content.terms == "Standard" %}
                        <dt>Suppliers</dt>
                        <dd class="apollo-list--definition__value">
                            {{ framework.content.total_suppliers }}
                        </dd>
                    {% endif %}

                    {% if tpp_feature_toggle == true and framework.content.regulation is not null %}
                        <dt>Regulation</dt>
                        <dd class="apollo-list--definition__value">
                            {{ framework.content.regulation }}
                        </dd>
                    {% endif %}

                    {% if tpp_feature_toggle == true and framework.content.regulation_type is not null %}
                        <dt>Agreement type</dt>
                        <dd class="apollo-list--definition__value">
                            {{ framework.content.regulation_type }}
                        </dd>
                    {% endif %}

                </dl>
            </div>

            {% if framework.content.rm_number == 'RM6251' %}
                <div class="guided-match-area govuk-!-margin-top-6">
                    <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-margin-bottom-2 text-white">Find an energy buying solution</h2>
                    <p class="govuk-body text-white">Answer some questions to see which of our 5 energy solutions could meet your needs.</br></p>
                    <a href="{{ path('energy_question') }}"  draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-module="govuk-button"> Start now
                        <svg class="govuk-!-padding-left-2" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        <div class="apollo-enclosure">
            <h2 class="aside__heading">Contact</h2>

            <p> {{ cscMessage | raw}}</p>

            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">
                Contact form</h3>
            <p><a href="/contact">Complete contact form</a></p>
            
            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
            <p><a href="tel:03454102222">0345 410 2222</a></p>
        

        </div>

        <div class="apollo-enclosure">
            <h2 class="aside__heading">Useful information </h2>
            <p><a href="{{ path('glossary')}}">Glossary</a></p>
        </div>

        <div class="apollo-enclosure">
            <h2 class="aside__heading">Do you need an accessible version of a document? </h2>
            <br />
            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">
                Email:</h3>
            <p><a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></p>

            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
            <p><a href="tel:03454102222">0345 410 2222</a></p>
        </div>

    </aside>
</div>