<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl page-title cat-agrement-page-title">{{ framework.content.title }}</h1>
        {% if framework.content.summary and framework.content.summary != "" %}
            <p class="agreement-subtitle">{{ framework.content.summary | striptags | raw }}</p>
        {% endif %}

                                
        <div class="govuk-body">
            <p class="agreement-overview"> <strong> Agreement number: </strong> {{ framework.content.rm_number }} </p>
            <p class="agreement-overview"> <strong> Start date: </strong> {{ framework.content.start_date.format('d/m/Y') }} </p>
            <p class="agreement-overview"> <strong> End date: </strong> {{ framework.content.end_date.format('d/m/Y') }} </p>
            
            {% if framework.content.regulation is not null and framework.content.regulation_type is not null %}
                <p class="agreement-overview"> <strong> Regulation: </strong> {{ framework.content.regulation }} </p>
                <p class="agreement-overview"> <strong> Agreement type: </strong> {{ framework.content.regulation_type }} </p>
            {% endif %}
        </div>

        {% if framework.content.availability and framework.content.availability != "" %}
            <p ><strong>Available for:</strong> {{ framework.content.availability| striptags | raw }} </p> 
        {% endif %}

        {% if framework.content.cas_updates and framework.content.cas_updates is not empty %}
            {% set latestUpdate = framework.content.cas_updates|first %}
            
            <h2 class="govuk-heading-m" id="updates">Updates</h2>

            <p><strong>{{ latestUpdate.framework_cas_updates_date.format('d F Y') }}:</strong> {{ latestUpdate.framework_cas_updates_update |striptags('<a>') |raw }} </p> 
            
            {% if framework.content.cas_updates|length > 1 %}
                 <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text" id="details-summary">Show previous updates</span>
                    </summary>
                    <div class="govuk-details__text">
                        {% for update in framework.content.cas_updates %}
                            {% if not loop.first %}
                                <p><strong>{{ update.framework_cas_updates_date.format('d F Y') }}:</strong> {{ update.framework_cas_updates_update |striptags('<a>') |raw }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>
            {% endif %}
        {% endif %}

        {% if 
            framework.content.description and framework.content.description != "" or 
            framework.content.cannot_use and framework.content.cannot_use != "" or 
            framework.content.how_to_buy and framework.content.how_to_buy != "" or 
            framework.content.benefits and framework.content.benefits != ""
        %}
			{% set showAtAGlance = true %}
		{% endif %}

        {% if 
            framework.content.customer_guide and framework.content.customer_guide != "" or 
            framework.content.core_terms_conditions and framework.content.core_terms_conditions != "" or 
            framework.content.call_off_order_form and framework.content.call_off_order_form != "" or 
            framework.content.joint_schedules and framework.content.joint_schedules != "" or 
            framework.content.call_off_schedules and framework.content.call_off_schedules != "" or 
            framework.content.framework_schedules and framework.content.framework_schedules != "" or 
            framework.content.templates and framework.content.templates != ""
        %}
			{% set showDocuments = true %}
		{% endif %}

        <div>
            <h2 class="govuk-heading-m" id="contents">Contents</h2>

            <ul class="govuk-list govuk-list--bullet">
                {% if showAtAGlance is defined and showAtAGlance %}
                    <li> <a class="govuk-link" href="#ataglance">at a glance</a></li>
                {% endif %}

                <li> <a class="govuk-link" href="#products">products and suppliers</a></li>

                {% if showDocuments is defined and showDocuments %}
                    <li> <a class="govuk-link" href="#documents">documents</a></li>
                {% endif %}

                <li> <a class="govuk-link" href="#benefitsofccs">the benefits of using CCS</a></li>
            </ul>
        </div>


        {% if showAtAGlance is defined and showAtAGlance %}
            {% include 'frameworks/_cas-at-a-glance.html.twig' with {'framework': framework}%}
            
        {% endif %}

        <h2 class="govuk-heading-m" id="products">Products and suppliers</h2>

        {% if framework.content.rm_number ==  "RM1557.13" %}
            <p>The functionality that enables you to view the details of all service lines presented on G-Cloud 13, has now been restored. CCS apologises for any inconvenience.</p>
    
            <p>If you are a G-Cloud 13 Lot 1, 2 or 3 supplier, you do not need to register with the Public Procurement Gateway (PPG) in order to gain access to your G-Cloud 13 entries or to use the functionality referenced above.</p>
        {% endif %}

        <div class="govuk-inset-text">
            <p ><strong>You can now buy online with CCS.</strong> <br>Please select a lot to start.</p>
        </div>

        <div class="grey-margin-bottom" id="agreement-lots"></div>

        {% for lot in framework.content.lots %}
            <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                <dt class="apollo-list--definition__key">
                    {% if framework.content.rm_number ==  "RM1557.13L4" %}
                        <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM1557.13&lotNum=4">Lot {{ lot.lot_number }} {{ lot.title|raw }}</a></span>
                    {% elseif framework.content.rm_number ==  "RM1557.14L4" %}
                        <span class="apollo-list--definition__key__inner"><a href="{{ path("form_esourcing_register") }}">Lot {{ lot.lot_number }} {{ lot.title|raw }}</a></span>
                    {% elseif framework.content.rm_number ==  "RM1557.13" or framework.content.rm_number ==  "RM1557.14"  %}
                        <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/{{ framework.content.rm_number }}/lot/All">Lot {{ lot.lot_number }} {{ lot.title|raw }}</a></span>
                    {% else %}
                        <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id={{ framework.content.rm_number }}&lotNum={{ lot.lot_number }}">Lot {{ lot.lot_number }} {{ lot.title|raw }}</a></span>
                    {% endif %}
                </dt>
                <dd class="apollo-list--definition__value">
                    {% if lot.description %}
                        <div class="govuk-!-margin-bottom-2">{{ lot.description | raw }}</div>
                    {% endif %}

                    {% if lot.expiry_date is defined and lot.expiry_date is not null and lot.expiry_date >= framework.content.end_date %}
                        <p>Expires: {{ lot.expiry_date.format('d/m/Y') }}</p>
                    {% endif %}

                    {% if framework.content.terms == "Standard" %}
                        {% if lot.suppliers|length == 0 %}
                            <p>No suppliers</p>
                        {% else %}
                            <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': framework.content.rm_number, 'lotNumber': lot.lot_number }) }}">{{ lot.suppliers|length }} suppliers</a> </p>
                        {% endif %}
                    {% endif %}

                </dd>
            </dl>
        {% endfor %}

         {% if showDocuments is defined and showDocuments %}
            {% include 'frameworks/_cas-documents.html.twig' with {'framework': framework}%}
        {% endif %}


        <div>
            <h2 class="govuk-heading-m" id="benefitsofccs">The benefits of using CCS</h2>
            <iframe src="{{youtubeVideo.video_link is defined ? youtubeVideo.video_link : 'https://www.youtube-nocookie.com/embed/_p61ZX4zQHU' }}" allowfullscreen="" width="560" height="315" title="{{youtubeVideo.video_caption is defined ? youtubeVideo.video_caption : 'CCS - Power to your procurement' }}"></iframe>
        </div>

        <div class="app-c-print-link">
            <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
        </div>

    </div>

    {% include '/frameworks/_side-summary.html.twig' with {'framework': null } %}
</div>

<script>
    const detailsSummarySpan = document.getElementById("details-summary");

    if(detailsSummarySpan !== null){
        detailsSummarySpan.addEventListener('click', event => {
            if(document.getElementById("details-summary").textContent == "Show previous updates"){
                document.getElementById("details-summary").textContent="Hide previous updates";
            }else{
                document.getElementById("details-summary").textContent="Show previous updates";
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('.rawHTML a');

        links.forEach(link => {
            link.addEventListener('click', function (event) {
                pushToDataLayer({
                    "event":            'file_download',
                    "link_text":        link.firstChild.textContent,
                    "link_url":         link.getAttribute('href'),
                    "file_extension":   formatFileType(link.getAttribute('href')),
                });
            })
        })
    });
</script>
