<div class="govuk-grid-column-one-third">

    <form action="{{ path('frameworks_search') }}" method="GET">

        <div class="govuk-form-group govuk-form-group--enclosure">
            <div class="govuk-form-group sidebar__search-group">
                <label class="govuk-label" for="q"> Search
                    agreements </label>
                {% if query is defined and query|trim is not empty %}
                    <input class="govuk-input" id="q" name="q" type="text" value="{{ query }}">
                {% else %}
                    <input class="govuk-input" id="q" name="q" type="text">
                {% endif %}

                <button type="submit" class="sidebar__search-button govuk-input">
                    <span class="visuallyhidden">Search agreements</span>
                </button>
            </div>
        </div>

        {% if query is defined and query|trim is not empty %}

            <script>pushToDataLayer({'event': 'view_search_results', 'interaction_type': 'agreements', 'search_term': '{{query}}'});</script>

            <div class="guided-match-area">
                <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-margin-bottom-2 text-white">Need help finding the right agreement</h2>
                <p class="govuk-body text-white">Answer some questions to find the best agreement for your needs</br></p>
                <a href={{ match_url }}  draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-module="govuk-button"> Start now
                    <svg class="govuk-!-padding-left-2" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
            </div>
        {% endif %}


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Apply filters</h2>
            </div>
                <div class="govuk-grid-column-one-half" style="text-align:right;">
                {% set clearLink = "/agreements" %}

                {% if query is defined %}
                
                    {% if pillar is defined and pillar|trim is not empty %}
                        {% set clearLink = "/agreements/search?q=#{query}&pillar=#{pillar_slug}" %} 
                    {% elseif category is defined and category|trim is not empty %}
                        {% set clearLink = "/agreements/search?q=#{query}&category=#{category_slug}" %}
                    {% else %}
                        {% set clearLink = "/agreements/search?q=#{query}" %}
                    {% endif %}

                {% else %} 

                    {% if pillar is defined and pillar|trim is not empty %}
                        {% set clearLink = "/agreements/pillar/#{pillar_slug}" %}
                    {% elseif category is defined and category|trim is not empty %}
                        {% set clearLink = "/agreements/category/#{category_slug}" %}
                    {% else %}
                        {% set clearLink = "/agreements" %}
                    {% endif %}
                    
                {% endif %}
                <a onclick="pushToDataLayer({'event': 'search_filter', 'interaction_type': 'clear'});" href={{ clearLink }} class="govuk-link" >Clear filters</a>
            </div>
        </div>
        
        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="accordion-with-summary-sections">
            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                            Filter by agreement status
                        </span>
                    </h2>
                    <span class="govuk-body-s">{{ statuses is not defined or statuses is empty ? 1 : statuses|length }} selected</span>
                </div>
                
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1" role="region">

                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="live"name="statuses[]" type="checkbox" value="live" {{ statuses is not defined or statuses is empty or 'live' in statuses ? "checked" : "" }} >
                            <label class="govuk-label govuk-checkboxes__label" for="live">
                                Live
                            </label>
                        </div>

                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">

                            <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="expired" name="statuses[]" type="checkbox" value="expired" {{ statuses is defined and 'expired' in statuses ? "checked" : "" }} >
                            <label class="govuk-label govuk-checkboxes__label" for="expired">
                                Expired
                            </label>
                        </div>
                </div>
                <div class="apollo-enclosure">
                    <h2 class="aside__heading">Upcoming agreements</h2>

                    <p><a href="/agreements/upcoming">View our upcoming agreement page</a> for agreements that are being developed and are not yet live.</p>

                </div>
            </div>

        </div>

        {# {% if tpp_feature_toggle == true %}
            <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="accordion-with-summary-sections">
                <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section--expanded">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                                Regulation
                            </span>
                        </h2>
                    </div>
                    
                    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2" role="region">

                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            {% if regulation is defined and 'allRegulation' in regulation %}
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allRegulation" name="allRegulation" type="checkbox" value="true" checked >
                            {% else %}
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allRegulation" name="regulation[]" type="checkbox" value="allRegulation" >
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="allRegulation">
                                View All
                            </label>
                        </div>
                        
                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="PA2023" name="regulation[]" type="checkbox" value="PA2023" {{ 'PA2023' in regulation ? "checked" }} >
                            <label class="govuk-label govuk-checkboxes__label" for="PA2023">
                                PA2023
                            </label>
                        </div>
                        
                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="PCR2015" name="regulation[]" type="checkbox" value="PCR2015" {{ 'PCR2015' in regulation ? "checked" }} >
                            <label class="govuk-label govuk-checkboxes__label" for="PCR2015">
                                PCR2015
                            </label>
                        </div>
                        
                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="PCR2006" name="regulation[]" type="checkbox" value="PCR2006" {{ 'PCR2006' in regulation ? "checked" }} >
                            <label class="govuk-label govuk-checkboxes__label" for="PCR2006">
                                PCR2006
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="accordion-with-summary-sections">
                <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section--expanded">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                                Agreement type
                            </span>
                        </h2>
                    </div>
                    
                    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3" role="region">

                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                            {% if regulationType is defined and 'allType' in regulationType %}
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allType" name="allType" type="checkbox" value="true" checked >
                            {% else %}
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allType" name="regulationType[]" type="checkbox" value="allType" >
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="allType">
                                View All
                            </label>
                        </div>
                        
                        {% if regulation is defined and 'allRegulation' in regulation or 'PCR2015' in regulation %}
                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="Dynamic_Purchasing_System" name="regulationType[]" type="checkbox" value="Dynamic Purchasing System"{{ regulationType is not defined or regulationType is empty or 'Dynamic Purchasing System' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="Dynamic_Purchasing_System">
                                    Dynamic Purchasing System 
                                </label>
                            </div>
                        {% endif %}
                        
                        {% if regulation is defined and 'allRegulation' in regulation or 'PA2023' in regulation %}                                        
                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="Dynamic_Market" name="regulationType[]" type="checkbox" value="Dynamic Market"{{ regulationType is not defined or regulationType is empty or 'Dynamic Market' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="Dynamic_Market">
                                    Dynamic Market 
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="Open_Framework" name="regulationType[]" type="checkbox" value="Open Framework"{{ regulationType is not defined or regulationType is empty or 'Open Framework' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="Open_Framework">
                                    Open Framework
                                </label>
                            </div>
                            
                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="Closed_Framework" name="regulationType[]" type="checkbox" value="Closed Framework"{{ regulationType is not defined or regulationType is empty or 'Closed Framework' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="Closed_Framework">
                                    Closed Framework 
                                </label>
                            </div>
                        {% endif %}

                        {% if regulation is defined and 'allRegulation' in regulation or 'PCR2015' in regulation %}
                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="PCR15_Framework" name="regulationType[]" type="checkbox" value="PCR15 Framework"{{ regulationType is not defined or regulationType is empty or 'PCR15 Framework' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="PCR15_Framework">
                                    PCR15 Framework
                                </label>
                            </div>
                        {% endif %}
                        
                        {% if regulation is defined and 'allRegulation' in regulation or 'PCR2006' in regulation %}
                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                <input onChange="this.form.submit()" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="PCR06_Framework" name="regulationType[]" type="checkbox" value="PCR06 Framework"{{ regulationType is not defined or regulationType is empty or 'PCR06 Framework' in regulationType ? "checked" : "" }} >
                                <label class="govuk-label govuk-checkboxes__label" for="PCR06_Framework">
                                    PCR06 Framework
                                </label>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}
        


        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="accordion-with-summary-sections">
            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header govuk-!-padding-bottom-0">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                            Browse by category
                        </span>
                    </h2> 
                </div>

                <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4" role="region">
                    <ul class="govuk-list">
                        {% for pillar_item in pillars.pillars %}
                            <li>
                                {% set pillarArray = {
                                    'event': 'search_interaction',
                                    'interaction_type': 'filter by pillar',
                                    'interaction_detail':  pillar_item.name
                                }%}
                                <a class="{{pillar is defined and pillar == pillar_item.name ? 'govuk-!-font-weight-bold'}}" 
                                    onclick="pushToDataLayer('{{pillarArray |json_encode}}');"
                                    href="{{ path('frameworks_list_by_pillar',
                                    {   'pillar': pillar_item.slug, 
                                        'query': query is defined and query|trim is not empty ? query : '',
                                        'statuses': statuses is defined ? statuses
                                    }) }}">
                                {{ pillar_item.name }}</a>

                                <ul class="govuk-list">
                                    {% for category_item in pillar_item.categories %}
                                        <li>
                                            {% set categoryArray = {
                                                'event': 'search_interaction',
                                                'interaction_type': 'filter by category',
                                                'interaction_detail':  category_item.name
                                            }%}
                                            <a class="{{category is defined and category == category_item.name ? 'govuk-!-font-weight-bold' }}" 
                                                onclick="pushToDataLayer('{{categoryArray |json_encode}}');"
                                                href="{{ path('frameworks_list_by_category', 
                                                {   'category': category_item.slug, 
                                                    'query': query is defined and query|trim is not empty ? query : '',
                                                    'statuses': statuses is defined ? statuses
                                                }) }}">
                                            {{ category_item.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> #}

        {% include '/frameworks/_helpful_info.html.twig' with {'page' : 'search'} %}

    </form>

</div>