{% extends 'base.html.twig' %}

{% block title %}Suppliers on {{ metadata.framework_title }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}


  <!-- required wrapper 1 -->
  <div class="govuk-width-container">

    <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

    <div class="govuk-phase-banner">
      {% include '/includes/phase-banner-content.html.twig' %}
    </div>


    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ path('frameworks_list') }}">Search agreements</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ path('frameworks_show', {'rmNumber':  metadata.framework_rm_number }) }}">{{  metadata.framework_title }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Suppliers on agreement
        </li>
      </ol>
    </div>





    <!-- required wrapper 2 -->
    <main id="main-content" role="main"  class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl page-title">{{ metadata.framework_title }}</h1>

          {#{{ dump(metadata) }}#}
          {#{{ dump(results) }}#}

          <p class="govuk-body-l govuk-!-font-weight-bold">{{ pagination.totalResults }} suppliers on this agreement</p>

          <ul class="govuk-list govuk-list--suppliers">

            {% for item in results %}
              <li>
                <h3 class="{{ item.content.supplier_crp_url ? 'ccs-tag--inline' : '' }} govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22">
                  <a href="{{ path('suppliers_show', {'id': item.content.supplier_id, 'slug': slugify(item.content.supplier_name|trim)} ) }}">{{ item.content.supplier_name }}</a>
                </h3>

                <ul class="govuk-list govuk-!-font-size-17featured">

                  {% for framework in item.content.live_frameworks %}
                    <li>
                      <span class="ccs-framework-list__title">{{ framework.title }} ({{ framework.rm_number }})</span>
                      {% if framework.status == 'Expired' or framework.status == 'Expired - Data Still Received' %}
                        <span class="govuk-tag ccs-tag ccs-tag--error ccs-tag--lower-case">Expired: {{ framework.end_date.format('d/m/Y') }}</span>
                      {% endif %}
                    </li>
                  {% endfor %}

                </ul>
              </li>

            {% endfor %}

          </ul>

          {# Pagination #}
          {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_suppliers', 'options': {'rmNumber': metadata.framework_rm_number}} %}

          {% if pagination.totalPages > 1 %}
            {{ include('includes/pagination.html.twig', pagination_data) }}
          {% endif %}




        </div>

      </div>


    </main>
  </div>

<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href});</script>
{% endblock %}