{% extends 'base.html.twig' %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}


  <!-- required wrapper 1 -->
  <div class="govuk-width-container">

    <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
          beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/ZHV7B2S">feedback</a> will help us to improve it.
    </span>
      </p>
    </div>


    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ path('frameworks_list') }}">Search frameworks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">{{  metadata.framework_title }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Suppliers on framework
        </li>
      </ol>
    </div>





    <!-- required wrapper 2 -->
    <main id="main-content"  class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl page-title">{{ metadata.framework_title }}</h1>

          {#{{ dump(metadata) }}#}
          {#{{ dump(results) }}#}

          <p class="govuk-body-l govuk-!-font-weight-bold">{{ pagination.totalResults }} suppliers on this framework.</p>

          <ul class="govuk-list govuk-list--suppliers">

            {% for item in results %}

              <li>
                <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22"><a href="{{ path('suppliers_show', {'id': item.content.supplier_id, 'slug': slugify(item.content.supplier_name)} ) }}">{{ item.content.supplier_name }}</a></h3>
                <ul class="govuk-list govuk-!-font-size-17featured">

                  {% for framework in item.content.live_frameworks %}
                    <li>{{ framework.title }} ({{ framework.rm_number }})</li>
                  {% endfor %}

                </ul>
              </li>

            {% endfor %}

          </ul>

          {# Pagination #}
          {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_suppliers', 'options': {'rmNumber': metadata.framework_rm_number}} %}

          {% if pagination.totalPages > 1 %}
            {{ include('includes/pagination.html.twig', pagination_data) }}
          {% endif %}




        </div>

      </div>


    </main>
  </div>


{% endblock %}
