{% extends 'base.html.twig' %}

{% block body %}


  <!-- required wrapper 1 -->
  <div class="govuk-width-container">

    <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
          beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
      </p>
    </div>


    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/frameworks">Search frameworks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">{{ framework.content.title }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Suppliers on framework
        </li>
      </ol>
    </div>





    <!-- required wrapper 2 -->
    <main id="main-content"  class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl page-title">{{ framework.content.title }}</h1>

          <p class="govuk-body-l govuk-!-font-weight-bold">{{ framework.content.total_suppliers }} suppliers on this framework.</p>


            {#{{ dump(framework.content) }}#}




          <ul class="govuk-list govuk-list--suppliers">
          {% for lot in framework.content.lots %}
              {#{{ dump(lot) }}#}

              {% for supplier in lot.suppliers %}

                <li>
                  <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22"><a href="#">{{ supplier.name }}</a></h3>
                  <ul class="govuk-list govuk-!-font-size-17featured">
                    List of Frameworks where this supplier appears
                    {#<li>Network services name of (RM12344)</li>#}
                    {#<li>Network services name of (RM12344)</li>#}
                    {#<li>Network services name of (RM12344)</li>#}
                  </ul>
                </li>

              {% endfor %}

          {% endfor %}
          </ul>


          <ul class="list--inline pagination govuk-body" role="navigation" aria-label="Pagination">
            <li class="pagination__item pagination__item--previous">
              <a href="#">
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span>
                <span>Previous</span>
              </a>
            </li>
            <li class="pagination__item">
              <a href="#">
                <span class="visuallyhidden">Page</span>1<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item">
              <span>…</span>
            </li>
            <li class="pagination__item">
              <a href="#">
                <span class="visuallyhidden">Page</span>40<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item">
              <a href="#" rel="prev">
                <span class="visuallyhidden">Page</span>41<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item">
              <span class="visuallyhidden">You’re currently on page</span>42<span class="visuallyhidden">of 123</span>
            </li>
            <li class="pagination__item">
              <a href="#" rel="next">
                <span class="visuallyhidden">Page</span>43<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item">
              <a href="#">
                <span class="visuallyhidden">Page</span>44<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item">
              <span>…</span>
            </li>
            <li class="pagination__item">
              <a href="#">
                <span class="visuallyhidden">Page</span>123<span class="visuallyhidden">of 123</span>
              </a>
            </li>
            <li class="pagination__item pagination__item--next">
              <a href="#">
                <span>Next</span>
                <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span>
              </a>
            </li>
          </ul>



        </div>

      </div>


    </main>
  </div>


{% endblock %}
