{% extends 'base.html.twig' %}

{% block title %}Search agreements - CCS{% endblock %}
{% block metadescription %}This list provides a summary of the CCS agreements currently available through which government, public and third sector organisations can buy common goods and services. It includes details of when each agreement is due to expire and a web link to the full agreement information.{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <p style="color:blue;font-size:50px;">Dont mess with me, I have VUE JS</p>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                    {% if category is defined or pillar is defined %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/agreements">Search agreements </a>
                    </li>
                    {% if category is defined and category|trim is not empty  %}
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ category }}</li>
                    {% elseif pillar is defined and pillar|trim is not empty %}
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ pillar }}</li>
                    {% endif %}
                {% else %}
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Search agreements
                    </li>
                {% endif %}
            </ol>
        </div>

        <main id="main-content" role="main" class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    {% if category is defined and category|trim is not empty  %}
                        <h1 class="govuk-heading-xl page-title">{{ query is defined and query|trim is not empty ? "Search agreements for #{query} in #{category} category" : "Search agreements in #{category} category" }}</h1>
                        <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'agreement', 'category':'{{category}}'});</script>
                    {% elseif pillar is defined and pillar|trim is not empty %}
                        <h1 class="govuk-heading-xl page-title">{{ query is defined and query|trim is not empty ? "Search agreements for #{query} in #{pillar} category" : "Search agreements in #{pillar} category" }}</h1>
                        <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'agreement', 'pillar':'{{pillar}}'});</script>
                    {% elseif query is defined and query|trim is not empty %}
                        <h1 class="govuk-heading-xl page-title">Search agreements for {{ query }}</h1>
                        <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'agreement'});</script>
                    {% else %}
                        <h1 class="govuk-heading-xl page-title">Search agreements</h1>
                        <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'agreement'});</script>
                    {% endif %}

                </div>
            </div>


            <div class="govuk-grid-row">
                {% include '/frameworks/filter_options.html.twig' %}

                 <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m" v-if="totalResults == 1"> {[totalResults]} agreement found</h2>
                        <h2 class="govuk-heading-m" v-else>                   {[totalResults]} agreements found</h2>
                 </div>

                {% if statuses is defined %}
                    {% set statusLive = '&statuses%5B%5D=live' %}
                    {% set statusExpired = '&statuses%5B%5D=expired' %}

                    <div class="govuk-grid-column-two-thirds">
                        <div class="ccs-filters-summary ccs-filter-summary-frameworks">
                            <div class="ccs-filters-summary__facets" style="display: block; margin-top:0">
                                <span class="ccs-filters-summary__label">Matching</span>
                                <ul class="ccs-filters-summary__list">

                                    {% if 'live' in statuses %}
                                        <li class="ccs-filters-summary__facet">
                                            <a href="{{ "/agreements/search?q=#{ query is defined and query|trim is not empty ? query : '' }#{ 'expired' in statuses ? statusExpired : '' }" }}" class="ccs-filters-summary__facet__cancel"> 
                                                <span> Live </span>
                                            </a>  
                                        </li>
                                    {% endif %}

                                    {% if statuses|length > 1 %}
                                        <li style="display: inline; padding-right: 5px;" >and</li>
                                    {% endif %}

                                    {% if 'expired' in statuses%}
                                        <li class="ccs-filters-summary__facet">
                                            <a href="{{ "/agreements/search?q=#{ query is defined and query|trim is not empty ? query : '' }#{'live' in statuses ? statusLive : '' }" }}" class="ccs-filters-summary__facet__cancel"> 
                                                <span> Expired </span>
                                            </a>  
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                

                {% if query is defined and query|trim is not empty %}
                    <div class="govuk-grid-column-two-thirds">
                        <div class="ccs-filters-summary ccs-filter-summary-frameworks">
                            <div class="ccs-filters-summary__facets" style="display: block; margin-top:0">
                                <span class="ccs-filters-summary__label">Containing</span>
                                <ul class="ccs-filters-summary__list">
                                    <li class="ccs-filters-summary__facet">
                                        {% if category is defined and category|trim is not empty %}
                                            <a href=" {{"/agreements/search?q=&category=#{category_slug}#{ statuses is defined and 'live' in statuses ? statusLive : '' }#{ statuses is defined and 'expired' in statuses ? statusExpired : '' }" }}" class="ccs-filters-summary__facet__cancel">
                                                <span>{{ query }}</span>
                                            </a>
                                        {% elseif pillar is defined and pillar|trim is not empty %}
                                            <a href=" {{"/agreements/search?q=&pillar=#{pillar_slug}#{ statuses is defined and 'live' in statuses ? statusLive : '' }#{ statuses is defined and 'expired' in statuses ? statusExpired : '' }" }}" class="ccs-filters-summary__facet__cancel">
                                                <span>{{ query }}</span>
                                            </a>
                                        {% else %}
                                            <a href=" {{"/agreements/search?q=#{ statuses is defined and 'live' in statuses ? statusLive : '' }#{ statuses is defined and 'expired' in statuses ? statusExpired : '' }" }}" class="ccs-filters-summary__facet__cancel">
                                                <span>{{ query }}</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="govuk-grid-column-two-thirds">

                    <div v-if="responseAvailable" class="hideWithoutJS govuk-visually-hidden">
                        <ul class="govuk-list govuk-list--frameworks" v-show="javascriptVersion">
                                <li v-show="javascriptVersion" v-for="result in results">
                                    <h3 class="govuk-heading-m ccs-heading-link ccs-heading-link--inline govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22">
                                        <a  v-bind:href="'/agreements/'+ result.rm_number" >{[ result.title ]}</a> 
                                        <span v-if="result.status == 'Expired - Data Still Received'" class="govuk-tag ccs-tag ccs-tag--error"> Expired: {[ result.end_date | toDateDMY ]} </span>
                                    </h3>

                                    <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                        <li> <strong>Agreement ID:</strong> {[ result.rm_number ]}   </li>
                                        <li> <strong>Start Date:</strong>   {[ result.start_date | toDateDMY ]}  </li>
                                        
                                        <li v-if="result.status == 'Expired - Data Still Received'"> <strong>End Date:</strong> {[ result.end_date | toDateDMY ]} </li>

                                        {% if tpp_feature_toggle == true %}
                                                <li v-if="result.regulation != null"> <strong>Regulation:</strong> {[ result.regulation ]} </li>
                                                <li v-else> <strong>Regulation:</strong></li>
                                        {% endif %}
                                    </ul>
                                    <p class="govuk-body-s" v-html="result.summary"></p> 
                                </li>

                            <results-pagination 
                                :total-results="totalResults" 
                                :number-of-pages="numberOfPages" 
                                :current-page="currentPage" 
                                v-on:update-page="updatePageValue($event)" 
                            ></results-pagination>
                        </ul>
                    </div>

                    <div v-else-if="!responseAvailable" class="hideWithoutJS govuk-visually-hidden">
                        <p>Loading...</p>
                    </div>

                    <div v-if="emptyResult" class="hideWithoutJS govuk-visually-hidden">
                        <p>There are no matching results.</p>
                    </div>


                </div>
            </div>


        </main>
    </div>

    {% if app.environment == "prod" %}
        <script src="/assets/scripts/libraries/vue.min.js?v=1"></script>
    {% else %}
        <script src="/assets/scripts/libraries/vue.js?v=1"></script>
    {% endif %}

    <script type="application/javascript"> 
        searchFilterAgreement();

        function supportsLiterals() {
            try{
                return eval("''===``");
            }
            catch(e){
                return false;
            }
        }

        if(!('Promise' in window) || !supportsLiterals() || !window.fetch) {
            throw new Error("Your browser doesn't support the necessary JavaScript functions to use the enhanced search and has been served a non-JavaScript version");
        }


        var apiBaseUrl                  = '{{ api_base_url }}';
        var appBaseUrl                  = '{{ app_base_url }}';
        var pageNumber                  = {% if pageNumber is defined and pageNumber is not empty %}{{ pageNumber }}{% else %}1{% endif %};
        var checkedStatus               = [];
        var checkedRegulation           = [];
        var checkedType                 = [];
        var checkedPillar               = [];
        var checkedCategory             = [];
        var pillarsSize                 = '{{ pillars.pillars|length }}';
        var categorySize                = '{{ categories|length }}';
        
        {% if filters.checkedStatus is defined and filters.checkedStatus is not empty %}
            var checkedStatus   = JSON.parse('{{ filters.checkedStatus|json_encode|e("js") }}');
        {% endif %}

        {% if filters.checkedRegulation is defined and filters.checkedRegulation is not empty %}
            var checkedRegulation   = JSON.parse('{{ filters.checkedRegulation|json_encode|e("js") }}');
        {% endif %}

        {% if filters.checkedType is defined and filters.checkedType is not empty %}
            var checkedType   = JSON.parse('{{ filters.checkedType|json_encode|e("js") }}');
        {% endif %}

        {% if filters.checkedPillar is defined and filters.checkedPillar is not empty %}
            var checkedPillar   = JSON.parse('{{ filters.checkedPillar|json_encode|e("js") }}');
        {% endif %}

        {% if filters.checkedCategory is defined and filters.checkedCategory is not empty %}
            var checkedCategory   = JSON.parse('{{ filters.checkedCategory|json_encode|e("js") }}');
        {% endif %}

        Vue.component('results-pagination', {
            delimiters: ['{[', ']}'],
            props: {
                currentPage: Number,
                totalResults: Number,
                numberOfPages: Number,
            },
            computed: {
                nextPage: function() {
                    if(this.currentPage == this.numberOfPages) {
                        return this.currentPage;
                    }
                    return this.currentPage + 1;
                },
                previousPage: function() {
                    if(this.currentPage == 1) {
                        return this.currentPage;
                    }
                    return this.currentPage - 1;
                },
                paginationStartNumber: function() {
                    // start page defaults to 2 (second page) because the
                    // first page link is always output by default
                    var linksStartPage = 1;

                    // if the start page is at the beginning of the pagination
                    // then account for this
                    if ((this.currentPage - 2) < 2 ) {
                        linksStartPage = 2;
                    } else {
                        // otherwise the start page is equal to the current
                        // page minus 2, this means that the pagination should
                        // have a couple of links either side of the current
                        // page, e.g.   2 3 [4] 5 6
                        linksStartPage = this.currentPage - 2;
                    }

                    // if the start page is very close to the last page, then
                    // account for this
                    if((this.currentPage + 2) > this.numberOfPages) {
                        linksStartPage = linksStartPage - 2;
                    }

                    if(linksStartPage <= 1 ) {
                        linksStartPage = 2;
                    }

                    return linksStartPage;
                },
                paginationEndNumber: function() {
                    var linksEndPage   = this.paginationStartNumber + 4;

                    // if there aren't more pages than the number we
                    // want to show by minimum, then the end page is just equal
                    // to the final result page

                    if ((linksEndPage >= this.numberOfPages)) {
                        // minus 1 because the last page is always output
                        linksEndPage = this.numberOfPages - 1;
                    }

                    if(this.numberOfPages == 1) {
                        linksEndPage = 1;
                    }

                    return linksEndPage;
                }
            },
            methods: {
                updatePageNumber: function(event, newPage) {
                    event.preventDefault();
                    this.$emit('update-page', newPage);
                    search.fetchAPIData(null, newPage)
                },
                range : function (start, end) {
                    return Array(end - start + 1).fill().map(function(_, idx) {
                        return start + idx;
                    });
                }
            },
            template: 
                `
                <div>
                    <ul class="list--inline pagination govuk-body" role="list" aria-label="Pagination" v-if="numberOfPages > 0">
                        <li class="pagination__item pagination__item--previous" v-if="currentPage != 1">
                            <a href="#" rel="previous" v-on:click="updatePageNumber($event, previousPage)">
                                <span class="icon">
                                    <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"></path></svg>
                                </span>
                                <span>Previous</span> <span class="visuallyhidden">page</span>
                            </a>
                        </li>

                        <li class="pagination__item">
                            <span v-if="currentPage == 1"><span class="visuallyhidden">Page </span>1</span>
                            <a v-else href="#" v-on:click="updatePageNumber($event, 1)"><span class="visuallyhidden">Page </span>1</a>
                        </li>

                        <li class="pagination__item" v-if="paginationStartNumber > 2">…</li>

                        <li class="pagination__item" v-for="page in range(paginationStartNumber, paginationEndNumber)" v-if="numberOfPages > 1">
                            <span v-if="page == currentPage"><span class="visuallyhidden">Page </span>{[ page ]}</span>
                            <a v-else href="#" v-on:click="updatePageNumber($event, page)"><span class="visuallyhidden">Page </span>{[ page ]}</a>
                        </li>

                        <li class="pagination__item" v-if="(paginationEndNumber + 1) < numberOfPages">…</li>

                        <li class="pagination__item" v-if="numberOfPages > 1">
                            <span v-if="currentPage == numberOfPages"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</span>
                            <a v-else href="#" v-on:click="updatePageNumber($event, numberOfPages)"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</a>
                        </li>

                        <li class="pagination__item pagination__item--next" v-if="currentPage != numberOfPages">
                            <a href="#" rel="next" v-on:click="updatePageNumber($event, nextPage)">
                                <span>Next</span> <span class="visuallyhidden">page</span>
                                <span class="icon">
                                    <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"></path></svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                `
        });

        var search = new Vue({
            delimiters: ['{[', ']}'],
            el: '#main-content',
            mounted:function(){
                this.filtering(null, "status");
                this.filtering(null, "regulation");
                this.filtering(null, "type");
                this.filtering(null, "pillar");
                this.filtering(null, "category");
            },
            data: {
                javascriptVersion: true,
                results: "",
                responseAvailable: null,
                emptyResult: false,
                apiURL:  apiBaseUrl + "frameworks?",
                checkedStatus: checkedStatus,
                checkedRegulation: checkedRegulation,
                checkedType: checkedType,
                checkedPillar: checkedPillar,
                checkedCategory: checkedCategory,
                currentPage: pageNumber,
                pillarsSize: pillarsSize,   
                categorySize: categorySize,
                numberOfPages: Number,
                totalResults: Number,

                popstateLoad: false
            },
            filters: {
                toDateDMY: function (value) {
                    if (!value) return ''
                    date = new Date(value);
                    return date.getDate().toString().padStart(2, '0') + '/'+ (date.getMonth() + 1).toString().padStart(2, '0') + '/' + date.getFullYear();
                }
            },
            created: function() {
                const hideWithOutJS = document.querySelectorAll('.hideWithoutJS');

                hideWithOutJS.forEach(component => {
                if (component.classList.contains('govuk-visually-hidden')) {
                    component.classList.remove('govuk-visually-hidden');
                }});

                // unfortunately we have to update the results when we instantiate
                // the Vue app so it hooks in all the correct event handlers etc.
                this.fetchAPIData(null, this.currentPage);

                // setup popstate event listener for History API
                this.setupHistoryApi();
            },
            watch: {
                searchRequestUrl: function() {

                    // if the searchRequestUrl hasn't been updated by a popstate
                    // event (back/forward button) then we push a state item to the
                    // JS History API
                    if(this.popstateLoad === false) {
                        history.pushState({
                            checkedStatus:      this.checkedStatus,
                            checkedRegulation:  this.checkedRegulation,
                            checkedType:        this.checkedType,
                            checkedPillar:      this.checkedPillar,
                            checkedCategory:    this.checkedCategory,
                        }, 'Agreements', this.frontendSearchUrl);
                    }

                    // reset the popstateLoad property to false
                    this.popstateLoad = false;
                }
            },
            computed: {
                frontendQueryUrl: function() {
                    var queryUrl = '/?';

                    if(this.checkedStatus.length != 0) {
                        queryUrl += '&status=' + this.checkedStatus.join();
                    }

                    if(this.checkedRegulation.length != 0 && !this.checkedRegulation.includes("allRegulation")) {
                        queryUrl += '&regulation=' + this.checkedRegulation.join();
                    }
                    
                    if(this.checkedType.length != 0 && !this.checkedType.includes("allType")) {
                        this.checkedType = this.checkedType.map(str => str.replace(/ /g, '+'));
                        queryUrl += '&type=' + this.checkedType.join();
                    }

                    if(this.checkedPillar.length != 0 && !this.checkedPillar.includes("allPillarAndCategory")) {
                        queryUrl += '&pillar=' + this.checkedPillar.join();
                    }

                    if(this.checkedCategory.length != 0) {
                        this.checkedCategory = this.checkedCategory.map(str => str.replace(/ /g, '+'));
                        queryUrl += '&category=' + this.checkedCategory.join();
                    }

                    if(this.currentPage ){
                        queryUrl += '&page=' + this.currentPage;
                    }

                    return queryUrl != '/?' ? queryUrl : "";
                    
                },
                frontendSearchUrl: function() {
                    var searchUrl = '/agreements' + this.frontendQueryUrl ;
                    return searchUrl;
                }
            },
            methods: {
                filtering: function(selected, filtertingOption){
                    filterArray = null
                    viewAllCheckboxID = null
                    paramaString = null
                    returnFilter = ""
                    maxFilter = 0

                    switch(filtertingOption) {
                        case "status":
                            this.checkedStatus.forEach((currentElement) => {
                                returnFilter += "&status[]=" + currentElement
                            })
                            if (this.checkedStatus.length == 0){
                                document.getElementById("Live").checked = true;
                                this.checkedStatus = ["Live"]
                            }
                            return returnFilter
                            break
                        case "regulation":
                            filterArray         = this.checkedRegulation
                            paramaString        = "&regulation[]="
                            viewAllCheckboxID   = "allRegulation"
                            maxFilter           = 3
                            break
                        case "type":
                            filterArray         = this.checkedType
                            paramaString        = "&regulation_type[]="
                            viewAllCheckboxID   = "allType"
                            maxFilter           = 6
                            break
                        case "pillar":
                            filterArray         = this.checkedPillar
                            paramaString        = "&pillar[]="
                            viewAllCheckboxID   = "allPillarAndCategory"
                            maxFilter           = this.pillarsSize
                            break
                        case "category":
                            if (this.checkedCategory.length == this.categorySize || selected == "allPillarAndCategory"){
                                document.getElementById("allPillarAndCategory").checked = true
                                document.getElementById("corporate").checked = false
                                document.getElementById("estates").checked = false  
                                document.getElementById("technology").checked = false
                                this.checkedCategory= [];
                                this.checkedPillar= [];

                                return ""
                            }else if(this.checkedCategory.length != 0){
                                document.getElementById("allPillarAndCategory").checked = false
                            }
                            this.checkedCategory.forEach((currentElement) => {
                                returnFilter += "&category[]=" + currentElement
                            })
                            return returnFilter
                         default:
                            console.log('An error occurred');
                            return
                    }

                    if((selected == "Live" || selected == "Expired") && filtertingOption != "status"){
                        selected = "dummy value"
                    }

                    //if nothing is check || everything is checked || View all is checked 
                    if (filterArray.length == 0 || filterArray.length == maxFilter || filterArray.includes(viewAllCheckboxID) ){
                        filterArray.splice(0);
                        document.getElementById(viewAllCheckboxID) != null ? document.getElementById(viewAllCheckboxID).checked = true : null
                        document.getElementById(selected) != null ? document.getElementById(selected).checked = false : null
                    }else{
                        document.getElementById(viewAllCheckboxID) != null ? document.getElementById(viewAllCheckboxID).checked = false : null
                        filterArray.forEach((currentElement) => {
                            returnFilter += paramaString + currentElement
                        })
                    }
                    return returnFilter;
                },
                searchRequestUrl: function(selected, page) {
                    fetchURL =    this.apiURL 
                        + this.filtering(selected, "status")
                        + this.filtering(selected, "regulation")
                        + this.filtering(selected, "type")
                        + this.filtering(selected, "pillar")
                        + this.filtering(selected, "category")
                    
                    fetchURL = fetchURL + "&per_page=20&page=" + this.currentPage;

                    if(this.popstateLoad === false) {
                        history.pushState({
                            checkedStatus          :this.checkedStatus,
                            checkedRegulation      :this.checkedRegulation,
                            checkedType            :this.checkedType,
                            checkedPillar          :this.checkedPillar,
                            checkedCategory        :this.checkedCategory,
                        }, 'Agreements', this.frontendSearchUrl);
                    }

                    // reset the popstateLoad property to false
                    this.popstateLoad = false;

                    return fetchURL;
                },
                fetchAPIData: function(input, page) {
                    var self = this;
                    this.responseAvailable = false;
                    this.emptyResult = false;
                    this.currentPage = page === null ? 1 : page;

                    var requestUrl = this.searchRequestUrl(input, this.currentPage);
                    console.log(requestUrl);

                    fetch(requestUrl)
                    .then(async function(response) {
                        if (!response.ok) {
                            throw new Error('HTTP error, status = ' + response.status);
                        }
                        return response.json();
                    })
                    .then(function(jsonResponse) {
                        self.numberOfPages  = parseInt(Math.ceil(jsonResponse.meta.total_results / jsonResponse.meta.limit))
                        self.totalResults   = parseInt(jsonResponse.meta.total_results)
                        this.results        = jsonResponse.results;

                        self.results = jsonResponse.results;
                        if( Object.keys(jsonResponse.results).length === 0 ){
                            self.emptyResult = true;
                        }
                        self.responseAvailable = true;
                    })
                    .catch(function(error) {
                        console.log('An error occurred');
                        console.log(error);
                        self.responseAvailable = false;
                    });
                },
                updatePageValue: function(newPageValue) {
                    this.currentPage = newPageValue;
                },
                setupHistoryApi: function() {

                    window.onpopstate = function(event) {
                        // set the popstate variable to true so that we can
                        // tell in other parts of the code that the state change
                        // is being caused by the back/forward button
                        this.popstateLoad = true;

                        if(event.state == null) {
                            this.checkedStatus               = [];
                            this.checkedRegulation           = [];
                            this.checkedType                 = [];
                            this.checkedPillar               = [];
                            this.checkedCategory             = [];
                            return
                        }

                        this.checkedStatus          = event.state.checkedStatus;
                        this.checkedRegulation      = event.state.checkedRegulation;
                        this.checkedType            = event.state.checkedType;
                        this.checkedPillar          = event.state.checkedPillar;
                        this.checkedCategory        = event.state.checkedCategory;

                        this.fetchAPIData(null, this.currentPage);
                    }
                },
            }
        });

    </script>

{% endblock %}
