
{# see https://studio24.github.io/frontend/templating/pagination.html #}
This is page {{ pagination.page }}, displaying results {{ pagination.from }}-{{ pagination.to }} of {{ pagination.totalResults }} results

{# see https://studio24.github.io/frontend/templating/content-fields.html #}

<ul>
{% for name,slug in categories %}
    <li><a href="{{ url('frameworks_list_by_category', {'category': slug}) }}">{{ name }}</a></li>
{% endfor %}
</ul>

{% for item in results %}

    <h2>{{ item.content.title }}</h2>
    <p>Framework ID:  {{ item.content.rm_number }} Start date: {{ item.content.start_date.format('d/m/Y') }} End date: {{ item.content.end_date.format('d/m/Y') }}</p>
    <p>{{ item.content.summary }}</p>

{% endfor %}

{{ include('includes/pagination.html.twig', {'pagination': pagination, 'route': 'frameworks_list'}) }}