
{# see https://studio24.github.io/frontend/templating/pagination.html #}
This is page {{ pagination.page }}, displaying results {{ pagination.from }}-{{ pagination.to }} of {{ pagination.totalResults }} results

{# see https://studio24.github.io/frontend/templating/content-fields.html #}

{% for item in results %}

    <p>{{ item.content.rm_number }} - {{ item.content.title }}</p>

{% endfor %}

{{ include('includes/pagination.html.twig', {'pagination': pagination, 'route': 'frameworks_list_by_category'}) }}