{% extends 'base.html.twig' %}

{% block title %}Search frameworks - CCS{% endblock %}
{% block metadescription %}This list provides a summary of the CCS frameworks currently available through which government, public and third sector organisations can buy common goods and services. It includes details of when each framework is due to expire and a web link to the full framework information.{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}



    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <!--<li class="govuk-breadcrumbs__list-item">-->
                <!--<a class="govuk-breadcrumbs__link" href="2-3-frameworks-search-result">Search frameworks</a>-->
                <!--</li>-->
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Search frameworks
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" role="main" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    {% if category is defined %}
                        <h1 class="govuk-heading-xl page-title">Frameworks in
                            the {{ category }} category</h1>
                    {% elseif pillar is defined %}
                        <h1 class="govuk-heading-xl page-title">Frameworks in
                            the {{ pillar }} category</h1>
                    {% elseif query is defined %}
                        <h1 class="govuk-heading-xl page-title">Search frameworks for {{ query }}</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl page-title">Search frameworks</h1>
                    {% endif %}

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">

                    <form action="{{ path('frameworks_search') }}" method="GET">

                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <div class="govuk-form-group sidebar__search-group">
                                <label class="govuk-label" for="name"> Search
                                    frameworks </label>
                                <input class="govuk-input" id="q" name="q" type="text">
                                <button type="submit" class="sidebar__search-button">
                                    <span class="visuallyhidden">Search frameworks</span>
                                </button>
                            </div>
                        </div>


                        <div class="ccs-filters-intro">
                            <a href="{{ path('frameworks_list') }}" class="ccs-clear-filters">Clear Filters</a>
                            <h2 class="govuk-heading-m">Apply filters</h2>
                        </div>

                        {# see https://studio24.github.io/frontend/templating/content-fields.html #}
                        {#<h2 class="govuk-heading-m">Browse by category</h2>
                        <ul class="govuk-list">

                            {% for pillar_item in pillars.pillars %}
                                <li>
                                    {% if pillar is defined and pillar == pillar_item.name %}
                                        <a class="govuk-!-font-weight-bold" href="{{ path('frameworks_list_by_pillar', {'pillar': pillar_item.slug}) }}">{{ pillar_item.name }}</a>
                                    {% else %}
                                        <a href="{{ path('frameworks_list_by_pillar', {'pillar': pillar_item.slug}) }}">{{ pillar_item.name }}</a>
                                    {% endif %}


                                    <ul class="govuk-list">
                                        {% for category_item in pillar_item.categories %}
                                            <li>
                                                {% if category is defined and category == category_item.name %}
                                                    <a class="govuk-!-font-weight-bold" href="{{ path('frameworks_list_by_category', {'category': category_item.slug}) }}">{{ category_item.name }}</a>
                                                {% else %}
                                                    <a href="{{ path('frameworks_list_by_category', {'category': category_item.slug}) }}">{{ category_item.name }}</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </li>
                            {% endfor %}
                        </ul>#}





                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="accordion" id="accordion-with-summary-sections">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                                            Status
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                            <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="status-1" name="status[]" type="checkbox" value="Live">
                                            <label class="govuk-label govuk-checkboxes__label" for="status-1">Live</label>
                                        </div>
                                        <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                            <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="status-2" name="status[]" type="checkbox" value="expired">
                                            <label class="govuk-label govuk-checkboxes__label" for="status-2">Expired</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                                            Categories
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        {% set iteration = 1 %}
                                        {% for pillar_item in pillars.pillars %}
                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                                <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="category-{{ iteration }}" name="category[]" type="checkbox" value="{{ pillar_item.name }}">
                                                <label class="govuk-label govuk-checkboxes__label" for="category-{{ iteration }}">{{ pillar_item.name }}</label>
                                            </div>

                                            {% set iteration = iteration + 1 %}

                                            {#<ul class="govuk-list">
                                                {% for category_item in pillar_item.categories %}
                                                    <li>
                                                        {% if category is defined and category == category_item.name %}
                                                            <a class="govuk-!-font-weight-bold" href="{{ path('frameworks_list_by_category', {'category': category_item.slug}) }}">{{ category_item.name }}</a>
                                                        {% else %}
                                                            <a href="{{ path('frameworks_list_by_category', {'category': category_item.slug}) }}">{{ category_item.name }}</a>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>#}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                                          Results per page
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
                                    <div class="govuk-radios govuk-radios--small">
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-1" name="limit" type="radio" value="10" {{ pagination.resultsPerPage == 10 ? 'checked' : '' }}>
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-1">10</label>
                                        </div>
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-2" name="limit" type="radio" value="20" {{ pagination.resultsPerPage == 20 ? 'checked' : '' }}>
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-2">20</label>
                                        </div>
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-3" name="limit" type="radio" value="50" {{ pagination.resultsPerPage == 50 ? 'checked' : '' }}>
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-3">50</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="govuk-button" data-module="govuk-button">
                            Filter
                        </button>



                        {#
                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">
                                        Status
                                    </h1>
                                </legend>
                                <span id="waste-hint" class="govuk-hint">2 selected</span>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                        <label class="govuk-label govuk-checkboxes__label" for="waste-1">Live</label>
                                    </div>
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-2" name="waste" type="checkbox" value="mines">
                                        <label class="govuk-label govuk-checkboxes__label" for="waste-2">Expired</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>


                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">
                                        Results per page
                                    </h1>
                                </legend>
                                <span id="waste-hint" class="govuk-hint">10 results per page</span>
                                <div class="govuk-radios govuk-radios--small">
                                    <div class="govuk-radios__item govuk-radios__item--small">
                                        <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-1" name="where-do-you-live" type="radio" value="england">
                                        <label class="govuk-label govuk-radios__label" for="results-per-page-1">10</label>
                                    </div>
                                    <div class="govuk-radios__item govuk-radios__item--small">
                                        <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-2" name="where-do-you-live" type="radio" value="scotland">
                                        <label class="govuk-label govuk-radios__label" for="results-per-page-2">25</label>
                                    </div>
                                    <div class="govuk-radios__item govuk-radios__item--small">
                                        <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-3" name="where-do-you-live" type="radio" value="wales">
                                        <label class="govuk-label govuk-radios__label" for="results-per-page-3">50</label>
                                    </div>
                                    <div class="govuk-radios__item govuk-radios__item--small">
                                        <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-4" name="where-do-you-live" type="radio" value="northern-ireland">
                                        <label class="govuk-label govuk-radios__label" for="results-per-page-4">View all</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        #}




                    </form>

                </div>
                <div class="govuk-grid-column-two-thirds">

                    {% if pagination.totalResults == 1 %}
                        <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24">{{ pagination.totalResults }}
                            framework found</h2>
                    {% else %}
                        <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24">{{ pagination.totalResults }}
                            frameworks found</h2>
                    {% endif %}


                    {# see https://studio24.github.io/frontend/templating/content-fields.html #}

                    <ul class="govuk-list govuk-list--frameworks">
                        {% for item in results %}
                            <li>
                                <h3 class="govuk-heading-m ccs-heading-link ccs-heading-link--inline govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22">
                                    <a href="{{ path('frameworks_show', {'rmNumber':  item.content.rm_number }) }}">{{ item.content.title }}</a> {# <strong class="govuk-tag govuk-tag--subtle">{{ item.content.status }}</strong> #}
                                    {% if item.content.status == 'Expired - Data Still Received' %}
                                        <span class="govuk-tag ccs-tag ccs-tag--error">Expired: {{ item.content.end_date.format('d/m/Y') }}</span>
                                    {% endif %}
                                </h3>
                                <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                    <li><strong>Framework
                                            ID:</strong> {{ item.content.rm_number }}
                                    </li>
                                    <li><strong>Start
                                            Date:</strong> {{ item.content.start_date.format('d/m/Y') }}
                                    </li>
                                    {% if item.content.status != 'Expired - Data Still Received' %}
                                        <li><strong>End
                                                Date:</strong> {{ item.content.end_date.format('d/m/Y') }}
                                        </li>
                                    {% endif %}
                                </ul>
                                <p class="govuk-body-s">{{ item.content.summary | striptags | raw }}</p>
                            </li>
                        {% endfor %}
                    </ul>



                    {# Pagination #}
                    {% if pillar is defined %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_list_by_pillar', 'options': {'pillar': pillar_slug}} %}
                    {% elseif category is defined %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_list_by_category', 'options': {'category': category_slug}} %}
                    {% elseif query is defined %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_search', 'options': {'q': query, 'limit': pagination.resultsPerPage}} %}
                    {% else %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_list', 'options': {}} %}
                    {% endif %}

                    {% if pagination.totalPages > 1 %}
                        {{ include('includes/pagination.html.twig', pagination_data) }}
                    {% endif %}

                </div>
            </div>


        </main>
    </div>



{% endblock %}
