{% extends 'base.html.twig' %}

{% block body %}


   <!-- required wrapper 1 -->
   <div class="govuk-width-container">

      <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

      <div class="govuk-phase-banner">
         <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag ">
               beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
         </p>
      </div>

      <div class="govuk-breadcrumbs">
         <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="/frameworks">Search frameworks</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="{{ path('frameworks_show', {'rmNumber':  metadata.framework_rm_number }) }}">{{  metadata.framework_title }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
               Suppliers on Lot {{ metadata.lot_number }}
            </li>
         </ol>
      </div>


      {#{{ dump(results) }}#}

      <!-- required wrapper 2 -->
      <main id="main-content"  class="govuk-main-wrapper">



         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">



               {#<ul>#}
                   {#{% for supplier in lot.suppliers %}#}
                      {#<li>{{ supplier.name }}</li>#}
                   {#{% endfor %}#}
               {#</ul>#}


               <h1 class="govuk-heading-xl page-title">Lot {{ metadata.lot_number }}: {{ metadata.lot_title }}</h1>

               <p class="govuk-body-l govuk-!-font-weight-bold">{{ pagination.totalResults }} suppliers on this lot.</p>


               <ul class="govuk-list govuk-list--suppliers">
                  {% for item in results %}
                      <li>
                         <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22">{{ item.content.supplier_name }}</h3>
                         <ul class="govuk-list govuk-!-font-size-17featured">
                            <li>Linked list of Frameworks where this supplier appears</li>
                            {#<li><a href="sdg">Network services name of (RM12344)</a></li>#}
                            {#<li><a href="sdg">Network services name of (RM12344)</a></li>#}
                            {#<li><a href="sdg">Network services name of (RM12344)</a></li>#}
                         </ul>
                      </li>
                   {% endfor %}
               </ul>




               {# Pagination #}
               {%  set pagination_data = {'pagination': pagination, 'route': 'frameworks_lot_suppliers', 'options': {'rmNumber': metadata.framework_rm_number, 'lotNumber': metadata.lot_number }} %}

               {% if pagination.totalPages > 1 %}
                  {{ include('includes/pagination.html.twig', pagination_data) }}
               {% endif %}



            </div>
            <div class="govuk-grid-column-one-third">



               <aside class="aside">

                  <div class="apollo-enclosure">

                      {#<h2 class="aside__heading">Lot description</h2>#}

                      {#<p class="govuk-body govuk-!-font-size-16">#}
                      {#Ranged connectivity services: site-to-site or site-to-cloud. Includes terrestrial, wireless and satellite solutions, network security, equipment, support, connectivity circuits, IP connectivity, ISP and internet services, broadband routing, home and teleworker packages and online storage.#}
                      {#</p>#}

                     <h2 class="aside__heading">Framework</h2>
                     <p class="govuk-body govuk-!-font-size-16">
                        <a href="{{ path('frameworks_show', {'rmNumber': metadata.framework_rm_number }) }}">{{ metadata.framework_title }} ({{ metadata.framework_rm_number }})</a>
                     </p>

               </aside>


            </div>

         </div>


      </main>
   </div>


{% endblock %}
