{% extends 'base.html.twig' %}

{% block title %} Management Consultancy Framework Three (MCF3) - CCS {% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/agreements">Search
                        agreements</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Management Consultancy Framework Three (MCF3)
                </li>
            </ol>
        </div>

        <main id="main-content" role="main" class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl page-title cat-agrement-page-title">Management Consultancy Framework Three (MCF3)</h1>
                    <p class="govuk-body-s agreement-subtitle">Access to consultancy including business, strategy and policy, finance, HR, procurement, health/social care and community, infrastructure and environment.</p>

                                            
                    <div>
                        <p class="govuk-body agreement-overview">Agreement number: <strong> RM6187 </strong></p>
                        <p class="govuk-body agreement-overview">Start date: <strong> 24 August 2021 </strong></p>
                        <p class="govuk-body agreement-overview">End date: <strong> 23 August 2025 </strong></p>
                    </div>
                    
                    </br>
                    
                    <p ><strong>Available for:</strong> Central government, the wider public sector, charities, voluntary and community organisations, education, health, local authorities, blue light (police, fire, ambulance and search and rescue), devolved administrations, social housing organisations. </p>

                    </br>

                    <div>
                    <h3 class="govuk-heading-s" id="contents">Contents</h3>

                    <ul class="govuk-list govuk-list--bullet">
                        <li> <a class="govuk-link govuk-link--no-visited-state" href="#ataglance">At a glance</a></li>
                        <li> <a class="govuk-link govuk-link--no-visited-state" href="#products">Products and suppliers</a></li>
                        <li> <a class="govuk-link govuk-link--no-visited-state" href="#documents">Documents</a></li>
                        <li> <a class="govuk-link govuk-link--no-visited-state" href="#benefitsofccs">The benefits of using CCS</a>
                        </li>
                    </ul>
                    </div>

                    </br>

                    {% include 'frameworks/at-a-glance-for-RM6187.html.twig'%}

                    </br>


                    <h2 class="govuk-heading-m" id="products">Products and suppliers</h2>

                    <div class="govuk-inset-text">
                        <p><strong>You can now procure online with CCS.</strong> <br>Please select a lot to start.</p>
                    </div>

                    <div class="grey-margin-bottom" id="agreement-lots"></div>
                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%201">Lot 1 Business</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective advice relating to strategy, structure, management or operations of an organisation. This may include identifying options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '1' }) }}">80 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%202">Lot 2 Strategy & Policy</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Strategic objective advice relating to corporate strategies or government policy. This may include identifying options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '2' }) }}">36 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%203">Lot 3 Complex and Transformation</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective advice on complex programmes or portfolios of work which may be multi-disciplinary and/or transformational. This may include identification of options with recommendations, as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '3' }) }}">30 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%204">Lot 4 Finance</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective strategic and operational financial advice. This may include identification of options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '4' }) }}">25 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%205">Lot 5 HR</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective advice on HR which may include identification of options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '5' }) }}">29 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%206">Lot 6 Procurement and Supply Chain</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective advice in relation to procurement and supply chain. This may include identification of options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '6' }) }}">35 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%207">Lot 7 Health, Social Care and Community</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective specialist advice in areas related to health, social care and / or community. This may include identification of options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '7' }) }}">41 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%208">Lot 8 Infrastructure Including Transport</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective specialist advice on areas related to infrastructure and/or transport. This may include identification of options with recommendations.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '8' }) }}">44 suppliers</a></p>
                            </dd>
                        </dl>

                        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
                            <dt class="apollo-list--definition__key">
                                <span class="apollo-list--definition__key__inner"><a href="{{ cat_domain }}/agreement/lot?agreement_id=RM6187&lotNum=Lot%209">Lot 9 Environmental Sustainability & Socio-Economic Development</a></span>
                            </dt>
                            <dd class="apollo-list--definition__value">
                                <p>Objective strategic advice in areas related to environmental and/or sustainability. This may include identification of options with recommendations as well as implementation and delivery.</p>
                                <p>Expires: 23/08/2025</p>
                                <p><a href="{{ path('frameworks_lot_suppliers', {'rmNumber': 'RM6187', 'lotNumber': '9' }) }}">41 suppliers</a></p>
                            </dd>
                        </dl>


                    


                    <div>
                        <h2 class="govuk-heading-m" id="documents">Documents</h2>
                        <p>Each section below has the links to the documents, what they are for, when to use them and if you need to enter any information into them.</p>
                        <p>You might not need all the contractual documents to buy the products or services from this agreement.</p>
                    </div>

                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Customer Guide</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Before buying from this agreement you should read the customer guide and how to use contractual documents.</p>
                                <p>The customer guide will help you understand how the agreement works and what you can or can't use the agreement for.</p>
                                <p>This section might also include further guides or lists you will need to look at and make selections from, as well as previous webinar slides and Q&A scripts from sessions with buyers and suppliers.</p>

                                <ul class="govuk-list">
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Customer-Guidance-.docx.odt">RM6187 Customer guide</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-MCF3-How-to-use-Contractual-Documents-.odt">RM6187 How to use contractual documents</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Customer-Social-Value-guide.ods">RM6187 Customer social value guide</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Benchmarking.docx.pdf">RM6187 Benchmarking document</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-MCF3-Lot-descriptions.pdf">RM6187 Lot descriptions</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/MCF3-RM6187-CPV-.ods">RM6187 CPV codes</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-MCF3-Grade-Definitions-.pdf">RM6187 Grade definitions</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Core terms and conditions</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <p>The core terms form part of the framework and call-off contracts and must be used on every contract. They cannot be changed.</p>
                                <p>The core terms are CCS's standard commercial terms. They govern the supplier's relationship with CCS and every customer who has a call-off contract.</p>

                                <ul class="govuk-list">
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Core-Terms-.odt">RM6187 Core terms and conditions</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Call-off order form</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <p>When a customer decides to buy from a supplier, they'll complete an order form with important information about the call-off contract.</p>
                                <p>Customers can change any of their chosen schedules by adding special terms in the call-off order form.</p>
                                <br>
                                <p>A completed order form will contain:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>what will be supplied</li>
                                    <li>how it will be supplied</li>
                                    <li>how much it will cost</li>
                                    <li>contact details for suppliers and customers</li>
                                    <li>a list of all the call-off and joint schedules</li>
                                </ul>
                                <br>
                                <p>The call-off contract will be created when both parties either agree to:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>sign a completed order form</li>
                                    <li>create a binding electronic purchase order which includes the information in the order form</li>
                                </ul>
                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-6_-Order-Form-and-Call-Off-Schedules-3.odt">RM6187 Call-off order form</a></p>
                            </div>
                        </div>

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Joint schedules</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <p class="joint-schedule-title"><a href="linksadnjsakdnkas"><strong>RM6187 Joint Schedule 1 Definitions</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">This defines significant words and phrases used in the core terms and template schedules. You will need to add any new definitions specifically needed for your contract, and add them as special terms in your call-off order form.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-2_-Variation-Form.odt"><strong>RM6187 Joint Schedule 2 Variation Form</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document.</p>
                                <p class="joint-schedule-title">Explains the format for formally documenting any contract changes you may need.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-3_-Insurance-Requirements.odt"><strong>RM6187 Joint Schedule 3 Insurance Requirements</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">An essential schedule that captures the supplier's basic obligations for any insurances needed at the framework level, and mandating that the supplier must give you any additional insurances that you specify in your order form.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-4-Commercially-Sensitive-Information-.odt"><strong>RM6187 Joint Schedule 4 Commercially Sensitive Information</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">You should ask your supplier to tell you if any of the information they provided is commercially sensitive such that they would not want it disclosed in response to a Freedom of Information (FOI) request. Their response will provide the content for this schedule but it is your decision if the relevant information would be withheld if a relevant FOI request was received.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-5_-Corporate-Social-Responsibility-.odt"><strong>RM6187 Joint Schedule 5 Corporate Social Responsibility</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">This is a core schedule that sets out basic corporate social responsibility (CSR) or social value requirements that apply to all suppliers in the agreement. You may have your own CSR or social value requirements to include in your contract and, where you have specified that as part of a competition, these must be satisfied.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-6_-Key-Subcontractors.odt"><strong>RM6187 Joint Schedule 6 Key Sub-Contractors</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">You only need this document if the supplier uses one or more key-subcontractors to fulfil its obligations under your contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-7_-Financial-Difficulties-1.odt"><strong>RM6187 Joint Schedule 7 Financial Difficulties</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">If a supplier has any financial difficulty when you use your call-off you will need to use this schedule to monitor their financial standing and any consequences of changes to this.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-8_-Guarantee-.odt"><strong>RM6187 Joint Schedule 8 Guarantee </strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">You can use this schedule when you want assurance provided by a third party guarantor that the supplier's obligations will be met, because you are concerned about the financial status of your supplier.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-9_-Minimum-Standards-of-Reliability-.odt"><strong>RM6187 Joint Schedule 9 Minimum standards of reliability</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">A requirement for suppliers to demonstrate minimum standards of reliability in relation to high value contracts.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-10_-Rectification-Plan-.odt"><strong>RM6187 Joint Schedule 10 Rectification Plan</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">This explains the format for any rectification plan that your supplier may have to provide in the event that you experience a supplier default.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Joint-Schedule-11_-Processing-Data-.odt"><strong>RM6187 Joint Schedule 11 Processing Data</strong></a></p>
                                <p class="joint-schedule-title">Essential document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">This schedule addresses the processing of any personal data associated with the performance of your contract. Normally, in terms of data protection rules:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>the customer will be the controller, specifying the purpose and means of processing personal data</li>
                                    <li>the supplier will be the processor, carrying out such processing under the instructions of the controller</li>
                                </ul>
                                <p>In these circumstances you will need to clearly set out what personal data you are authorising the supplier to process, by using the data processing template available in this document.</p>
                                <p>In certain circumstances the customer and the supplier may decide that they have a joint controller relationship in respect of the processing of certain personal data in relation to an order contract. Where this is the case Annex 2 of the schedule must be used, and the data must be written in the data processing template.</p>
                                <p class="joint-schedule-title">Finally, there may be circumstances under which, for certain personal data, the supplier will maintain that they will be the controller without the customer being either a joint controller or processor.  In this instance this should also be written in the data processing template.</p>

                                <br>

                                <p class="joint-schedule-title">Joint Schedule 12: Not used</p>
                            </div>
                        </div>

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Call-off schedules</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Call-off schedules are used when suppliers sell their goods or services to customers.</p>
                                <p>You can choose which schedules to include and whether to edit these template schedules when they form a call-off contract.</p>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-1-_Transparency-Reports-.odt"><strong>RM6187 Call-Off Schedule 1 Transparency Reports</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">Information about the call-off contract you need from the supplier so that you can meet your public accountability and transparency requirements.
                                If needed, you can complete Annex A: List of transparency reports which is in this document.
                                </p>

                                <br>

                                <p class="joint-schedule-title">Call-Off Schedule 2: Not used</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-3_-Continuous-Improvement-.odt"><strong>RM6187 Call-Off Schedule 3 Continuous Improvement</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">If included as part of the schedule it means the supplier will need to make sure they try to identify new or potential improvements to how they meet the needs of the project, including through regular reviews with the customer.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-4_-Call-Off-Tender-.odt"><strong>RM6187 Call-Off Schedule 4 Call-Off Tender</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">Add the supplier's bid into this document, including anything additional they offered that you would like included in the contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-5_-Pricing-Details-.odt"><strong>RM6187 Call-Off Schedule 5 Pricing Details</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">This schedule should be used to show more detailed pricing information as well as the pricing in the order form.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-6_-ICT-Services-.odt"><strong>RM6187 Call-Off Schedule 6 ICT services</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">Additional provisions necessary to facilitate the provision of ICT Services which are part of the deliverables of the call-off contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-7_-Key-Supplier-Staff-.odt"><strong>RM6187 Call-Off Schedule 7 Key Supplier Staff</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">This schedule makes sure that any key staff identified from the supplier will fill the key roles throughout the contract, and states what the supplier will do if any of the key staff are unavailable for a specified period of time.</p>

                                <br> 

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-8_-Business-Continuity-and-Disaster-Recovery-.odt"><strong>RM6187 Call-Off Schedule 8 Business Continuity and Disaster Recovery</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">What the supplier must do to make sure the call-off contract can still be delivered even if there's an unexpected event. Use if:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>call-off contracts will be critical for the customer's organisation</li>
                                    <li>it would be difficult to replace the supplier if things go wrong</li>
                                </ul>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-9_-Security-.odt"><strong>RM6187 Call-Off Schedule 9 Security</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">What the supplier must do to make sure that customer data and deliverables are kept secure.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-10_-Exit-Management-.odt"><strong>RM6187 Call-Off Schedule 10 Exit Management</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">What the supplier needs to do at the end of a call-off contract to help the customer continue to deliver public services.</p>

                                <br>

                                <p class="joint-schedule-title">Call-Off Schedule 11: Not used</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-12_-Clustering-.odt"><strong>RM6187 Call-Off Schedule 12 Clustering</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">You can use this schedule if other customers (contracting authorities) want to join with you to buy using a single call-off, instead of lots of individual call-off contracts.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-13_-Implementation-Plan-and-Testing-.odt"><strong>RM6187 Call-Off Schedule 13 Implementation Plan & Testing</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">The agreed plan for when the services will be delivered and tested to ensure they meet your needs.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-14_-Service-Levels-.odt"><strong>RM6187 Call-Off Schedule 14 Service Levels</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">The standards of service required by the customer and what happens when these are not met.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-15_-Call-Off-Contract-Management-.odt"><strong>RM6187 Call-Off Schedule 15 Call-Off Contract Management</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">How supplier and customer should work together on the call-off contract. We recommend using this document if you need to collaborate with the supplier to monitor and manage the call-off contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-16_-Benchmarking.odt"><strong>RM6187 Call-Off Schedule 16 Benchmarking</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">A process for comparing the value of the supplier against other providers in the market. We recommend you use this document if you need to benchmark the pricing to make sure you receive good market value over the life of the contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-17_-MOD-Terms-.odt"><strong>RM6187 Call-Off Schedule 17 MOD Terms</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">For Ministry Of Defence (MOD) customers only</p>
                                <p class="joint-schedule-title">Any additional terms needed by the MOD.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-18_-Background-Checks-.odt"><strong>RM6187 Call-Off Schedule 18 Background Checks</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">You will need to enter details in this document</p>
                                <p class="joint-schedule-title">This schedule is used when supplier staff must be vetted for any relevant convictions before working on the contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-19_-Scottish-Law-.odt"><strong>RM6187 Call-Off Schedule 19 Scottish Law</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">Switches the interpretation of the call-off contract to Scottish law.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-20_-Specification-.odt"><strong>RM6187 Call-Off Schedule 20 Call-Off Specification</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">More information about your specification from the order form.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-21_-Northern-Ireland-Law-.odt"><strong>RM6187 Call-Off Schedule 21 Northern Ireland Law</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">Switches the interpretation of the call-off contract to Northern Ireland law.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Call-Off-Schedule-23_-HMRC-Schedule-.odt"><strong>RM6187 Call-Off Schedule 23 HMRC Terms</strong></a></p>
                                <p class="joint-schedule-title">Optional document</p>
                                <p class="joint-schedule-title">If you use this schedule, you will need to enter details in this document</p>
                                <p class="joint-schedule-title">For HMRC customers only</p>
                                <p class="joint-schedule-title">Any additional terms needed by HMRC.</p>


                            </div>
                        </div>

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Framework schedules</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Framework schedules are used by CCS to set up the agreement with suppliers.</p>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-1_-Specification.odt"><strong>RM6187 Framework Schedule 1 Specification</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">What CCS expects the supplier to provide to customers.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-2_-Framework-Tender-.odt"><strong>RM6187 Framework Schedule 2 Framework Tender</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">How the supplier proposes to meet the specification requirements.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-3_-Framework-Prices-.odt"><strong>RM6187 Framework Schedule 3 Framework Prices </strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">Maximum rates the supplier can charge for services under the framework contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-4_-Framework-Management-.odt"><strong>RM6187 Framework Schedule 4 Framework Management</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">Describes how CCS and the supplier will manage the framework contract.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-5_-Management-Charges-and-Information-.odt"><strong>RM6187 Framework Schedule 5 Management Charges and Information </strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">Describes the management charges and information process and charges between CCS and the suppliers at framework contract level.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-6_-Order-Form-and-Call-Off-Schedules-3.odt"><strong>RM6187 Framework Schedule 6 Order forms and call-off schedules</strong></a></p>
                                <p class="joint-schedule-title">You will need to enter details in this document.</p>
                                <p class="joint-schedule-title">If you already completed the order form in the Call-off order form section, you won’t need to complete this document, because they are the same.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-7_-Call-Off-Award-Procedure-.odt"><strong>RM6187 Framework Schedule 7 Call-Off Award Procedure</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">The process a customer must follow to award a call-off contract, which needs to be clearly stated in your further competition documents.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-8_-Self-Audit-Certificate-1.odt"><strong>RM6187 Framework Schedule 8 Self Audit Certificate</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">CCS requires suppliers to provide a self audit certificate following an annual self audit to verify their accounts.</p>

                                <br>

                                <p class="joint-schedule-title"><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-Framework-Schedule-9_-Cyber-Essentials-Scheme-.odt"><strong>RM6187 Framework Schedule 9 Cyber Essentials Scheme</strong></a></p>
                                <p class="joint-schedule-title">Read only</p>
                                <p class="joint-schedule-title">What the supplier has to do to to maintain cyber security accreditation.</p>

                            </div>
                        </div>

                         <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Templates</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                 <ul class="govuk-list">
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T1-Expression-of-Interest-2.odt">RM6187 T1 Expression of interest</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-T2-Attachment-3-Statement-of-Requirements-.docx.odt">RM6187 T2 Attachment 3: statement of requirements</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-T3-Non-Disclosure-Agreement-NDA.odt">RM6187 T3 Non Disclosure Agreement (NDA)</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T4-Request-for-Information-.odt">RM6187 T4 Request for information</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-T5-Attachment-1-About-the-Procurement.odt">RM6187 T5 attachment 1 about the procurement</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-T6-Attachment-2-How-to-Bid-including-Evaluation-Criteria-.odt">RM6187 T6 Attachment 2: how to bid including evaluation criteria</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T7-Attachment-4-Pricing-Schedule.-.ods">RM6187 T7 Attachment 4: pricing schedule</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T8-Clarification-Questions-Log-.ods">RM6187 T8 clarification questions log</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T9-Evaluator-Competency-Profile-1.odt">RM6187 T9 evaluator competency profile</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T10-Evaluator-Conflict-of-Interest-MCF3-.odt">RM6187 T10 evaluator conflict of interest MCF3</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T11a-Award-Letter-1.odt">RM6187 T11a award letter</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T11b-Unsuccessful-Letter-1.odt">RM6187 T11b unsuccessful letter</a></li>
                                    <li><a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/T12-Notification-CCS-of-Non-compliance-.odt">RM6187 T12: notification CCS of non-compliance</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    </br>

                    <div>
                        <h2 class="govuk-heading-m" id="benefitsofccs">The benefits of using CCS</h2>
                        <iframe src="https://www.youtube-nocookie.com/embed/mn-3isisTGM" allowfullscreen="" width="560" height="315"></iframe>
                    </div>

                    <div class="app-c-print-link">
                        <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
                    </div>

                </div>

                <div class="govuk-grid-column-one-third">

                    <aside class="aside">
                        <div class="apollo-enclosure">
                            <h2 class="aside__heading">Contact</h2>
                            <p >You can contact us by email, phone or using the <a class="govuk-link" href="/contact">enquiry form</a>.</p>

                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Email:</h3>
                            <p ><a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></p>

                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
                            <p ><a href="tel:03454102222">0345 410 2222</a></p>

                            <p >CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
                        </div>
                        <div class="apollo-enclosure">
                            <h2 class="aside__heading">Do you need an accessible version of a document?</h2>
                            <p ></p>

                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Email:</h3>
                            <p ><a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></p>

                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
                            <p ><a href="tel:03454102222">0345 410 2222</a></p>
                        </div>

                    </aside>
                </div>
            </div>
        </main>
    </div>
{% endblock %}



{% block nonblocking_javascript %}
    <script>
        const detailsSummarySpan = document.getElementById("details-summary");

        detailsSummarySpan.addEventListener('click', event => {
            if(document.getElementById("details-summary").textContent == "Show previous updates"){
                document.getElementById("details-summary").textContent="Hide previous updates";
            }else{
                document.getElementById("details-summary").textContent="Show previous updates";
            }
        });
    </script>
{% endblock %}