{% extends 'base.html.twig' %}

{% block title %}Digital Specialists and Programmes - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">
        <div class="govuk-phase-banner">{% include '/includes/phase-banner-content.html.twig' %}</div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="{{ path('frameworks_list') }}">Search agreements</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/agreements/RM6263">Digital Specialists and Programmes</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Lot {{ lotNumber }} : {{ lotTitle }}</li>
            </ol>
        </div>


        <main id="main-content" class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl page-title">Lot {{ lotNumber }} {{ lotTitle }}</h1>

                    <p class="govuk-body agreement-overview">Agreement name: <strong> Digital Specialists and Programmes </strong></p>
                    <p class="govuk-body agreement-overview">Agreement ID: <strong> RM6263 </strong></p>
                    <p class="govuk-body agreement-overview">Expiry date: <strong> {{ expiryDate }} </strong></p>

                    <div class="govuk-inset-text">
                        <p>
                            <b>You can now procure online with CCS.</b> </br>
                            <a href="" class="govuk-link govuk-link--no-visited-state">Sign in or create an account.</a>
                        </p>
                    </div>

                    <h2 class="govuk-heading-l" id="Description"> Description </h2>

                    {{ lotDescription| raw }}

                    <div class="grey-margin-bottom"></div>

                    <p>Take a look at and download the <a href="" class="govuk-link govuk-link--no-visited-state">lot supplier list (xx suppliers)</a> </p>
                    <br>
                    <div class="grey-margin-bottom"></div>

                    <p>To use this service you will need to sign in to, or create an account for, the Public Procurement Gateway.</p>
                    <p>The Public Procurement Gateway helps you to access the different procurement services available to the public sector.</p>

                    <a href="" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Sign in or create an account</a>
                    
                    <div class="grey-margin-bottom"></div>

                    <h3 class="govuk-heading-l"> Before you start</h3>
                    <p class="govuk-body">
                        You will need to decide the approach and stages to your procurement. These may include:
                        <ul class="govuk-list govuk-list--bullet">
                            <li><b>Request for Information (RfI):</b> this is used to gather market intelligence on similar projects scope, duration and learning from other projects</li>
                            <li><b>Call-off Further Competition Capability Assessment:</b> this is used to ask key questions of suppliers with a view to identifying a smaller number of suppliers</li>
                            <li><b>Call-off Further Competition:</b> this is used to compare the relative merits of the shortlisted suppliers tender responses based on an evaluation of qualitative, commercial and social value criteria</li>
                        </ul>

                        <p>or</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li><b>Direct Award:</b> this is used to assess a single supplier tender responses based on an evaluation of qualitative, commercial and social value criteria, having regard to the buyer's internal policies for direct award as well as Public Contract Regulation</li>
                        </ul>
                    </p>
                    <h3 class="govuk-heading-m"><b>To buy from this lot you will need to follow the steps below:</b></h3>
                    
                    <ol class="govuk-list govuk-list--number">
                        <li>
                            <h3>Take a look at the available suppliers</h3>
                            <p class="govuk-body">Every supplier is checked to make sure they can supply the products or services offered by the commercial agreement. </p> 
                        </li>

                        <li>
                            <h3>Do pre-market engagement</h3>
                            <p class="govuk-body">You can ask suppliers questions, before formally publishing your requirements, to find out what products and services are available, or refine your needs. For the lot you selected, you can choose one of the options below:</p> 
                            <p><b>Request for Information (RfI)</b></p>
                            <p>Gather information for your project from suppliers about the products and services they offer, and the commercial terms needed to buy them.</p>
                        </li>

                         <li>
                            <h3>Write and publish your requirements</h3>
                            <p class="govuk-body">Write and publish your bid-pack for suppliers, who can then submit their responses to your requirements and compelte any other evaluation tasks set by you.</p> 
                            <p class="govuk-body">You will need a clear set of criteria that suppliers will need to meet, and be evaluated against. You will also need to include how you will score their responses.</p> 
                            <p class="govuk-body">For the lot you selected, you can run your procurement in one of the following ways:</p> 
                            <p class="govuk-body"><b>One stage further competition</b></p> 
                            <p class="govuk-body">You will need to invite all suppliers to bid for your opportunity and assess all bids that are submitted.</p> 
                            <p class="govuk-body"><b>Two stage further competition</b></p> 
                            <p class="govuk-body">You can shortlist the suppliers to find the ones most suitable for your procurement using a capability assessment tool.</p> 
                            <p class="govuk-body"><b>Direct award</b></p> 
                            <p class="govuk-body">Based on the supplier responses you receive, if you find a single supplier who can meet your needs you can choose to award your contract directly to them after completing a capability assessement.</p> 
                            <p class="govuk-body">You need to complete this step before you can award your contract.</p> 
                        </li>

                         <li>
                            <h3>Award your contract</h3>
                            <p class="govuk-body">When you have completed your evaluation and found a suitable supplier, you can award your contract.</p> 
                            <p class="govuk-body">You will need to give feedback to any unsuccessful suppliers.</p>
                        </li>

                         <li>
                            <h3>Publish your contract</h3>
                            <p class="govuk-body">You need to publish the contract on <a href="" class="govuk-link govuk-link--no-visited-state">Contracts Finder</a>. This is a legal requirement.</p> 
                        </li>
                    </ol>
                    <br>
                    <div class="grey-margin-bottom"></div>
                    <a href="#Description" class="govuk-link govuk-link--no-visited-state">Back to top</a>
                </div>

                <div class="govuk-grid-column-one-third">

                <aside class="aside">
                    <div class="apollo-enclosure">
                        <h2 class="aside__heading">Contact</h2>
                        <p >You can contact us by email, phone or using the <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">enquiry form</a>.</p>

                        <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Email:</h3>
                        <p ><a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></p>

                        <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
                        <p ><a href="tel:03454102222">0345 410 2222</a></p>

                        <p >CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
                    </div>
                </aside>
            </div>
        </main>
    </div>

{% endblock %}