{% extends 'base.html.twig' %}

{% block title %}{{ framework.content.title }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% set frameworkStatus = null %}

    {# Take today's date and subtract 3 months from it #}
    {% set today = "now"|date_modify("-3 months")|date('Y-m-d') %}
    {# Do a range comparison using http://php.net/manual/en/datetime.diff.php #}
    {% set difference = date(today).diff(date(framework.content.start_date)) %}

    {# This is for debugging only #}
    {#{% if difference.invert %}#}
    {#this date is further than 3 months#}
    {#{% else %}#}
    {#this date is in range#}
    {#{% endif %}#}

    {# difference.invert will be FALSE for frameworks which are Upcoming #}

    {% if framework.content.status == "Future (Pipeline)" %}
        {% set frameworkStatus = "upcoming" %}
    {% elseif framework.content.status == "Planned (Pipeline)" %}
        {% set frameworkStatus = "upcoming" %}
    {% elseif framework.content.status == "Underway (Pipeline)" %}
        {% set frameworkStatus = "upcoming" %}

    {% elseif framework.content.status == "Live" and framework.content.terms == "DPS" and framework.content.type == "Upcoming deal" %}
        {# Dynamic Purchasing Systems currently open that have NOT been set as Upcoming deals in WP #}
        {% set frameworkStatus = "upcoming" %}
    {% elseif (framework.content.status == "Awarded (Pipeline)" or (framework.content.status == "Live" and framework.content.terms != "DPS" and not difference.invert) ) %}

    {# Procurements recently awarded #}
        {% if framework.content.type == "Upcoming deal" %}
            {% set frameworkStatus = "upcoming" %}
        {% else %}
            {% set frameworkStatus = "live" %}
        {% endif %}

    {% else %}
        {% set frameworkStatus = "live" %}
    {% endif %}

    {#{{ frameworkStatus }}#}
    {#{{ framework.content.status }}#}
    {#{{ framework.content.terms }}#}
    {#{{ framework.content.type }}#}


    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="{{ path('frameworks_list') }}">Search agreements</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ framework.content.title }}</li>
            </ol>
        </div>

        <main id="main-content" role="main" class="govuk-main-wrapper">

            {% if framework.content.type == "CAS framework" and frameworkStatus == "live" %}

                {% include 'frameworks/cas-framework.html.twig' with {'framework': framework} %}
            
            {% else %}
                {% if frameworkStatus == "live" %}

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">

                            {% if framework.content.status == 'Expired - Data Still Received' %}
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Important</span>
                                        Expired agreement - This information is for reference only
                                    </strong>
                                </div>
                            {% endif %}

                        </div>
                    </div>


                    {% set indexForAccordion = 0 %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                            <h1 class="govuk-heading-xl page-title">{{ framework.content.title }}</h1>

                            {% if framework.content.summary and framework.content.summary != "" %}
                                <div class="govuk-body-l">{{ framework.content.summary | striptags | raw }}</div>
                            {% endif %}

                            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                                {% if framework.content.updates and framework.content.updates != "" %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ indexForAccordion }}">
                                                Updates
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">

                                            <div class="wysiwyg-content">
                                                {{ framework.content.updates | raw }}
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}

                                {% if framework.content.description and framework.content.description != "" and framework.content.status != 'Expired - Data Still Received' %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" aria-controls="accordion-default-content-{{ indexForAccordion }}" id="accordion-default-heading-{{ indexForAccordion }}">
                                                Description
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">

                                            <div class="wysiwyg-content">
                                                {{ framework.content.description | raw }}
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}

                                {% if framework.content.benefits and framework.content.benefits != "" and framework.content.status != 'Expired - Data Still Received' %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ indexForAccordion }}">
                                                Benefits
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">

                                            <div class="wysiwyg-content">
                                                {{ framework.content.benefits | raw }}
                                            </div>
                                            {% if framework.content.crp_compliant and show_crp %}
                                                <div>
                                                    <h3>Carbon Reduction</h3>
                                                    <p>All suppliers for this agreement have committed to comply with the <a href="https://www.gov.uk/government/publications/procurement-policy-note-0621-taking-account-of-carbon-reduction-plans-in-the-procurement-of-major-government-contracts"
                                                    class="govuk-link">Procurement Policy Note 06/21: 'Taking account of Carbon Reduction Plans in the procurement of major government contracts'</a> as required. If a supplier is required to publish a carbon reduction plan, you can find it on their individual supplier details page.</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if framework.content.lots and framework.content.lots != "" and framework.content.status != 'Expired - Data Still Received' %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ indexForAccordion }}">
                                                Products and suppliers
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">

                                            {% if framework.content.terms == "DPS" %}
                                                <p>Please read the 'How to buy' tab
                                                    below for detailed instructions on
                                                    how to find out which suppliers are
                                                    on this agreement.</p>

                                            {% elseif framework.content.terms == "DOS" or framework.content.terms == "G-Cloud" %}
                                                <p>
                                                    <a href="https://www.digitalmarketplace.service.gov.uk/">Digital
                                                        Marketplace</a> has the
                                                    constantly updated list of the
                                                    suppliers on this agreement.</p>

                                                {# Only link to suppliers if the item is not DPS or G-cloud #}
                                            {% else %}

                                                <p>There are
                                                    <a href="{{ path('frameworks_suppliers', {'rmNumber': framework.content.rm_number }) }}">{{ framework.content.total_suppliers }}
                                                        suppliers</a> on this agreement
                                                </p>

                                            {% endif %}


                                            <dl class="apollo-list apollo-list--definition">
                                                {% for lot in framework.content.lots %}
                                                    <dt class="apollo-list--definition__key">
                                                        <span class="apollo-list--definition__key__inner">Lot {{ lot.lot_number }}: {{ lot.title|raw }}</span>

                                                        {% if lot.status == "Expired" or lot.status == "Expired - Data Still Received" %}
                                                            <span class="govuk-tag ccs-tag ccs-tag--error">Expired: {{ lot.expiry_date.format('d/m/Y') }}</span>
                                                        {% elseif lot.expiry_date is defined and lot.expiry_date is not null and lot.expiry_date < framework.content.end_date %}
                                                            {# Output a message if the lot expires before the framework #}
                                                            <span class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--lower-case">Lot expires before framework: <time>{{ lot.expiry_date.format('d/m/Y') }}</time></span>
                                                        {% endif %}
                                                    </dt>
                                                    <dd class="apollo-list--definition__value">
                                                        {% if lot.description %}
                                                            <div class="govuk-!-margin-bottom-2">{{ lot.description |replace({"&nbsp;": "</br>"})| raw   }}</div>
                                                        {% endif %}

                                                        {# don't show this information if the lot has expired already #}
                                                        {% if lot.status != "Expired" and lot.status != "Expired - Data Still Received" %}
                                                            {# Sometimes, such RM1018, lots are `null` so check for both #}
                                                            {% if lot.expiry_date is defined and lot.expiry_date is not null and lot.expiry_date >= framework.content.end_date %}
                                                                <p class>Expires:
                                                                    <time>{{ lot.expiry_date.format('d/m/Y') }}</time>
                                                                </p>
                                                            {% endif %}

                                                            {% if framework.content.terms == "Standard" %}
                                                                {% if lot.suppliers|length == 0 %}
                                                                    <p>No suppliers</p>
                                                                {% else %}
                                                                    <p>
                                                                        <a href="{{ path('frameworks_lot_suppliers', {'rmNumber': framework.content.rm_number, 'lotNumber': lot.lot_number }) }}">{{ lot.suppliers|length }}
                                                                            suppliers</a>
                                                                    </p>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}

                                                    </dd>
                                                {% endfor %}
                                            </dl>

                                        </div>
                                    </div>
                                {% endif %}

                                {% if framework.content.how_to_buy and framework.content.how_to_buy != "" and framework.content.status != 'Expired - Data Still Received' %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ indexForAccordion }}">
                                                How to buy
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">

                                            <div class="wysiwyg-content">
                                                {{ framework.content.how_to_buy | raw }}
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}

                                {% if framework.content.documents and framework.content.documents != "" %}
                                    {% set indexForAccordion = indexForAccordion + 1 %}
                                    <div class="govuk-accordion__section ">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ indexForAccordion }}">
                                                Documents
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-{{ indexForAccordion }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ indexForAccordion }}">


                                        {% if framework.content.document_updates and framework.content.document_updates != "" %}

                                            <div class="wysiwyg-content">

                                                <h3>Updates</h3>

                                                {{ framework.content.document_updates | raw }}

                                                <h3>Documents</h3>

                                            </div>

                                        {% endif %}

                                            {#<h3 class="govuk-heading-s">Updates</h3>#}
                                            {#<p class="govuk-body">15/10/2018 - Further#}
                                            {#Competition Template updated We now have a#}
                                            {#new section that is particularly relevant#}
                                            {#for long-term contracts.#}

                                            {#25/04/2018 - Order form updated The new form#}
                                            {#now includes a longer description field.#}
                                            {#</p>#}

                                            <ul class="govuk-list">
                                                {% for document in framework.content.documents %}
                                                    <li>
                                                        <a class="framework-document" onclick="fileDownload('{{ document.url }}', '{{ document.title }}', '{{ document.file_size }}');" href="{{ document.url }}">{{ document.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <button class="zipBtn">Download as zip</button>


                                            {#<table class="govuk-table">#}
                                            {#<caption class="govuk-table__caption visuallyhidden">Documents#}
                                            {#and days they were last updated.#}
                                            {#</caption>#}
                                            {#<thead class="govuk-table__head">#}
                                            {#<tr class="govuk-table__row">#}
                                            {#<th class="govuk-table__header" scope="col">#}
                                            {#Updated#}
                                            {#</th>#}
                                            {#<th class="govuk-table__header" scope="col">#}
                                            {#Title#}
                                            {#</th>#}
                                            {#</tr>#}
                                            {#</thead>#}
                                            {#<tbody class="govuk-table__body">#}
                                            {#<tr class="govuk-table__row">#}
                                            {#<td class="govuk-table__cell govuk-table__cell--noborder">#}
                                            {#<time class="govuk-list--documents__datetime">#}
                                            {#16/08/2018#}
                                            {#</time>#}{#</td>#}
                                            {#<td class="govuk-table__cell govuk-table__cell--noborder">#}
                                            {#<a href="{url to source}">Buyers#}
                                            {#Guide</a></td>#}
                                            {#</tr>#}
                                            {#</tbody>#}
                                            {#</table>#}

                                        </div>


                                    </div>
                                {% endif %}

                            </div>

                            <div class="app-c-print-link">
                                <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">
                                    Print this page
                                </button>
                            </div>
                        </div>

                        {% include '/frameworks/_side-summary.html.twig' %}
                    </div>

                {% else %}

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                            <h1 class="govuk-heading-xl page-title">{{ framework.content.title }}</h1>

                            {% if framework.content.upcoming_deal_details %}
                                <div class="wysiwyg-content">
                                    {{ framework.content.upcoming_deal_details | raw }}
                                </div>
                            {% endif %}

                            <div class="app-c-print-link">
                                <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">
                                    Print this page
                                </button>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endif %}
        </main>
    </div>
    <script> frameworkAndSupplierPage(); </script>
    <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'agreement', 'agreement':'{{framework.content.title}}', 'agreement_id':'{{framework.content.rm_number}}' });</script>
{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}
    <script src="/assets/scripts/dataLayer.js"></script>
    <script>

    var documents = document.querySelectorAll(".framework-document");
    var zipBtn = document.querySelector(".zipBtn");

    // Example usage  
        const fileUrls = [];

        documents.forEach(function (document) {
            fileUrls.push(document.href);
        })

        async function downloadFilesAsZip(fileUrls) {
        const zip = new JSZip();

        // Fetch each file and add it to the ZIP  
        for (const fileUrl of fileUrls) {
            const response = await fetch(fileUrl);
            const blob = await response.blob();
            const fileName = fileUrl.split('/').pop(); // Extract filename from URL  
            zip.file(fileName, blob);
        }

        // Generate the ZIP file and trigger the download  
        zip.generateAsync({ type: 'blob' })
            .then(function(content) {
                saveAs(content, 'ccs-download.zip'); // Use FileSaver.js to save the zip file  
            });
        }

        // Trigger the downloa
        zipBtn.addEventListener("click", function () {
            downloadFilesAsZip(fileUrls);
        })
        
    </script>

{% endblock %}