{% extends 'base.html.twig' %}

{% block body %}


    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/frameworks">Search
                        frameworks</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Framework details
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    {% if framework.content.status == 'Expired - Data Still Received' %}
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Important</span>
                            Expired framework - This information is for reference only</strong>
                    </div>
                    {% endif %}

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    {#<h1 class="govuk-heading-xl page-title">Apleona HSG Ltd. {framework title} which span multiple lines&nbsp;<strong class="govuk-tag govuk-tag--subtle">Expired</strong></h1>#}
                    <h1 class="govuk-heading-xl page-title">{{ framework.content.title }}</h1>

                    {#<p class="govuk-body-l">Networks and#}
                        {#telecommunications services, including the Public#}
                        {#Services Network and the Health and Social Care#}
                        {#Network.</p>#}


                    {# see https://studio24.github.io/frontend/templating/content-fields.html #}
                    {# see https://studio24.github.io/frontend/templating/debugging.html #}
                    {#{{ dump(framework) }}#}

                    {#<p>unallocated content on some frameworks</p>#}
                    {#<ul>#}
                        {#<li><code>tenders_open_date</code>: {{ framework.content.tenders_open_date }}</li>#}
                        {#<li><code>tenders_close_date</code>: {{ framework.content.tenders_close_date }}</li>#}
                        {#<li><code>expected_live_date</code>: {{ framework.content.expected_live_date }}</li>#}
                        {#<li><code>expected_award_date</code>: {{ framework.content.expected_award_date }}</li>#}
                    {#</ul>#}


                    <div class="govuk-accordion" data-module="accordion" id="accordion-default">



                        {#<div class="govuk-accordion__section ">#}
                            {#<div class="govuk-accordion__section-header">#}
                                {#<h2 class="govuk-accordion__section-heading">#}
        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-1">#}
          {#Updates#}
        {#</span>#}
                                {#</h2>#}
                            {#</div>#}
                            {#<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">#}

                                {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus est et ex harum hic laborum minima nam numquam, optio pariatur perferendis provident quisquam quo similique, ullam. Itaque placeat provident voluptas.</p>#}

                                {#<details class="govuk-details">#}
                                    {#<summary class="govuk-details__summary">#}
    {#<span class="govuk-details__summary-text">#}
      {#05/11/2018 - Conference#}
    {#</span>#}
                                    {#</summary>#}
                                    {#<div class="govuk-details__text">#}
                                        {#Come and meet the team and find out more#}
                                        {#about this framework at our conference#}
                                        {#in Liverpool on 15/10/2018. To register#}
                                        {#for your place, please <a href="/link">sign#}
                                            {#up here</a>.#}
                                    {#</div>#}
                                {#</details>#}


                            {#</div>#}
                        {#</div>#}



                        {#<div class="govuk-accordion__section ">#}
                            {#<div class="govuk-accordion__section-header">#}
                                {#<h2 class="govuk-accordion__section-heading">#}
        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-2">#}
          {#Description#}
        {#</span>#}
                                {#</h2>#}
                            {#</div>#}
                            {#<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">#}
                                {#<p class='govuk-body'>This agreement covers#}
                                    {#networks and telecommunications services,#}
                                    {#for all public sector organisations. It is#}
                                    {#compliant with the government's technology#}
                                    {#strategy.</p>#}

                                {#<p class='govuk-body'>The Health and Social Care#}
                                    {#Network (HSCN) is the data network for#}
                                    {#health and care organisations, replacing N3#}
                                    {#and providing connectivity for the NHS and#}
                                    {#wider health and social care providers. All#}
                                    {#NHS organisations are required to procure#}
                                    {#HSCN connectivity and can do this from HSCN#}
                                    {#compliant suppliers through this#}
                                    {#agreement.</p>#}

                                {#<p class='govuk-body'> HSCN and CCS have#}
                                    {#collaborated on a new national framework,#}
                                    {#HSCN Access Services (RM3825), which is#}
                                    {#dedicated to making HSCN connectivity#}
                                    {#readily available from all HSCN-compliant#}
                                    {#suppliers.</p>#}

                                {#<p class='govuk-body'>If you need only#}
                                    {#maintenance for technology products use the#}
                                    {#Technology services 2 agreement (RM3804)#}
                                    {#agreement, and to buy hardware use#}
                                    {#Technology products 2 (RM3733).</p>#}
                            {#</div>#}
                        {#</div>#}



                        {#<div class="govuk-accordion__section ">#}
                            {#<div class="govuk-accordion__section-header">#}
                                {#<h2 class="govuk-accordion__section-heading">#}
        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-3">#}
          {#Benefits#}
        {#</span>#}
                                {#</h2>#}
                            {#</div>#}
                            {#<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">#}
                                {#<ul class="govuk-list govuk-list--bullet">#}
                                    {#<li>Flexible contract lengths</li>#}
                                    {#<li>Migration path for legacy technology#}
                                    {#</li>#}
                                    {#<li>Savings from new and emerging#}
                                        {#technologies#}
                                    {#</li>#}
                                    {#<li>Pre-defined and agreed contract terms#}
                                        {#and conditions with some ability for#}
                                        {#minor variations.#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}



                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Products and suppliers
        </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">


                                {#{{ framework.content.lots|length }}#}

                                {#<ul>#}
                                    {#{% for lot in framework.content.lots|sort %}#}
                                        {#<li>{{ loop.index }}:: {{ lot.lot_number }}:: {{ lot.status }}:: {{ lot.expiry_date }}</li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}

                                <p class="govuk-body">There are
                                    <a href="/">{{ framework.content.total_suppliers }}
                                        suppliers</a> on this framework.</p>


                                <dl class="apollo-list apollo-list--definition">
                                    {% for lot in framework.content.lots|sort %}
                                    <dt class="apollo-list--definition__key">Lot
                                        {{ lot.lot_number }}: {{ lot.title }}
                                    </dt>
                                    <dd class="apollo-list--definition__value">
                                        {% if lot.description %}
                                        <div class="govuk-!-margin-bottom-2">{{ lot.description }}</div>
                                        {% endif %}
                                        {#<p class>Expires:#}
                                        {#<time>{{ lot.expiry_date.format('Y/mm/dd') }}/time>#}
                                        {#</p>#}
                                        {#<p><a href="6-suppliers-on-lot">26#}
                                                {#suppliers</a></p>#}
                                    </dd>
                                    {% endfor %}
                                </dl>


                            </div>
                        </div>



                        {#<div class="govuk-accordion__section ">#}
                            {#<div class="govuk-accordion__section-header">#}
                                {#<h2 class="govuk-accordion__section-heading">#}
        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-5">#}
          {#How to buy#}
        {#</span>#}
                                {#</h2>#}
                            {#</div>#}
                            {#<div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">#}

                                {#<p class="govuk-body">Read the#}
                                    {#‘<a href="sdgdfg">Buyer and Supplier#}
                                        {#Guide</a>’. The guide explains the 3#}
                                    {#ways to buy:</p>#}

                                {#<h3 class="govuk-heading-s govuk-!-margin-bottom-1">#}
                                    {#1. Catalogue (Lot 6)</h3>#}
                                {#<p class="govuk-body">Designed for day to day#}
                                    {#purchases of low value, low volume or high#}
                                    {#urgency. <a href="dsgkdg">Sign up to The#}
                                        {#Purchasing Platform</a>.#}
                                {#</p>#}

                                {#<h3 class="govuk-heading-s govuk-!-margin-bottom-1">#}
                                    {#2. Further competitions</h3>#}
                                {#<p class="govuk-body govuk-!-margin-bottom-0">#}
                                    {#These may be run using CCS’s eSourcing tool,#}
                                    {#or your own eSourcing method.#}
                                {#</p>#}
                                {#<ul class="govuk-list">#}
                                    {#<li><a href="dzf">Register for CCS’s#}
                                            {#eSourcing tool</a></li>#}
                                    {#<li><a href="sdgf">Log in to CCS’s eSourcing#}
                                            {#tool</a></li>#}
                                    {#<li><a href="dxgjhx">Read the guidance for#}
                                            {#CCs’s eSourcing tool</a></li>#}
                                {#</ul>#}

                                {#<h3 class="govuk-heading-s govuk-!-margin-bottom-1">#}
                                    {#3. Large volume hardware requirements</h3>#}
                                {#<p class="govuk-body">Lot 5 is for these kind of#}
                                    {#purchases. You can also use our aggregation#}
                                    {#team to join with another public sector#}
                                    {#organisation that has common purchasing#}
                                    {#needs. Read about <a href="dsg">Technology#}
                                        {#Aggregation Opportunities</a>.#}
                                {#</p>#}

                            {#</div>#}
                        {#</div>#}



                        {#<div class="govuk-accordion__section ">#}
                            {#<div class="govuk-accordion__section-header">#}
                                {#<h2 class="govuk-accordion__section-heading">#}
        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-6">#}
          {#Documents#}
        {#</span>#}
                                {#</h2>#}
                            {#</div>#}
                            {#<div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">#}

                                {#<h3 class="govuk-heading-s">Updates</h3>#}
                                {#<p class="govuk-body">15/10/2018 - Further#}
                                    {#Competition Template updated We now have a#}
                                    {#new section that is particularly relevant#}
                                    {#for long-term contracts.#}

                                    {#25/04/2018 - Order form updated The new form#}
                                    {#now includes a longer description field.#}
                                {#</p>#}


                                {#<h3 class="govuk-heading-s">Titles (this should be Documents instead)</h3>#}
                                {#<ul class="govuk-list">#}
                                    {#<li><a href="/links">Buyers Guide</a></li>#}
                                    {#<li><a href="/links">Agreement Information#}
                                            {#Leaflet</a></li>#}
                                    {#<li><a href="/links">Further Competition#}
                                            {#Template</a></li>#}
                                    {#<li><a href="/links">Supplier Outcome Letter#}
                                            {#Template - Successful Supplier</a>#}
                                    {#</li>#}
                                    {#<li><a href="/links">Supplier Outcome Letter#}
                                            {#Template - Unsuccessful Supplier</a>#}
                                    {#</li>#}
                                    {#<li><a href="/links">Order Form</a></li>#}
                                    {#<li><a href="/links">Call Off Contract#}
                                            {#(T&C's)</a></li>#}
                                    {#<li><a href="/links">Call Off Contract#}
                                            {#(T&C's inc. GDPR)</a></li>#}
                                    {#<li><a href="/links">Alternative and#}
                                            {#additional Call Off Contract#}
                                            {#provisions (T&C's)</a></li>#}
                                    {#<li><a href="/links">Alternative and#}
                                            {#additional Call Off Contract#}
                                            {#provisions (T&C's)</a></li>#}
                                    {#<li><a href="/links">Framework Agreement#}
                                            {#(Generic)</a></li>#}
                                    {#<li><a href="/links">Prior Information#}
                                            {#Notice (PIN)</a></li>#}
                                    {#<li><a href="/links">Contract Notice#}
                                            {#(OJEU)</a></li>#}
                                    {#<li><a href="/links">Contract Award#}
                                            {#Notice</a></li>#}
                                    {#<li><a href="/links">Supplier Contacts#}
                                            {#v1.5</a></li>#}
                                    {#<li><a href="/links">GDPR FAQ's March#}
                                            {#2018</a></li>#}
                                    {#<li><a href="/links">Supplier Matrix v1.8#}
                                            {#Inclusive of GDPR</a></li>#}
                                    {#<li><a href="/links">Call-Off Schedule 5#}
                                            {#Schedule of Processing, Personal#}
                                            {#Data and Data Subjects</a></li>#}
                                {#</ul>#}


                                {#<table class="govuk-table">#}
                                {#<caption class="govuk-table__caption visuallyhidden">Documents#}
                                {#and days they were last updated.#}
                                {#</caption>#}
                                {#<thead class="govuk-table__head">#}
                                {#<tr class="govuk-table__row">#}
                                {#<th class="govuk-table__header" scope="col">#}
                                {#Updated#}
                                {#</th>#}
                                {#<th class="govuk-table__header" scope="col">#}
                                {#Title#}
                                {#</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody class="govuk-table__body">#}
                                {#<tr class="govuk-table__row">#}
                                {#<td class="govuk-table__cell govuk-table__cell--noborder">#}
                                {#<time class="govuk-list--documents__datetime">#}
                                {#16/08/2018#}
                                {#</time>#}
                                {#</td>#}
                                {#<td class="govuk-table__cell govuk-table__cell--noborder">#}
                                {#<a href="{url to source}">Buyers#}
                                {#Guide</a></td>#}
                                {#</tr>#}
                                {#</tbody>#}
                                {#</table>#}

                            {#</div>#}



                        {#</div>#}

                    </div>


                    <div class="app-c-print-link">
                        <a href="/cartels-price-fixing/print" class="app-c-print-link__link" rel="alternate">
                            Print this page </a>
                    </div>


                </div>
                <div class="govuk-grid-column-one-third">


                    <aside class="aside">

                        <div class="apollo-enclosure">

                            <h2 class="aside__heading">Key facts</h2>

                            <dl class="govuk-list govuk-list--definition">
                                <dt>Framework ID</dt>
                                <dd class="apollo-list--definition__value">
                                    {{ framework.content.rm_number }}
                                </dd>
                                <dt>Start date</dt>
                                <dd class="apollo-list--definition__value">
                                    {{ framework.content.start_date.format('d/m/Y') }}
                                </dd>
                                <dt>End date</dt>
                                <dd class="apollo-list--definition__value">
                                    {{ framework.content.end_date.format('d/m/Y') }}
                                </dd>
                                <dt>Lots</dt>
                                <dd class="apollo-list--definition__value">
                                    {{ framework.content.lots|length }}
                                </dd>
                                <dt>Suppliers</dt>
                                <dd class="apollo-list--definition__value">
                                    {{ framework.content.total_suppliers }}
                                </dd>
                            </dl>
                        </div>

                        <div class="apollo-enclosure">
                            <h2 class="aside__heading">Contact</h2>

                            <p class="govuk-body">CCS customer services team is
                                available Monday to Friday, 9am to 5pm.</p>
                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">
                                Email:</h3>
                            <p class="govuk-body">
                                <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
                            </p>
                            <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">
                                Telephone:</h3>
                            <p class="govuk-body">0345 410 2222</p>
                        </div>

                    </aside>


                </div>
            </div>


        </main>
    </div>


{% endblock %}
