{% extends 'base.html.twig' %}

{% block title %}Upcoming agreements - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}


    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% if upcoming_deals_content and upcoming_deals_content.upcomingDealsInfo.title %}

                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        {{upcoming_deals_content.upcomingDealsInfo.title}}
                    </li>

                {% else %}
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        Upcoming agreements
                    </li>
                {% endif %}
            </ol>
        </div>





        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">



            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


                    {% if upcoming_deals_content and upcoming_deals_content.upcomingDealsInfo.title and upcoming_deals_content.upcomingDealsInfo.page_description  %}

                        <h1 class="govuk-heading-xl page-title">{{upcoming_deals_content.upcomingDealsInfo.title}}</h1>

                        {# raw html #}
                        {{upcoming_deals_content.upcomingDealsInfo.page_description | raw }}

                    {% else %}

                        <h1 class="govuk-heading-xl page-title">Upcoming agreements</h1>

                        <p class="govuk-body-l govuk-!-width-three-quarters">If you would like to find out more about the scope of any of these procurements please
                            <a href="/contact">contact us</a>.</p>

                    {% endif %}





                    {#{{ dump(awarded_pipeline) }}#}
                    {#{{ dump(underway_pipeline) }}#}
                    {#{{ dump(dynamic_purchasing_systems) }}#}
                    {#{{ dump(planned_pipeline) }}#}
                    {#{{ dump(future_pipeline) }}#}

                    {% if upcoming_deals_content and upcoming_deals_content.table_0.title %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">{{ upcoming_deals_content.table_0.title }}</h2>

                    {% else %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">Procurements recently awarded</h2>

                    {% endif %}
                    
                    {% if awarded_pipeline|length >= 1 %}

                        <table class="govuk-table ccs-table--upcoming-agreements">
                            {% if upcoming_deals_content and upcoming_deals_content.table_0.caption|length > 0 %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">{{ upcoming_deals_content.table_0.caption }}</caption>

                            {% endif %}

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-font-size-19" scope="col">
                                    Agreement title
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric govuk-!-font-size-19" scope="col">
                                    Awarded Date
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric govuk-!-font-size-19" scope="col">
                                    Live/Expected live
                                </th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                                {% for upcoming_deal in awarded_pipeline %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <p class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                                <a href="{{ path('frameworks_show', {'rmNumber':  upcoming_deal.rm_number }) }}">{{ upcoming_deal.title }}</a>
                                            </p>
                                            <p class="govuk-!-font-size-16 govuk-!-margin-0"><strong>Agreement ID:</strong> {{ upcoming_deal.rm_number }}</p>
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                            {% if upcoming_deal.expected_award_date is not null %}
                                                {{ upcoming_deal.expected_award_date.format('d/m/Y') }}
                                            {% endif %}
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                            {% if upcoming_deal.expected_live_date is not null %}
                                                {{ upcoming_deal.expected_live_date.format('d/m/Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    {% else %}

                        <p>No procurements recently awarded at the moment.</p>

                    {% endif %}


                    {% if upcoming_deals_content and upcoming_deals_content.table_1.title %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">{{ upcoming_deals_content.table_1.title }}</h2>

                    {% else %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">Procurements in progress</h2>

                    {% endif %}

                    {% if underway_pipeline|length >= 1 %}

                        <table class="govuk-table ccs-table--upcoming-agreements">

                            {% if upcoming_deals_content and upcoming_deals_content.table_1.caption %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">{{ upcoming_deals_content.table_1.caption }}</caption>

                            {% else %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">The links provided in the agreement section below give further information about the procurement, including the OJEU notice and details on how to tender for interested suppliers.
                                </caption>

                            {% endif %}

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-font-size-19" scope="col">
                                    Agreement title
                                </th>
                                <th class="govuk-table__header --govuk-!-font-size-19 govuk-table__header--numeric" scope="col">
                                    Tenders close
                                </th>
                                <th class="govuk-table__header --govuk-!-font-size-19 govuk-table__header--numeric" scope="col">
                                    Expected award
                                </th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                        {% for upcoming_deal in underway_pipeline %}

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <p class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                        <a href="{{ path('frameworks_show', {'rmNumber':  upcoming_deal.rm_number }) }}">{{ upcoming_deal.title }}</a>
                                    </p>
                                    <p class="govuk-!-font-size-16 govuk-!-margin-0"><strong>Agreement ID:</strong> {{ upcoming_deal.rm_number }}</p>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                            {% if upcoming_deal.tenders_close_date is not null %}
                                {{ upcoming_deal.tenders_close_date.format('d/m/Y') }}
                            {% endif %}
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                    {% if upcoming_deal.expected_award_date is not null  %}
                                        {{ upcoming_deal.expected_award_date.format('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}

                            </tbody>
                        </table>

                    {% else %}

                        <p>No procurements in progress at the moment.</p>

                    {% endif %}





                    {% if upcoming_deals_content and upcoming_deals_content.table_2.title %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">{{ upcoming_deals_content.table_2.title }}</h2>

                    {% else %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">Dynamic Purchasing Systems currently open</h2>

                    {% endif %}

                    {% if dynamic_purchasing_systems|length >= 1 %}

                        <table class="govuk-table ccs-table--upcoming-agreements">
                            {% if upcoming_deals_content and upcoming_deals_content.table_2.caption|length > 0 %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">{{ upcoming_deals_content.table_2.caption }}</caption>

                            {% endif %}

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-font-size-19" scope="col">
                                    Agreement title
                                </th>
                                <th class="govuk-table__header --govuk-!-font-size-19 govuk-table__header--numeric" scope="col">
                                    Live
                                </th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                            {% for upcoming_deal in dynamic_purchasing_systems %}

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <p class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                            <a href="{{ path('frameworks_show', {'rmNumber':  upcoming_deal.rm_number }) }}">{{ upcoming_deal.title }}</a>
                                        </p>
                                        <p class="govuk-!-font-size-16 govuk-!-margin-0"><strong>Agreement ID:</strong> {{ upcoming_deal.rm_number }}</p>
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                        {% if upcoming_deal.expected_live_date is not null  %}
                                            {{ upcoming_deal.expected_live_date.format('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    {% else %}

                        <p>No Dynamic Purchasing Systems currently open at the moment.</p>

                    {% endif %}






                    {% if upcoming_deals_content and upcoming_deals_content.table_3.title %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">{{ upcoming_deals_content.table_3.title }}</h2>

                    {% else %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">Planned procurements</h2>

                    {% endif %}

                    {% if planned_pipeline|length >= 1 %}

                        <table class="govuk-table ccs-table--upcoming-agreements">

                            {% if upcoming_deals_content and upcoming_deals_content.table_3.caption|length > 0 %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">{{ upcoming_deals_content.table_3.caption }}</caption>

                            {% endif %}

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-font-size-19" scope="col">
                                    Agreement title
                                </th>
                                <th class="govuk-table__header --govuk-!-font-size-19 govuk-table__header--numeric" scope="col">
                                    Tenders open
                                </th>
                                <th class="govuk-table__header --govuk-!-font-size-19 govuk-table__header--numeric" scope="col">
                                    Expected live
                                </th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                            {% for upcoming_deal in planned_pipeline %}

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <p class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                            <a href="{{ path('frameworks_show', {'rmNumber':  upcoming_deal.rm_number }) }}">{{ upcoming_deal.title }}</a>
                                        </p>
                                        <p class="govuk-!-font-size-16 govuk-!-margin-0"><strong>Agreement ID:</strong> {{ upcoming_deal.rm_number }}</p>
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                        {% if upcoming_deal.tenders_open_date is not null %}
                                            {{ upcoming_deal.tenders_open_date.format('M Y') }}
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-size-16">
                                        {% if upcoming_deal.expected_live_date is not null  %}
                                            {{ upcoming_deal.expected_live_date.format('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        {% else %}

                            <p>No planned procurements at the moment.</p>

                    {% endif %}





                    {% if upcoming_deals_content and upcoming_deals_content.table_4.title %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">{{ upcoming_deals_content.table_4.title }}</h2>

                    {% else %}

                        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-24 govuk-!-font-weight-bold">Future pipeline</h2>

                    {% endif %}

                    {% if future_pipeline|length >= 1 %}

                        <table class="govuk-table ccs-table--upcoming-agreements">

                            {% if upcoming_deals_content and upcoming_deals_content.table_4.caption|length > 0 %}

                                <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-regular">{{ upcoming_deals_content.table_4.caption }}</caption>

                            {% endif %}

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-font-size-19" scope="col">
                                    Agreement title
                                </th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                            {% for upcoming_deal in future_pipeline %}

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <p class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                            <a href="{{ path('frameworks_show', {'rmNumber':  upcoming_deal.rm_number }) }}">{{ upcoming_deal.title }}</a>
                                        </p>
                                        <p class="govuk-!-font-size-16 govuk-!-margin-0"><strong>Agreement ID:</strong> {{ upcoming_deal.rm_number }}</p>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        {% else %}

                            <p>No future pipelines at the moment.</p>

                    {% endif %}








                </div>

            </div>


        </main>
    </div>

<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href});</script>
{% endblock %}
