{% extends 'base.html.twig' %}

{# 1. Capture the flashes into a variable so they don't disappear #}
{% set errors = app.flashes('error') %}

{% block title %}
    Guided Match Journey - searched for CNZ_tools - {{ node.text }}
{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block pageMetaTags %}{% endblock %}

{% block body %}
    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
                {% include '/includes/phase-banner-content.html.twig' %}
        </div>
        <div class="govuk-breadcrumbs">
            <nav class="ccs-breadcrumbs" aria-label="Breadcrumb">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        {# Dynamic "Back to start" based on the journey name #}
                        <a class="govuk-breadcrumbs__link" href="{{ path(journey ~ '_landing') }}">Back to start</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        {{ node.text }}
                    </li>
                </ol>
            </nav>
        </div>

        <a href="{{ back_url }}" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper cnz-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row restrict-width">
                    {% if errors|length > 0 %}
                        <script>
                            pushDataLayer('error','Continue', "{{ errors|join(", ") }}", null );
                        </script>
                        <div class="govuk-error-summary" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title">There is a problem</h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        {% for message in errors %}
                                            <li>
                                                <a href="#answer-1">{{ message }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <form action="{{ form_url }}" method="POST" onsubmit="return questionType('list')">
                        <div class="govuk-form-group {{ errors|length > 0 ? 'govuk-form-group--error' : '' }}">
                            <fieldset class="govuk-fieldset" aria-describedby="question-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                        {{ node.text }}
                                    </h1>
                                </legend>

                                {% if errors|length > 0 %}
                                    <div role="alert">
                                        <span id="no-selection" class="govuk-error-message" style="display:block">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            Select the solution you need
                                            <div class="apiErrorsMsg resetErrors" data-error-type="noSelection">
                                                Select the solution you need
                                            </div>
                                        </span>
                                    </div>
                                {% endif %}


                                <div class="govuk-radios" data-module="govuk-radios">
                                    {% for answer in node.answers %}
                                        {% set answer_id = "answer-" ~ loop.index %}
                                        {# Determine the value from the JSON structure #}
                                        {% set current_value = answer.next ?? answer.outcome_id %}

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input"
                                                id="{{ answer_id }}"
                                                name="id"
                                                type="radio"
                                                value="{{ current_value }}"
                                                {# Check if this was the previously selected option #}
                                                {% if saved_answer == current_value %}checked{% endif %}
                                                {% if answer.hint is defined %}aria-describedby="{{ answer_id }}-hint"{% endif %}>

                                            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer_id }}">
                                                {{ answer.label }}
                                            </label>

                                            {% if answer.hint is defined %}
                                                <div id="{{ answer_id }}-hint" class="govuk-hint govuk-radios__hint">
                                                    {{ answer.hint }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>

                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </form>
                    <p class="govuk-body">Need help with this service?
                        <a aria-describedby="contact-ccs-intermediar-page" href="/contact/" onclick="contact();">Contact CCS</a>
                    </p>
            </div>
        </main>
</div>
<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href});</script>
{% endblock %}
