{% extends 'base.html.twig' %}

{% block title %}Glossary - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% include '_components/hero.html.twig' with {'image': '/assets/images/Glossary-CCS.jpg', 'heading': 'Search our glossary for common procurement terms', 'notFromWordpress': 'true', 'cta_label': '', 'content': '', 'cta_label': '', 'cta_destination': '', 'newsletter': false} %}

    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <div class="govuk-breadcrumbs" role="navigation" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                 <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/information-for-buyers-and-suppliers/">Information for buyers and suppliers</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Glossary
                </li>
            </ol>
        </div>


        <main id="main-content" role="main" class="govuk-main-wrapper">
           
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-xl page-title">Glossary</h1>
                        {% if intro_text is defined and intro_text is not empty %}
                            <p> {{ intro_text }}</p>
                            <br /><br />
                        {% else %}
                            <p>We understand that procurement can be confusing. 
                            Organisations often use different terms to describe the same thing. With that in mind, 
                            we designed this glossary to make buying with us and navigating our website easier. 
                            It is not designed to be an extensive list of all procurement terms.</p>
                            <br /><br />
                        {% endif %}
           
                </div>
              
                <div class="govuk-grid-column-one-third">
                
                    <div class="govuk-form-group govuk-form-group--enclosure">
                        <form action="{{ path('glossary') }}" method="GET">
                            <div class="govuk-form-group sidebar__search-group">
                                <label class="govuk-label" for="termSearch"> Search </label>
                                <input class="govuk-input" id="termSearch" name="termSearch" type="text" value="{{ termSearch }}" />
                                <button type="submit" class="sidebar__search-button govuk-input">
                                    <span class="visuallyhidden">Search glossary</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="govuk-grid-column-two-thirds">


                    {% if termSearch is defined and termSearch|trim is not empty %}

                            <div class="ccs-filters-summary ccs-filter-summary-frameworks">
                                <div class="ccs-filters-summary__facets" style="display: block; margin-top:0">
                                    <span class="ccs-filters-summary__label">Containing</span>
                                    <ul class="ccs-filters-summary__list">
                                        <li class="ccs-filters-summary__facet">
                                            <a href="/glossary" class="ccs-filters-summary__facet__cancel"><span>{{ termSearch }} </span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    {% endif %}


                    {% if glossaries is defined and glossaries is not empty %}
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            {% for key, value in glossaries %}
                                <div class="govuk-accordion__section govuk-accordion__section--expanded">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">{{ key }}</span>
                                        </h2>
                                    </div>
                                
                                    <div id="accordion-default-content-{{ loop.index }}" role="region" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ loop.index }}">
                                        {% for glossary in value %}
                                            <h3 id='{{ glossary.term | lower |replace({' ': '_'}) }}'>{{ glossary.term }}</h3>
                                            <div class="wysiwyg-content" style="padding-left: 20px;">
                                                {{ glossary.meaning | raw }}
                                            </div>
                                        {% endfor %} 
                                    </div>
                                </div>   
                            {% endfor %}

                        </div>
                    {% else %}
                        <p> Sorry, looks like we don't have an entry for that term </p>
                    {% endif %}

                </div>
            </div>
        </main>

    </div>
<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href});</script>
{% endblock %}