{% extends 'base.html.twig' %}

{% block htmlclass %}no-js is-home{% endblock %}

{% block title %}Crown Commercial Service - CCS{% endblock %}
{% set homepage_meta = true %}

{% block header %}

     {% block homeMessageBanner %}
            {%  if messageBanner.show_banner == 'true' %}
                {% include '/includes/home-message-banner.html.twig' with {'title': messageBanner.title, 'description': messageBanner.description, 'link': messageBanner.link, 'link_url': messageBanner.link_url } %}
            {% endif %}
     {% endblock %}

    {% embed '/includes/header.html.twig' %}
        {% block headerclasses %}
            header-global header-global--home
        {% endblock %}

       {% block ppglogin %}
            {% include '/includes/ppg-login.html.twig' %}
       {% endblock %}

        {% block featuredcontent %}
                <div class="homepage-hero govuk-homepage-hero-full-width">
                    <div class="govuk-hero-homepage-caption-container govuk-hero-margin">
                        <div class="govuk-hero-caption">
                                <h1 class="govuk-caption-heading">Unlock the power of <br /> public procurement</h1>
                                <p class="govuk-caption-link" style="color:white; margin-bottom: 0"><a href="/about-ccs">Learn how we help the UK public sector get better value when buying products and services.</a></p>
                        </div>   
                    </div>

                    <div class="homepage-hero-capsule">
                        <div class="govuk-homepage-search-forms">
                            <div class="govuk-grid-column-one-half homepage-agreement-search">

                                <form action="{{ path('frameworks_search') }}" method="GET">

                                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color">
                                        <div class="govuk-form-group homepage-hero__search-group">
                                            <label class="govuk-label" for="framework_q"><a href="/agreements">Search
                                                agreements</a></label>
                                            <input class="govuk-input" id="framework_q" name="q" type="text">

                                            <button class="homepage-hero__search-button">
                                                <span class="visuallyhidden">Search agreements</span>
                                            </button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="govuk-grid-column-one-half">


                                <form action="{{ path('suppliers_search') }}" method="GET">

                                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color search-supp">
                                        <div class="govuk-form-group homepage-hero__search-group">
                                            <label class="govuk-label" for="supplier_q"><a href="/suppliers">Search
                                                suppliers</a></label>
                                            <input class="govuk-input" id="supplier_q" name="q" type="text">
                                            <button class="homepage-hero__search-button">
                                                <span class="visuallyhidden">Search suppliers</span>
                                            </button>
                                        </div>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {# required wrapper 1 #}
    <div class="--govuk-width-container">

        {# If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. #}


        {# required wrapper 2 #}
        <main id="main-content" class="govuk-main-wrapper govuk-home-main-wrapper ccs-width-container">


            <div class="apollo-island homepage-apollo-island">
                {% if homepageContent %}
                    <div class="govuk-grid-column-full homepage-card-container">

                        <div class="homepage-card-wrapper">
                            <div class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component">
                                <h2 class="govuk-heading-m">
                                    {{ homepageContent.how_to_buy.title is defined ? 
                                    homepageContent.how_to_buy.title : "How to Buy" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{homepageContent.how_to_buy.description is defined ? 
                                    homepageContent.how_to_buy.description : 
                                    "CCS has a wide range of commercial agreements you can
                                    access in several ways: agreements, catalogues,
                                    portals and aggregation. Learn about the buying
                                    routes and what you can buy from each."}}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.how_to_buy.link_url is defined ? homepageContent.how_to_buy.link_url : '/buy-and-supply/how-to-buy/'}}">
                                        {{homepageContent.how_to_buy.link_text is defined ? homepageContent.how_to_buy.link_text : "Learn more"}} 
                                        <span class="visuallyhidden">about How to buy</span>
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component homepage-card-2">

                                <h2 class="govuk-heading-m">
                                    {{ homepageContent.agreements.title is defined ? 
                                    homepageContent.agreements.title : "Agreements" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{ homepageContent.agreements.description is defined ? 
                                    homepageContent.agreements.description : 
                                    "Agreements are for common but complex
                                    requirements. They comprise a list of suppliers
                                    and standardised contract terms. Agreements are
                                    often divided into lots by product or service
                                    type." }}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.agreements.link_url is defined ? homepageContent.agreements.link_url : '/buy-and-supply/frameworks/'}}">
                                    {{homepageContent.agreements.link_text is defined ? homepageContent.agreements.link_text : "Learn more"}}  
                                    <span class="visuallyhidden">about Agreements</span>
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component ">
                                <h2 class="govuk-heading-m">
                                    {{ homepageContent.upcoming_deals.title is defined ? 
                                    homepageContent.upcoming_deals.title : "Upcoming deals" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{ homepageContent.upcoming_deals.description is defined ? 
                                    homepageContent.upcoming_deals.description : 
                                    "CCS plans to launch new commercial agreements
                                    and renew some existing ones. Learn which
                                    agreements are still open to suppliers to
                                    tender, and when they will be ready to buy
                                    from." }}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.upcoming_deals.link_url is defined ? homepageContent.upcoming_deals.link_url : '/agreements/upcoming'}}">
                                    {{homepageContent.upcoming_deals.link_text is defined ? homepageContent.upcoming_deals.link_text : "Learn more"}}
                                        <span class="visuallyhidden">about Upcoming deals</span>
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                 {% else %}   
                    <div class="govuk-width-container">

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">How
                                    to buy</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    CCS has a wide range of commercial agreements you can
                                    access in several ways: agreements, catalogues,
                                    portals and aggregation. Learn about the buying
                                    routes and what you can buy from each.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/buy-and-supply/how-to-buy/">Learn
                                        more <span class="visuallyhidden">about How to buy</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Agreements</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    Agreements are for common but complex
                                    requirements. They comprise a list of suppliers
                                    and standardised contract terms. Agreements are
                                    often divided into lots by product or service
                                    type.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/buy-and-supply/frameworks/">Learn
                                        more <span class="visuallyhidden">about Agreements</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Upcoming deals</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    CCS plans to launch new commercial agreements
                                    and renew some existing ones. Learn which
                                    agreements are still open to suppliers to
                                    tender, and when they will be ready to buy
                                    from.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/agreements/upcoming">Learn more
                                        <span class="visuallyhidden">about Upcoming deals</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Catalogues</h2>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/purchasing-platform/">Purchasing
                                        platform</a></p>
                                <p class="govuk-body govuk-!-font-size-16">
                                    Technology products, office supplies,
                                    multifunctional devices</p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/digital-marketplace/">Digital
                                        marketplace</a></p>
                                <p class="govuk-body govuk-!-font-size-16">Cloud
                                    hosting, digital specialists, data centre space,
                                    user research</p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/emarketplace/">eMarketplace</a>
                                </p>
                                <p class="govuk-body govuk-!-font-size-16">Local
                                    authority software, wider public sector office
                                    supplies</p>

                            </div>
                        </div>

                    </div>
                {% endif %}
            </div>
            
                <div class="govuk-full-width-container">
                    <div class="homepage-lower-components-container">
                        <div class="govuk-grid-column-one-half homepage-news-list">

                            <h2 class="govuk-heading-m">Latest news</h2>

                            <ol class="featured-news news-listing homepage-news-listing">
                                {% for news_item in news %}
                                    {% if loop.index <= 2 %}
                                        <li class="feature-news__item homepage-news-listing-item">
                                            {% if news_item.featuredImage %}
                                                <picture>
                                                    <a href="{{ path('news_page', {'slug': news_item.urlSlug}) }}" aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                                        <!--[if IE 9]>
                                                        <video style="display: none;>
                                                                                        <![endif]-->
                                                        {% if news_item.featuredImage.byName('news-size-s') %}
                                                            <source media="(max-width: 320px)" srcset="{{ news_item.featuredImage.byName('news-size-s') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-s') }}">
                                                        {% endif %}

                                                        {% if news_item.featuredImage.byName('news-size-m') %}
                                                            <source media="(max-width: 768px)" srcset="{{ news_item.featuredImage.byName('news-size-m') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-m') }}">
                                                        {% endif %}

                                                        {% if news_item.featuredImage.byName('news-size-l') %}
                                                            <source media="(max-width: 1280px)" srcset="{{ news_item.featuredImage.byName('news-size-l') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-l') }}">
                                                        {% endif %}
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!-- Fallback -->
                                                        {% if news_item.featuredImage.byName('news-size-m') %}
                                                            <img src="{{ news_item.featuredImage.byName('news-size-m') }}" alt="{{ news_item.featuredImage.alt }}" role="presentation" aria-hidden="true" tabindex="-1">
                                                        {% else %}
                                                            <img src="{{ news_item.featuredImage.byName('full') }}" alt="{{ news_item.featuredImage.alt }}" role="presentation" aria-hidden="true" tabindex="-1">
                                                        {% endif %}

                                                    </a>
                                                </picture>
                                            {% endif %}

                                            <div class="feature-news__item__details news-listing__item__caption">
                                                <div class="news-listing-meta">
                                                    {% if news_item.taxonomies.categories  %}
                                                        {% for category in news_item.taxonomies.categories %}
                                                            {{ category.name|raw }}{% if loop.index < news_item.taxonomies.categories |length %}, {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    | {{ news_item.dateModified.format('jS F Y') }}
                                                </div>
                                                <h2 class="news-listing-title homepage-news-title-truncate">
                                                    <a href="{{ path('news_page', {'slug': news_item.urlSlug}) }}">{{ news_item.title|raw }}</a>
                                                </h2>

                                                {% if news_item.content.post_lead_text %}
                                                    <p class="news-listing-summary homepage-truncate-overflow">
                                                        {{ news_item.content.post_lead_text|raw }}
                                                    </p>
                                                {% endif %}

                                                <a href="{{ path('news_page', {'slug': news_item.urlSlug}) }}">Read more <span class="visuallyhidden">about {{ news_item.content.title|raw }}</span></a>

                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="govuk-grid-column-one-half homepage-campaign-box">
                            {# <h2 class="govuk-heading-m">{{ homepageContent.video.title is defined ? homepageContent.video.title : "Learn about CCS" }}</h2> #}
                            <div class= "homepage-campaign-box-content">
                                <h2 class="govuk-heading-xl">{{ homepageContent.campaign.title is defined and homepageContent.campaign.title is not empty  ? homepageContent.campaign.title : "Digital brochure 2024-2025: Your buying decisions can make a difference" }}</h2>

                                <p>{{ homepageContent.campaign.description is defined and homepageContent.campaign.description is not empty ? homepageContent.campaign.description  : "Discover procurement guidance, customer case studies and how to access our agreements" }}</p>

                                <a class="govuk-button govuk-caption-button" href="{{ homepageContent.campaign.button_link is defined and homepageContent.campaign.button_link is not empty ? homepageContent.campaign.button_link : "downloadable-resource/request/30384/commercial-agreements-digital-brochure" }}">{{ homepageContent.campaign.button_text is defined and homepageContent.campaign.button_text is not empty ? homepageContent.campaign.button_text : "Download our digital brochure" }}</a>
                            </div>
                        </div>
                    </div>

                    <p class="homepage-browse-all"><a href="/news">Browse all news articles</a></p>

                </div>
                 <div class="glossary-box-container">
                 <div class="glossary-box-background"></div>
                    <div class="glossary-box">
                            <h3 class="govuk-heading-m">Glossary</h3>
                            <p>We understand procurement can be confusing. Use our glossary to learn about common public procurement terms and abbreviations.</p>
                            <p><a href="/glossary">Read the glossary</a></p>
                    </div>
                </div>
        </main>
       
    </div>

<script>
pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'homepage'});

var newsSummary = document.querySelectorAll('.homepage-truncate-overflow');
var newsHeading = document.querySelector('.homepage-news-title-truncate').innerText;

newsSummary.forEach(function (summary) {
    summary.innerText = truncate(summary.innerText);
})

function truncate(input) {
    var newsSummary = input;
   if (input.length > 5) {
      newsSummary = input.substring(0, 110) + '...';
   }

   if (newsHeading.length > 79 ) {
        newsSummary = input.substring(0, 95) + '...';
   }

   return newsSummary;
    
};


</script>
{% endblock %}