{% extends 'base.html.twig' %}

{% block htmlclass %}no-js is-home{% endblock %}

{% block title %}Crown Commercial Service - CCS{% endblock %}
{% block metadescription %}Crown Commercial Service (CCS) helps 17,000 public sector buyers and charities save £725m a year when buying common products and services.{% endblock %}
{% set homepage_meta = true %}

{% block header %}

    {% embed '/includes/header.html.twig' %}
        {% block headerclasses %}
            header-global header-global--home
        {% endblock %}

       {% block ppglogin %}
            {% include '/includes/ppg-login.html.twig' %}
        {% endblock %}

        {% block featuredcontent %}
                <div class="homepage-hero govuk-homepage-hero-full-width">

                    <div class="govuk-grid-row govuk-margin-left-right-30">
                        <div class="govuk-hero-img-container">
                            <div class="govuk-hero-content">
                                <div class="govuk-hero-homepage-caption-container govuk-hero-margin-right-35">

                                    {% set default = true %}

                                    {% if default %}
                                        <div class="govuk-hero-caption">
                                                <h1 class="govuk-caption-heading">Digital brochure 2023 - 2024: procurement at your fingertips</h1>
                                                <p class="govuk-caption-link" style="color:white; margin-bottom: 0">Our updated digital brochure highlights our carbon net zero, social value and modern slavery initiatives, our commercial agreements and much more.</p>
                                                <a class="govuk-button govuk-caption-button" href="https://www.crowncommercial.gov.uk/digital_brochure/request/30384/commercial-agreements-digital-brochure">Download our brochure</a>
                                        </div>   
                                    {% else %}
                                        <div class="govuk-hero-caption">
                                                <h1 class="govuk-caption-heading">Regenerate your local community</h1>
                                                <p class="govuk-caption-link" style="color:white; margin-bottom: 0">Find out how we can help local authorities provide projects that will improve the lives of citizens</p>
                                                <br />
                                                <a class="govuk-button govuk-caption-button" href="https://www.crowncommercial.gov.uk/sectors/local-government/regeneration-and-placemaking/">View our regeneration webpage</a>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="govuk-homepage-search-forms">
                            <div class="govuk-grid-column-one-half">

                                <form action="{{ path('frameworks_search') }}" method="GET">

                                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color">
                                        <div class="govuk-form-group homepage-hero__search-group">
                                            <label class="govuk-label" for="framework_q">Search
                                                agreements</label>
                                            <input class="govuk-input" id="framework_q" name="q" type="text">

                                            <button class="homepage-hero__search-button">
                                                <span class="visuallyhidden">Search agreements</span>
                                            </button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="govuk-grid-column-one-half">


                                <form action="{{ path('suppliers_search') }}" method="GET">

                                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color">
                                        <div class="govuk-form-group homepage-hero__search-group">
                                            <label class="govuk-label" for="supplier_q">Search
                                                suppliers</label>
                                            <input class="govuk-input" id="supplier_q" name="q" type="text">
                                            <button class="homepage-hero__search-button">
                                                <span class="visuallyhidden">Search suppliers</span>
                                            </button>
                                        </div>

                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>


                </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {# required wrapper 1 #}
    <div class="--govuk-width-container">

        {# If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. #}


        {# required wrapper 2 #}
        <main id="main-content" class="govuk-main-wrapper">


            <div class="apollo-island">
                {% if homepageContent %}
                    <div class="govuk-width-container">

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    {{ homepageContent.how_to_buy.title is defined ? 
                                    homepageContent.how_to_buy.title : "How to Buy" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{homepageContent.how_to_buy.description is defined ? 
                                    homepageContent.how_to_buy.description : 
                                    "CCS has a wide range of commercial agreements you can
                                    access in several ways: agreements, catalogues,
                                    portals and aggregation. Learn about the buying
                                    routes and what you can buy from each."}}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.how_to_buy.link_url is defined ? homepageContent.how_to_buy.link_url : '/buy-and-supply/how-to-buy/'}}">
                                        {{homepageContent.how_to_buy.link_text is defined ? homepageContent.how_to_buy.link_text : "Learn more"}} 
                                        <span class="visuallyhidden">about How to buy</span>
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    {{ homepageContent.agreements.title is defined ? 
                                    homepageContent.agreements.title : "Agreements" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{ homepageContent.agreements.description is defined ? 
                                    homepageContent.agreements.description : 
                                    "Agreements are for common but complex
                                    requirements. They comprise a list of suppliers
                                    and standardised contract terms. Agreements are
                                    often divided into lots by product or service
                                    type." }}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.agreements.link_url is defined ? homepageContent.agreements.link_url : '/buy-and-supply/frameworks/'}}">
                                    {{homepageContent.agreements.link_text is defined ? homepageContent.agreements.link_text : "Learn more"}}  
                                    <span class="visuallyhidden">about Agreements</span>
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    {{ homepageContent.upcoming_deals.title is defined ? 
                                    homepageContent.upcoming_deals.title : "Upcoming deals" }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    {{ homepageContent.upcoming_deals.description is defined ? 
                                    homepageContent.upcoming_deals.description : 
                                    "CCS plans to launch new commercial agreements
                                    and renew some existing ones. Learn which
                                    agreements are still open to suppliers to
                                    tender, and when they will be ready to buy
                                    from." }}
                                    </p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="{{homepageContent.upcoming_deals.link_url is defined ? homepageContent.upcoming_deals.link_url : '/agreements/upcoming'}}">
                                    {{homepageContent.upcoming_deals.link_text is defined ? homepageContent.upcoming_deals.link_text : "Learn more"}}
                                        <span class="visuallyhidden">about Upcoming deals</span>
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    {{homepageContent.catalogues.title is defined ?
                                     homepageContent.catalogues.title : "Catalogues" }}
                                </h2>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="{{ homepageContent.catalogue1.link_url is defined ? homepageContent.catalogue1.link_url : '/buy-and-supply/purchasing-platform/'}}">
                                    {{homepageContent.catalogue1.title is defined ?
                                     homepageContent.catalogue1.title : "Purchasing Platform" }}
                                    </a>
                                </p>
                                <p class="govuk-body govuk-!-font-size-16">
                                    {{homepageContent.catalogue1.description is defined ?
                                     homepageContent.catalogue1.description : 
                                     "Technology products, office supplies, multifunctional devices" }}
                                </p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="{{ homepageContent.catalogue2.link_url is defined ? homepageContent.catalogue2.link_url : '/buy-and-supply/digital-marketplace/'}}">
                                    {{homepageContent.catalogue2.title is defined ?
                                     homepageContent.catalogue2.title : "Digital marketplace" }}
                                     </a>
                                </p>
                                <p class="govuk-body govuk-!-font-size-16">
                                    {{homepageContent.catalogue2.description is defined ?
                                     homepageContent.catalogue2.description : 
                                     "Cloud hosting, digital specialists, data centre space, user research" }}
                                </p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="{{ homepageContent.catalogue3.link_url is defined ? homepageContent.catalogue3.link_url : '/buy-and-supply/emarketplace/'}}">
                                    {{homepageContent.catalogue3.title is defined ?
                                     homepageContent.catalogue3.title : "eMarketplace" }}
                                     </a>
                                </p>
                                <p class="govuk-body govuk-!-font-size-16">
                                    {{homepageContent.catalogue3.description is defined ?
                                     homepageContent.catalogue3.description : 
                                     "Local authority software, wider public sector office
                                    supplies" }}
                                </p>

                            </div>
                        </div>

                    </div>
                 {% else %}   
                    <div class="govuk-width-container">

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">How
                                    to buy</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    CCS has a wide range of commercial agreements you can
                                    access in several ways: agreements, catalogues,
                                    portals and aggregation. Learn about the buying
                                    routes and what you can buy from each.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/buy-and-supply/how-to-buy/">Learn
                                        more <span class="visuallyhidden">about How to buy</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Agreements</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    Agreements are for common but complex
                                    requirements. They comprise a list of suppliers
                                    and standardised contract terms. Agreements are
                                    often divided into lots by product or service
                                    type.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/buy-and-supply/frameworks/">Learn
                                        more <span class="visuallyhidden">about Agreements</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Upcoming deals</h2>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    CCS plans to launch new commercial agreements
                                    and renew some existing ones. Learn which
                                    agreements are still open to suppliers to
                                    tender, and when they will be ready to buy
                                    from.</p>
                                <p class="govuk-body govuk-!-font-size-17featured">
                                    <a href="/agreements/upcoming">Learn more
                                        <span class="visuallyhidden">about Upcoming deals</span></a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-24">
                                    Catalogues</h2>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/purchasing-platform/">Purchasing
                                        platform</a></p>
                                <p class="govuk-body govuk-!-font-size-16">
                                    Technology products, office supplies,
                                    multifunctional devices</p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/digital-marketplace/">Digital
                                        marketplace</a></p>
                                <p class="govuk-body govuk-!-font-size-16">Cloud
                                    hosting, digital specialists, data centre space,
                                    user research</p>
                                <p class="govuk-body govuk-!-margin-bottom-0">
                                    <a href="/buy-and-supply/emarketplace/">eMarketplace</a>
                                </p>
                                <p class="govuk-body govuk-!-font-size-16">Local
                                    authority software, wider public sector office
                                    supplies</p>

                            </div>
                        </div>

                    </div>
                {% endif %}
            </div>
            


            <div class="apollo-island apollo-island--emphasised">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">

                            <h2 class="govuk-heading-m">Latest news</h2>

                            <ul class="news-listing news-listing--compact">


                                {# This is the world's smallest valid GIF, it's transparent, which means we can set the background colour of the container element #}
                                {% set base64 = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" %}


                                {% for news_item in news %}
                                    {# Array is currently not limited #}
                                    {% if loop.index <= 3 %}
                                        <li class="news-listing__item">

                                            {% if news_item.featuredImage %}
                                            <picture>

                                                        <!--[if IE 9]>
                                                        <video style="display: none;><![endif]-->
                                                        {% if news_item.featuredImage.byName('news-size-s') %}
                                                            <source media="(max-width: 320px)" srcset="{{ news_item.featuredImage.byName('news-size-s') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-s') }}">
                                                        {% endif %}

                                                        {% if news_item.featuredImage.byName('news-size-m') %}
                                                            <source media="(max-width: 768px)" srcset="{{ news_item.featuredImage.byName('news-size-m') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-m') }}">
                                                        {% endif %}

                                                        {% if news_item.featuredImage.byName('news-size-l') %}
                                                            <source media="(max-width: 1280px)" srcset="{{ news_item.featuredImage.byName('news-size-l') }}" data-srcset="{{ news_item.featuredImage.byName('news-size-l') }}">
                                                        {% endif %}
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!-- Fallback -->
                                                        {% if news_item.featuredImage.byName('news-size-m') %}
                                                            <img src="{{ news_item.featuredImage.byName('news-size-m') }}" alt="" role="presentation" aria-hidden="true" tabindex="-1">
                                                        {% else %}
                                                            <img src="{{ news_item.featuredImage.byName('full') }}" alt="" role="presentation" aria-hidden="true" tabindex="-1">
                                                        {% endif %}

                                            </picture>


                                            {% endif %}

                                            <div class="news-listing__item__caption">
                                                <div class="news-listing-meta">
                                                    {% if news_item.taxonomies.categories %}
                                                        {% for category in news_item.taxonomies.categories %}
                                                            {{ category.name }}{% if loop.index < news_item.taxonomies.categories|length %}, {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    | {{ news_item.dateModified.format('j F Y') }}
                                                </div>
                                                <h3 class="news-listing-title">
                                                    <a href="{{ path('news_page', {'slug': news_item.urlSlug}) }}">{{ news_item.title|raw }}</a>
                                                </h3>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <p><a href="/news">Browse all news articles</a></p>


                        </div>
                        <div class="govuk-grid-column-one-half">

                            <h2 class="govuk-heading-m">{{ homepageContent.video.title is defined ? homepageContent.video.title : "Learn about CCS" }}</h2>

                            <p class="responsive-video widescreen">
                                <iframe title="{{ homepageContent.video.video_caption is defined ? homepageContent.video.video_caption : 'An overview of CCS in 30 seconds' }}" width="560" height="315" src="{{homepageContent.video.video_link is defined ? homepageContent.video.video_link : 'https://www.youtube-nocookie.com/embed/_p61ZX4zQHU' }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </p>
                            <p>
                                <a href=" {{ homepageContent.video.link_url is defined ? homepageContent.video.link_url : '/buy-and-supply/' }}">
                                {{ homepageContent.video.link_text is defined ?
                                 homepageContent.video.link_text : "Browse all help and support guides" }}
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>

<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'homepage'});</script>
{% endblock %}