{% extends 'base.html.twig' %}

{% block title %}{{ page.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}


    {# Component: Hero #}
    {# Pass all the variables along #}
    {% include '_components/hero.html.twig' with {'image': page.content.hero_image, 'heading': page.content.hero_heading, 'content': page.content.hero_content, 'cta_label': page.content.hero_cta_label, 'cta_destination': page.content.hero_cta_destination} %}


    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        {#<div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>#}


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% for link, item in breadcrumb_parents %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ link }}">{{ item }}</a>
                    </li>
                {% endfor %}
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ page.title }}
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" role="main" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                {% if page.template == "page-templates/landing.php" %}
                <div class="govuk-grid-column-full">
                    {% else %}
                    <div class="govuk-grid-column-two-thirds">
                    {% endif %}

                    {#{{ dump(page) }}#}

                    {#{{ page.template }}#}

                    {#<h1 class="govuk-heading-xl page-title">{{ page.title }}</h1>#}

                    {#{% if page.content.page_lead_text %}#}
                        {#<p class="govuk-body-l">{{ page.content.page_lead_text }}</p>#}
                    {#{% endif %}#}



                    {#{{ dump(page.content) }}#}

                    {#{{ page.content.hero_heading }}#}

                     {#always filter richtext (wysiwyg content)#}
                    {#{{ page.content.hero_content | raw }}#}
                    {#{{ page.content.hero_cta_label }}#}
                    {#<img src="{{ page.content.hero_image }}" alt="">#}

                    {#<hr>#}


                    <div class="page-components">
                        {% include '_components/components.html.twig' with {'components': page.content.page_components_rows } %}

                        {% include '_components/resources-section.html.twig' %}
                    </div>




                    {# Start of WYSIWYG content #}
                    <div class="wysiwyg-content">

                        {{ page.content.content | raw }}

                    </div>
                    {# End of WYSIWYG content #}




                    {% if page.content.page_accordion %}
                        <div class="govuk-accordion govuk-!-margin-top-6" data-module="accordion" id="accordion-default">


                            {% for accordion_item in page.content.page_accordion %}
                                <div class="govuk-accordion__section ">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
          {{ accordion_item.page_accordion_page_accordion_item_title }}
        </span>
                                        </h2>
                                    </div>
                                    <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ loop.index }}">

                                        {# Start of WYSIWYG content #}
                                        <div class="wysiwyg-content">

                                            {{ accordion_item.page_accordion_page_accordion_item_content | raw }}

                                        </div>
                                        {# End of WYSIWYG content #}

                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    {% endif %}


                </div>
            </div>


            {% if page.content.full_width_content %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                        {# Start of WYSIWYG content #}
                        <div class="wysiwyg-content">

                            {{ page.content.full_width_content | raw }}

                        </div>
                        {# End of WYSIWYG content #}


                    </div>
                </div>
            {% endif %}



            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div class="app-c-print-link">
                        <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">
                            Print this page
                        </button>
                    </div>

                </div>
            </div>



            {% if page.content.contact_form_show_contact_form is not empty %}
                {% if page.template == "page-templates/landing.php" and page.content.contact_form_show_contact_form.value == true %}
                    <div class="govuk-grid-row ccs-inline-contact-form">
                        {% if page.content.contact_form_form_heading %}
                            <h2 class="govuk-grid-column-two-thirds govuk-heading-m">{{ page.content.contact_form_form_heading }}</h2>
                        {% endif %}

                        <div class="govuk-grid-column-two-thirds">
                            {% if page.content.contact_form_form_sub_heading %}
                                <p>{{ page.content.contact_form_form_sub_heading }}</p>
                            {% endif %}

                            <form id="js-contact-form" class="govuk-!-width-three-quarters" action="https://crowncommercial--preprod.cs86.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="post">

                                <input type="hidden" name="subject" value="{{ page.content.contact_form_form_campaign_code is not empty ? page.content.contact_form_form_campaign_code : '' }}">

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-fullname">Full name</label>
                                    <input class="govuk-input" id="form-fullname" maxlength="80" name="name" size="20" type="text" required="">
                                </div>

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-email">Email address</label>
                                    <input class="govuk-input" id="form-email" maxlength="80" name="email" size="20" type="email" pattern=".+@.+\..+" required="">
                                </div>

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-telephone">Telephone number (optional)</label>
                                    <input class="govuk-input" id="form-telephone" maxlength="80" name="phone" size="20" type="text">
                                </div>

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-organisation">Organisation</label>
                                    <input class="govuk-input" id="form-organisation" maxlength="80" name="company" size="20" type="text" required="">
                                </div>

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-organisation">I would like someone to call me back</label>
                                    <input class="govuk-radios" id="form-organisation" name="00Nb0000009IXEg" type="checkbox" value="1">
                                </div>

                                {% if page.content.contact_form_show_find_out_more_aggregation is defined and page.content.contact_form_show_find_out_more_aggregation.value %}
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-organisation">Find out more about aggregation opportunities</label>
                                    <input class="govuk-checkboxes" id="form-organisation" name="00Nb0000009IXEd" type="checkbox" value="1">
                                </div>
                                {% endif %}


                                {% if page.content.contact_form_show_what_areas_aggregation is defined and page.content.contact_form_show_what_areas_aggregation.value %}
                                <div class="govuk-form-group">
                                    <legend class="govuk-fieldset__legend">What areas of aggregation are you interested in?</legend>

                                    <label class="govuk-label">Technology
                                        <input class="govuk-radios" name="subject" type="radio" value="Technology">
                                    </label>

                                    <label class="govuk-label">Science
                                        <input class="govuk-radios" name="subject" type="radio" value="Science">
                                    </label>
                                </div>
                                {% endif %}

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="form-more-detail">
                                        {% if page.content.contact_form_message_question_title is defined and page.content.contact_form_message_question_title is not empty %}
                                            {{ page.content.contact_form_message_question_title }}
                                        {% else %}
                                            Is there anything specific we can help you with?
                                        {% endif %}
                                    </label>
                                    <span id="form-more-detail-hint" class="govuk-hint">
                                        {% if page.content.contact_form_message_question_description is defined and page.content.contact_form_message_question_description is not empty %}
                                            {{ page.content.contact_form_message_question_description }}
                                        {% else %}
                                            Please give us as much detail as possible, including the framework name and number
                                        {% endif %}
                                    </span>
                                    <textarea class="govuk-textarea" id="form-more-detail" name="description" rows="5" aria-describedby="form-more-detail"></textarea>
                                </div>

                                <input type="hidden" name="orgid" value="00D7E0000001TXW">
                                <input type="hidden" name="retURL" value="http://local.crowncommercial.gov.uk/buckland/test?{{ page_query_string }}">
                                <input type="hidden" name="recordType" value="012b00000005NWC">
                                <input type="hidden" name="priority" value="Green">


                                <p>Here is our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>.</p>

                                <div class="govuk-form-group">
                                    <button class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button">Submit</button>
                                </div>
                            </form>

                            <div id="js-contact-form-success-container" style="display: none;">
                                <h4>Message sent</h4>
                                <p>A dedicated team member will respond to you within 24-48 hours</p>
                                <a id="js-reset-form-b" href="">Send another message</a>
                            </div>

                            <div id="js-contact-form-error-container" style="display: none;">
                                <h4>Sorry, an error occured</h4>
                                <p>Please try sending your message again</p>
                                <a id="js-reset-form-a" href="">Try again</a>
                            </div>

                        </div>

                        {#
                        <div class="govuk-grid-column-one-third apollo-enclosure">
                            <h3 class="govuk-heading-s">Talk to us</h3>
                            <p>CCS customer services team is available Monday to Friday, 9am to 5pm.</p>

                            <h3 class="govuk-heading-s" style="margin-bottom: 0;">Talk to us</h3>
                            <p>0345 410 2222</p>
                        </div>#}
                    </div>
                {% endif %}
            {% endif %}


        </main>
    </div>



    {% if page.content.full_width_content %}
        <div class="apollo-island apollo-island--emphasised">
            <div class="govuk-width-container">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                        <div class="apollo-call-to-action apollo-call-to-action--aggregation">
                            <h3 class="govuk-heading-m">Aggregation</h3>
                            <p>Bulk buying, also known as aggregation, offers
                                highly competitive prices and a simple tender
                                process.</p>
                            <p><a href="/help-and-support/aggregation/">Learn
                                    more <span class="visuallyhidden">about aggregation</span></a>
                            </p>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="apollo-call-to-action apollo-call-to-action--help">
                            <h3 class="govuk-heading-m">Can't find what you're
                                looking for?</h3>
                            <p>If none of your requirements can be met by a CCS
                                catalogue or framework, you can run an EU
                                tender.</p>
                            <p><a href="/help-and-support/eu-tender/">Learn more
                                    <span class="visuallyhidden">EU tenders</span></a>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endif %}



{% endblock %}


{% block nonblocking_javascript %}
    {{ parent() }}

    <script>

        var $contactForm = null;
        var $successContainer = null;
        var $errorContainer = null;

        function checkFormExists() {
            $contactForm = document.getElementById('js-contact-form');
            if (document.body.contains($contactForm)) {
                applyFormEnhancement();
            }
        }

        function resetForm() {
            $contactForm.style.display = 'block';
            $successContainer.style.display = 'none';
            $errorContainer.style.display = 'none';
        }

        function applyFormEnhancement() {
            $contactForm.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                var url = $contactForm.action;

                var elements = $contactForm.elements;
                var paramArray = [];
                for ( var i = 0; i < elements.length; i++ ) {
                   var element = elements[i];

                   // Dont include elements without names, or elements which are disabled
                   if (!element.name || element.disabled) {
                       continue;
                   }

                   // Don't include checkboxes which aren't checked
                   if (element.type && element.type  === 'checkbox' && element.checked === false) {
                       continue;
                   }

                   paramArray.push(encodeURIComponent(element.name) + "=" + encodeURIComponent(element.value));
                }
                var params = paramArray.join("&");

                xhttp = new XMLHttpRequest();
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhttp.onload = function () {
                    if (xhttp.readyState == 4 && xhttp.status === 200 && xhttp.responseText) {
                        $contactForm.reset();
                        $successContainer = document.getElementById('js-contact-form-success-container');
                        $contactForm.style.display = 'none';
                        $successContainer.style.display = 'block';
                    } else if (xhttp.status !== 200 || !xhttp.responseText) {
                        $contactForm.reset();
                        $errorContainer = document.getElementById('js-contact-form-error-container');
                        $contactForm.style.display = 'none';
                        $errorContainer.style.display = 'block';

                    }
                };
                xhttp.send(params);

            });

            document.getElementById('js-reset-form-a').addEventListener('click', function (event) {
                event.preventDefault();
                resetForm();
            });

            document.getElementById('js-reset-form-b').addEventListener('click', function (event) {
                event.preventDefault();
                resetForm();
            });

        };


        window.onload = function () {
            checkFormExists();
        };


    </script>

{% endblock %}