{% extends 'base.html.twig' %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/ZHV7B2S">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% for link, item in breadcrumb_parents %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ link }}">{{ item }}</a>
                    </li>
                {% endfor %}
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ page.title }}
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl page-title">{{ page.title }}</h1>

                    {% if page.content.page_lead_text %}
                    <p class="govuk-body-l">{{ page.content.page_lead_text }}</p>
                    {% endif %}

                    {#{{ dump(page) }}#}



                    {# Start of WYSIWYG content #}
                    <div class="wysiwyg-content">

                        {{ page.content.content | raw }}

                    </div>
                    {# End of WYSIWYG content #}




                    {% if page.content.page_accordion %}
                    <div class="govuk-accordion govuk-!-margin-top-6" data-module="accordion" id="accordion-default">


                        {% for accordion_item in page.content.page_accordion %}
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
          {{ accordion_item.page_accordion_page_accordion_item_title }}
        </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ loop.index }}">

                                {# Start of WYSIWYG content #}
                                <div class="wysiwyg-content">

                                    {{ accordion_item.page_accordion_page_accordion_item_content | raw }}

                                </div>
                                {# End of WYSIWYG content #}

                            </div>
                        </div>
                        {% endfor %}



                    </div>
                    {% endif %}




                    <div class="app-c-print-link">
                        <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
                    </div>



                </div>


        </main>
    </div>

{% endblock %}
