{% extends 'base.html.twig' %}
{% set canonical = '/' ~ slug %}

{#
 # The minus is to remove whitespace
 # https://twig.symfony.com/doc/2.x/templates.html#whitespace-control
 #}
{% block title %}
    {%- if page.head.title is not empty and page.head.title != page.title -%}
        {{ page.head.title }}
    {%- else -%}
        {{ page.title|raw }} - CCS
    {%- endif -%}
{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}


    {# Component: Hero #}
    {# Pass all the variables along #}
    {% include '_components/hero.html.twig' with {'image': page.content.hero_image, 'heading': page.content.hero_heading, 'content': page.content.hero_content, 'cta_label': page.content.hero_cta_label, 'cta_destination': page.content.hero_cta_destination, 'H1title': 'true'} %}


    <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>
    </div>


    <div class="govuk-width-container">

        <div class="govuk-breadcrumbs" role="navigation" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% for link, item in breadcrumb_parents %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ link }}">{{ item }}</a>
                    </li>
                {% endfor %}
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ page.title|raw }}
                </li>
            </ol>
        </div>

    </div>


    <!-- required wrapper 2 -->
    <main id="main-content" role="main" class="govuk-main-wrapper" data-template="{{ page.template }}">


        {#{{ dump(page) }}#}
        {#{{ page.template }}#}



                    <div class="govuk-width-container">
                        <div class="govuk-grid-row">
                            {# Titles and Intros are always displayed at two-thirds, even on fullwidth templates #}
                            <div class="govuk-grid-column-two-thirds">


                                {% if page.content.hero_heading is empty %}

                                    <h1 class="govuk-heading-xl page-title page-title--tight">{{ page.title|raw }}</h1>

                                    {% if page.content.page_lead_text %}
                                        <p class="govuk-body-l">{{ page.content.page_lead_text }}</p>{% endif %}

                                {% endif %}


                            </div>
                        </div>
                    </div>
                    {# Close width-container, row and, full (OR) two-thirds #}



                    {#{{ dump(page.content) }}#}

                    {#{{ page.content.hero_heading }}#}

                    {#always filter richtext (wysiwyg content)#}
                    {#{{ page.content.hero_content | raw }}#}
                    {#{{ page.content.hero_cta_label }}#}
                    {#<img src="{{ page.content.hero_image }}" alt="">#}

                    {#<hr>#}


                    <div class="page-components">
                        {% include '_components/components.html.twig' with {'components': page.content.page_components_rows } %}

                        {% if page.content.brochures_list_brochures_list is not empty or 
                              page.content.whitepapers_list_whitepapers is not empty  or  
                              page.content.webinars_list_webinars is not empty or 
                              page.content.digital_brochures_list_digital_brochures is not empty or
                              page.content.downloadable_list_downloadable_resource %}
                            {% include '_components/resources-section.html.twig' %}
                        {% endif %}
                    </div>


                    {# Start of WYSIWYG content #}
                    {% if
                        page.template == "page-templates/landing.php" or
                        page.template == "page-templates/products-and-services.php" or
                        page.template == "page-templates/sectors.php" %}

                    <div class="govuk-width-container">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <div class="wysiwyg-content">

                                    {% else %}

                                    <div class="govuk-width-container">
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-two-thirds">
                                                <div class="wysiwyg-content">

                                                    {% endif %}

                                                    {{ page.content.content | raw }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# End of WYSIWYG content #}




                                    {% if page.content.page_accordion %}
                                        <div class="govuk-width-container">
                                            <div class="govuk-accordion govuk-!-margin-top-6" data-module="govuk-accordion" id="accordion-default">


                                                {% for accordion_item in page.content.page_accordion %}
                                                    <div class="govuk-accordion__section ">
                                                        <div class="govuk-accordion__section-header">
                                                            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
          {{ accordion_item.page_accordion_page_accordion_item_title }}
        </span>
                                                            </h2>
                                                        </div>
                                                        <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ loop.index }}" role="region">

                                                            {# Start of WYSIWYG content #}
                                                            <div class="wysiwyg-content">

                                                                {{ accordion_item.page_accordion_page_accordion_item_content | raw }}

                                                            </div>
                                                            {# End of WYSIWYG content #}

                                                        </div>
                                                    </div>
                                                {% endfor %}


                                            </div>
                                        </div>
                                    {% endif %}


                                </div>
                            </div>


                            {% if page.content.full_width_content %}
                                <div class="govuk-width-container">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                            {# Start of WYSIWYG content #}
                                            <div class="wysiwyg-content">

                                                {{ page.content.full_width_content | raw }}

                                            </div>
                                            {# End of WYSIWYG content #}


                                        </div>
                                    </div>
                                </div>
                            {% endif %}




                            {% if
                                page.template == "page-templates/landing.php" or
                                page.template == "page-templates/products-and-services.php" or
                                page.template == "page-templates/sectors.php" %}
                            {% else %}
                                {# This is used for the Default template which otherwise sit flushed with the left-side edge on larger viewports #}

                                <div class="govuk-width-container">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-two-thirds">

                                            <div class="app-c-print-link">
                                                <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">
                                                    Print this page
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}




                            {% if page.content.contact_form_show_contact_form is not empty %}
                                <div class="govuk-width-container">

                                    {# Contact form only shown on Landing and Default templates #}
                                    {% if (page.template == "page-templates/landing.php" or page.template == null) and page.content.contact_form_show_contact_form.value == true %}
                                        <div class="govuk-grid-row ccs-inline-contact-form">
                                            {% if formErrors is not null %}
                                                <script>
                                                    document.addEventListener("DOMContentLoaded", function (event) {
                                                        window.location = '#error-summary';
                                                        document.querySelector('.govuk-error-summary').focus();
                                                    });
                                                </script>
                                                <div class="govuk-error-summary govuk-grid-column-two-thirds" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" id="error-summary">
                                                    <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                                                    <div class="govuk-error-summary__body">
                                                        <ul class="govuk-list govuk-error-summary__list">
                                                        {% for errorType in formErrors %}
                                                            {% for error in errorType.errors %}
                                                                <li><a href={{errorType.link}}>{{error}}</li></a>
                                                            {% endfor %}
                                                        {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if page.content.contact_form_form_heading %}
                                                <h2 class="govuk-grid-column-two-thirds govuk-heading-l page-title">{{ page.content.contact_form_form_heading }}</h2>
                                            {% endif %}

                                            <div class="govuk-grid-column-two-thirds">
                                                {% if page.content.contact_form_form_sub_heading %}
                                                    <p>{{ page.content.contact_form_form_sub_heading }}</p>
                                                {% endif %}

                                                <form id="js-contact-form" class="govuk-!-width-three-quarters pardot-submit" action="/{{slug}}" method="post" data-evt-type='page_form_enquiry' {{ formErrors is defined ? "data-evt-state='error'" }}>

                                                    <input type="hidden" name="subject" value="{{ page.content.contact_form_form_campaign_code is not empty ? page.content.contact_form_form_campaign_code : '' }}">

                                                    {% if page.content.contact_form_show_newsletter_form is not empty %}
                                                         <input type="hidden" name="newsletterForm" value={{page.content.contact_form_show_newsletter_form.value == true ? 1 : 0}}>
                                                    {% endif %}

                                                    {% if app.debug %}
                                                        <input type="hidden" name="debug" value=1>
                                                        <input type="hidden" name="debugEmail" value="{{ web_to_case_debug_email }}">
                                                    {% endif %}
                                                    
                                                    <h3 class="js-contact-form-sub-heading">Your details</h3>

                                                    <div class="govuk-form-group {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                        <label class="govuk-label" for="name">Name</label>
                                                        {% if formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
                                                            {% for error in formErrors.nameErr.errors %}
                                                                <span id="full-name-error" class="govuk-error-message">
                                                                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                        <input class="govuk-input pardot-field gtm-form-start {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
                                                    </div>

                                                    <label hidden class="visuallyhidden" aria-hidden="true" for="surname">dummy hidden label</label>
                                                    <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

                                                    <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                        <label class="govuk-label" for="jobTitle">
                                                            Job title </label>

                                                        {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
                                                            {% for error in formErrors.jobTitleErr.errors %}
                                                                <span id="jobTitle-error" class="govuk-error-message">
                                                                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                </span>
                                                            {% endfor %}                            
                                                        {% endif %}   

                                                        <input class="govuk-input pardot-field {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="jobTitle" maxlength="100" name="jobTitle" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
                                                    </div>

                                                    <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                        <label class="govuk-label" for="company">
                                                           Name of organisation </label>

                                                        {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
                                                            {% for error in formErrors.companyErr.errors %}
                                                                <span id="company-error" class="govuk-error-message">
                                                                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                </span>
                                                            {% endfor %}                            
                                                        {% endif %}   

                                                        <input class="govuk-input pardot-field {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization"/>
                                                    </div>

                                                    {% if page.content.contact_form_show_newsletter_form is not empty and page.content.contact_form_show_newsletter_form.value == false %}
                                                        <div class="govuk-form-group {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                            <label class="govuk-label" for="phone" id="phone-label"> 
                                                                {{ formData.callback is defined and formData.callback == true ? 'Telephone number' : 'Telephone number (optional)' }}
                                                            </label>

                                                            {% if formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 %}
                                                                {% for error in formErrors.phoneErr.errors %}
                                                                    <span id="phone-error" class="govuk-error-message">
                                                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                    </span>
                                                                {% endfor %}                           
                                                            {% endif %}

                                                            <input class="govuk-input {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="phone" maxlength="20" name="phone" size="20" type="text" value="{{formErrors is defined ? formData.phone}}" autocomplete="tel">
                                                        </div>
                                                    {% endif %}

                                                    <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                        <label class="govuk-label" for="email">Email </label>

                                                        {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
                                                            {% for error in formErrors.emailErr.errors %}
                                                                <span id="email-error" class="govuk-error-message">
                                                                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                </span>
                                                            {% endfor %}                         
                                                        {% endif %}    
                                                        <input class="govuk-input pardot-email {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email" >
                                                    </div>

                                                    {% if page.content.contact_form_find_out_more_aggregation.value is defined and page.content.contact_form_find_out_more_aggregation.value %}
                                                        <div class="govuk-form-group">
                                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small ccs-checkboxes__item--small">
                                                                <input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="form-aggregation-general" name="00Nb0000009IXEd" type="checkbox" value="1" {{ formData.aggregationCheckbox is not null ? 'checked' : null }}/>
                                                                <label class="govuk-label govuk-checkboxes__label" for="form-aggregation-general">
                                                                    Find out about aggregation opportunities 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    {% endif %}


                                                    {% if page.content.contact_form_show_what_areas_aggregation is defined and page.content.contact_form_show_what_areas_aggregation.value %}
                                                        <input type="hidden" name="validateAggregationOption" value=1>

                                                        <div class="govuk-form-group">
                                                            <fieldset class="govuk-fieldset">
                                                                <legend class="govuk-fieldset__legend">
                                                                    <h3 class="govuk-fieldset__heading">
                                                                        What areas of aggregation are you interested in?
                                                                    </h3>
                                                                </legend>

                                                                <div class="govuk-radios">
                                                                    <div class="govuk-form-group {{formErrors.aggregationOptionErr is defined and formErrors.aggregationOptionErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                                        {% if formErrors.aggregationOptionErr is defined and formErrors.aggregationOptionErr.errors|length > 0 %}
                                                                            {% for error in formErrors.aggregationOptionErr.errors %}
                                                                                <span id="aggregation-option-error" class="govuk-error-message" >
                                                                                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                                </span>
                                                                            {% endfor %}                      
                                                                        {% endif %}
                                                                        {% for aggregationOption in page.content.contact_form_aggregation_options %}
                                                                            <div class="govuk-radios__item govuk-radios__item--small ccs-radios__item--small" id="aggregationOption">
                                                                                <input class="govuk-radios__input govuk-radios__input--small" id="option-{{ slugify(aggregationOption.aggregation_options_name) }}" name="00Nb0000009IXEW" type="radio" value="{{ aggregationOption.aggregation_options_campaign_code }}" data-campaign-code="{{ aggregationOption.aggregation_options_campaign_code }}" {{ formData.aggregationOption == aggregationOption.aggregation_options_campaign_code ? 'checked' : null }} >
                                                                                <label class="govuk-label govuk-radios__label" for="option-{{ slugify(aggregationOption.aggregation_options_name) }}">
                                                                                    {{ aggregationOption.aggregation_options_name }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    {% endif %}

                                                    {% if page.content.contact_form_show_newsletter_form is not empty and page.content.contact_form_show_newsletter_form.value == false %}
                                                        <div class="govuk-form-group {{formErrors.descriptionErr is defined and formErrors.descriptionErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                                            {% if formErrors.descriptionErr is defined and formErrors.descriptionErr.errors|length > 0 %}
                                                                {% for error in formErrors.descriptionErr.errors %}
                                                                    <span id="more-detail-error" class="govuk-error-message">
                                                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                                    </span>
                                                                {% endfor %}                      
                                                            {% endif %}
                                                            <label class="govuk-label" for="form-more-detail">
                                                                {% if page.content.contact_form_message_question_title is defined and page.content.contact_form_message_question_title is not empty %}
                                                                    {{ page.content.contact_form_message_question_title }}
                                                                {% else %}
                                                                    Is there anything specific we can help you with?
                                                                {% endif %}
                                                            </label>
                                                            <div id="form-more-detail-hint" class="govuk-hint">
                                                                {% if page.content.contact_form_message_question_description is defined and page.content.contact_form_message_question_description is not empty %}
                                                                    {{ page.content.contact_form_message_question_description }}
                                                                {% else %}
                                                                    Please give us as much detail as possible, including the agreement name and number
                                                                {% endif %}
                                                            </div>
                                                            <textarea class="govuk-textarea" id="form-more-detail" id="description" name="description" rows="5" aria-describedby="form-more-detail-hint">{{formErrors is defined ? formData.description}}</textarea>
                                                        </div>
                                                    {% endif %}

                                                    {% if page.content.contact_form_show_newsletter_form is not empty and page.content.contact_form_show_newsletter_form.value == false %}

                                                        {% if page.content.contact_form_hide_callback_form is null or 
                                                            (page.content.contact_form_hide_callback_form.value is not null and page.content.contact_form_hide_callback_form.value == false) 
                                                        %}
                                                            <div class="govuk-form-group" id="callbackOptions">
                                                                <fieldset class="govuk-fieldset" aria-describedby="callback">
                                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                                        <h2 class="govuk-fieldset__heading" id="callback">Do you need a callback? (optional)</h2>
                                                                    </legend>
                                                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                                                        <div class="govuk-radios__item">
                                                                            <input class="govuk-radios__input" id="callback-1" name="00Nb0000009IXEg" type="radio" value="Yes" role="region" data-aria-controls="conditional-callback-1" aria-expanded="true" {{formData.callback is defined and formData.callback == 'Yes' ? 'checked' }}>
                                                                            <label class="govuk-label govuk-radios__label" for="callback-1">Yes</label>
                                                                        </div>
                                                                        <div class="govuk-radios__conditional" id="conditional-callback-1">
                                                                            <div class="govuk-form-group">
                                                                                <fieldset class="govuk-fieldset">
                                                                                    <div class="govuk-radios" data-module="govuk-radios">
                                                                                        <div class="govuk-radios__item">
                                                                                            <input class="govuk-radios__input" id="callbackTimeslot-1" name="callbackTimeslot" type="radio" value="Between 9am to 12pm" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "Between 9am to 12pm" ? 'checked' }}>
                                                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-1">Between 9am to 12pm</label>
                                                                                        </div>
                                                                                        <div class="govuk-radios__item">
                                                                                            <input class="govuk-radios__input" id="callbackTimeslot-2" name="callbackTimeslot" type="radio" value="Between 2pm to 5pm" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "Between 2pm to 5pm" ? 'checked' }}>
                                                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-2">Between 2pm to 5pm</label>
                                                                                        </div>
                                                                                        <div class="govuk-radios__item">
                                                                                            <input class="govuk-radios__input" id="callbackTimeslot-3" name="callbackTimeslot" type="radio" value="No preference" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "No preference" ? 'checked' }}>
                                                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-3">No preference</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                        <div class="govuk-radios__item">
                                                                            <input class="govuk-radios__input" id="callback-2" name="00Nb0000009IXEg" type="radio" value="No"{{formData.callback is defined and formData.callback == 'No' ? 'checked' }}>
                                                                            <label class="govuk-label govuk-radios__label" for="callback-2">No</label>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "Page form" } %}


                                                    <p>For information about how we use your data, you can read our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>. When you submit this form we will add you to our mailing list and send you our newsletters, or information about our products and services.</p>
                                                    <p>You will receive an email when you submit your details. You can unsubscribe using the link in the email.</p>

                                                    <div class="govuk-form-group">
                                                        <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button gtm-form-submit gtm--submit-aggregation-form" onclick="pushToDataLayer({'event':'form_submit', 'form_type':'Page form','form_id': document.querySelector('[name=subject]').value })">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>

                                                {% if
                                                    page.template == "page-templates/landing.php" or
                                                    page.template == "page-templates/products-and-services.php" or
                                                    page.template == "page-templates/sectors.php" %}                                            
                                                    <div class="contact_card">
                                                        <h2 class="govuk-heading-m">Talk to us</h2>
                                                        <p>You can also contact us by email or phone</p>
                                                        <p>
                                                            Email: <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
                                                            <br>
                                                            Telephone: <a href="tel:03454102222">0345 410 2222</a>
                                                        </p>

                                                        <p>{{cscMessage | raw}}</p>
                                                    </div> 
                                                {% endif %}

                                            </div>

                                        </div>
                                    {% endif %}

                                </div>
                            {% endif %}

                            {% if page.template == "page-templates/products-and-services.php" or page.template == "page-templates/landing.php" %}
                                {# Don't display it #}
                            {% else %}
                                {% if page.content.full_width_content %}
                                    {% if page.content.option_cards.value|default(null) %}
                                    {# display if option cards exists and is true #}
                                        {% if option_cards %}
                                            <div class="apollo-island apollo-island--emphasised">
                                                <div class="govuk-width-container">
                                                    <div class="govuk-grid-row">
                                                        <div class="govuk-grid-column-one-half">
                                                            <h2 class="visuallyhidden">You might also be interested in:</h2>
                                                            <div class="apollo-call-to-action apollo-call-to-action--aggregation">
                                                                <h3 class="govuk-heading-m">{{ option_cards.first_option_card.title }}</h3>
                                                                <p>{{ option_cards.first_option_card.description }}</p>
                                                                <p><a href="{{option_cards.first_option_card.link_url}}">{{ option_cards.first_option_card.link }}</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    <div class="govuk-grid-column-one-half">
                                                        <h2 class="visuallyhidden">You might also be interested in:</h2>
                                                            <div class="apollo-call-to-action apollo-call-to-action--help">
                                                                <h3 class="govuk-heading-m">{{ option_cards.second_option_card.title }}</h3>
                                                                <p>{{ option_cards.second_option_card.description }}</p>
                                                                <p><a href="{{option_cards.second_option_card.link_url}}">{{ option_cards.second_option_card.link }}</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

    </main>

    {{ include('/includes/_on-page-feedback.html.twig') }}
    
    <script>


        document.querySelectorAll('input[name="00Nb0000009IXEg"]').forEach((option) => {
            option.addEventListener("change", function(event) {
                if (event.target.value == "Yes"){
                    setPhoneTextOptional(false);
                } else 
                    setPhoneTextOptional(true);
            });
        });

         function setPhoneTextOptional(toggle){
            if(toggle){
                document.getElementById("phone-label").textContent = "Telephone number (optional)";
            } else {
                document.getElementById("phone-label").textContent = "Telephone number";
            }
            if (document.getElementById("callback-1").checked){
                document.getElementById("phone-label").textContent = "Telephone number";
            }             
        }
    </script>
    </div>

<script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href});</script>

{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}
    <script src="/assets/scripts/pardot.js"></script>
    <script src="/assets/scripts/libraries/cookies-opt-in.js?v=3.0.3"></script>
{% endblock %}
