{% extends 'base.html.twig' %}

{% block title %}Request to access Webinar - {{ webinar.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>


        <main class="govuk-main-wrapper">
            {% if formErrors is not null %}
                    <div class="govuk-error-summary govuk-grid-column-two-thirds" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                            {% for errorType in formErrors %}
                                {% for error in errorType.errors %}
                                    <li><a href={{errorType.link}}>{{error}}</a></li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="page-title-prepend">Webinar</h1>
                    <h2 class="govuk-heading-xl page-title page-title--tight">{{ webinar.title|raw }}</h2>

                    {% if webinar.content.form_introduction is defined and webinar.content.form_introduction is not empty %}
                        <div class="page-intro">{{ webinar.content.form_introduction|raw }}</div>
                    {% endif %}

                    <p>To watch this webinar, we just need a few details first.</p>

                    {% include 'forms/gated-form.html.twig' with {'subject': 'webinar'} %}

                </div>
                <div class="govuk-grid-column-one-third">
                    {% if webinar.featuredImage is defined and webinar.featuredImage is not empty %}
                        <img src="{{ webinar.featuredImage.byName('news-size-m')|trim is not empty ? webinar.featuredImage.byName('news-size-m') : webinar.featuredImage }}" alt="" role="presentation" />
                    {% endif %}

                    {% if webinar.content.additional_text is not empty %}
                        <p class="ccs-subtle-notification">{{ webinar.content.additional_text }}</p>
                    {% endif%}
                </div>
            </div>
        </main>

    </div>

{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}

    <script src="/assets/scripts/pardot.js"></script>

{% endblock %}
