{% extends 'base.html.twig' %}

{% block title %} Contact Crown Commercial Services - CCS {% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <main id="main-content" role="main" class="govuk-main-wrapper">

            {% if formErrors is defined %}
                <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        {% for errorType in formErrors %}
                            {% for error in errorType.errors %}
                                <a href={{errorType.link}}><li>{{error}}</li></a>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl page-title">Contact CCS</h1>
                    <p class="govuk-body-l">You can use the contact form below to ask a question, give us feedback or make a complaint.</p>

                    <form class="govuk-!-width-three-quarters pardot-submit" action="/contact/submit" method="POST" novalidate data-evt-type='contact_form' {{ formErrors is defined ? "data-evt-state='error'" }}>

                        <input type="hidden" id="subject" maxlength="80" name="subject" size="20" value="Website - Question" />
                        <input type="hidden" name="00N4L000009OPAj" id="referrer" name="referrer" value="{{ referrer }}">
                        {% if app.debug %}
                            <input type="hidden" name="debug" value=1>
                            <input type="hidden" name="debugEmail" value="{{ web_to_case_debug_email }}">
                        {% endif %}

                        <label hidden class="visuallyhidden" aria-hidden="true" for="surname">dummy hidden label</label>
                        <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="typeOfEnquiry">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h2 class="govuk-fieldset__heading" id="typeOfEnquiry">Type of enquiry</h2>
                                </legend>
                                <div id="how-contacted-conditional-hint" class="govuk-hint">Select one option.</div>
                                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="origin" type="radio" value="Website - Question" data-aria-controls="conditional-how-contacted-conditional-1" checked="">
                                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Ask a question</label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="origin" type="radio" value="Website - Feedback" data-aria-controls="conditional-how-contacted-conditional-2" {{formData.enquiryType is defined and formData.enquiryType == "Website - Feedback" ? 'checked' }}>
                                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">Feedback</label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-contacted-conditional-3" name="origin" type="radio" value="Website - Complaint" aria-controls="conditional-how-contacted-conditional-3" aria-expanded="true" {{formData.enquiryType is defined and formData.enquiryType == "Website - Complaint" ? 'checked' }}>
                                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">Complaint</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        {% set nameError = formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
                        <div id="">
                            <div class="govuk-form-group {{ nameError ? 'govuk-form-group--error' : null }}">
                                <label class="govuk-label" for="name">Name</label>

                                {% if nameError %}
                                    {% for error in formErrors.nameErr.errors %}
                                        <span id="full-name-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}
                                {% endif %}

                                <input class="govuk-input pardot-field gtm-form-start {{nameError ? 'govuk-input--error' : null }}" {{nameError ? 'aria-describedby="full-name-error"' : null }} id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
                            </div>

                            <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                <label class="govuk-label" for="email">
                                    Email </label>

                                {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
                                    {% for error in formErrors.emailErr.errors %}
                                        <span id="email-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}                         
                                {% endif %}    

                                <input class="govuk-input pardot-email {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email" required/>
                            </div>

                            <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                <label class="govuk-label" for="00Nb0000009IXEs">
                                    Job title </label>

                                {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
                                    {% for error in formErrors.jobTitleErr.errors %}
                                        <span id="job-title-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}                           
                                {% endif %} 

                                <input class="govuk-input {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="00Nb0000009IXEs" maxlength="100" name="00Nb0000009IXEs" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
                            </div>

                            <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                <label class="govuk-label" for="company">
                                    Name of organisation </label>

                                {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
                                    {% for error in formErrors.companyErr.errors %}
                                        <span id="company-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}                            
                                {% endif %}   

                                <input class="govuk-input pardot-field {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization"/>
                            </div>

                            <div class="govuk-form-group {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                <label class="govuk-label" for="phone" id="phone-label"> 
                                    {{ formData.callback is defined and formData.callback == true ? 'Telephone number' : 'Telephone number (optional)' }}
                                </label>

                                {% if formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 %}
                                    {% for error in formErrors.phoneErr.errors %}
                                        <span id="phone-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}                           
                                {% endif %}

                                <input class="govuk-input {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="phone" maxlength="20" name="phone" size="20" type="text" value="{{formErrors is defined ? formData.phone}}" autocomplete="tel" required/>
                            </div>

                            <div class="govuk-visually-hidden" id="complaintOptions">
                                {% include 'forms/_complaint_form_options.html.twig' %}
                            </div>

                            <div class="govuk-form-group" id="callbackOptions">
                                <fieldset class="govuk-fieldset" aria-describedby="callback">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading" id="callback">Do you need a callback? (optional)</h2>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="callback-1" name="00Nb0000009IXEg" type="radio" value="Yes" aria-controls="conditional-callback-1" aria-expanded="true" {{formData.callback is defined and formData.callback == 'Yes' ? 'checked' }}>
                                            <label class="govuk-label govuk-radios__label" for="callback-1">Yes</label>
                                        </div>
                                        <div class="govuk-radios__conditional" id="conditional-callback-1">
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <div class="govuk-radios" data-module="govuk-radios">
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input" id="callbackTimeslot-1" name="callbackTimeslot" type="radio" value="Between 9am to 12pm" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "Between 9am to 12pm" ? 'checked' }}>
                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-1">Between 9am to 12pm</label>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input" id="callbackTimeslot-2" name="callbackTimeslot" type="radio" value="Between 2pm to 5pm" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "Between 2pm to 5pm" ? 'checked' }}>
                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-2">Between 2pm to 5pm</label>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input" id="callbackTimeslot-3" name="callbackTimeslot" type="radio" value="No preference" {{formData.callbackTimeslot is defined and formData.callbackTimeslot == "No preference" ? 'checked' }}>
                                                            <label class="govuk-label govuk-radios__label" for="callbackTimeslot-3">No preference</label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="callback-2" name="00Nb0000009IXEg" type="radio" value="No" data-aria-controls="conditional-callback-2" {{formData.callback is defined and formData.callback == 'No' ? 'checked' }}>
                                            <label class="govuk-label govuk-radios__label" for="callback-2">No</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="govuk-form-group {{formErrors.moreDetailErr is defined and formErrors.moreDetailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                <label id="more-detail-label" class="govuk-label" for="more-detail">Provide more details</label>
                                <h2 class="govuk-heading-m govuk-visually-hidden" id="complaintTitle">Tell us about your complaint</h2>

                                {% if formErrors.moreDetailErr is defined and formErrors.moreDetailErr.errors|length > 0 %}
                                    {% for error in formErrors.moreDetailErr.errors %}
                                        <span id="more-detail-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                        </span>
                                    {% endfor %}                      
                                {% endif %}

                                <div id="more-detail-hint" class="govuk-hint">Tell us more about your question or describe the problem you are having. Do not include personal or financial information, like your credit card details.</div>
                                <div id="complaintHint" class="govuk-hint govuk-visually-hidden">Do not include: 
                                    <ul>
                                        <li>personal or financial details, like your credit card details</li>
                                        <li>any data that could potentially identify a specific individual, such as names</li>
                                    </ul>
                                </div>
                                <textarea maxlength="3000" class="govuk-textarea" style="margin-bottom: 0px; {{formErrors.moreDetailErr is defined and formErrors.moreDetailErr.errors|length > 0 ? 'border: 4px solid #b10e1e' : null }}" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint" required>{{formErrors is defined ? formData.moreDetail}}</textarea>
                                <p class="govuk-hint">You can enter up to 3000 characters</p>
                            </div>

                            {% set fileUpload = false %}

                            {% if fileUpload %}
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="attachment">Upload a file (optional)</label>
                                    <input class="govuk-file-upload" id="attachment" name="attachment" type="file">
                                </div>
                            {% endif %}

                            <div class="govuk-form-group" id="contactedBeforeOptions">
                                <fieldset class="govuk-fieldset" aria-describedby="contactedBefore">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading" id="contactedBefore">Have you contacted us before? (optional)</h2>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contactedBefore-1" name="contactedBefore" type="radio" value="Yes" aria-controls="conditional-contactedBefore-1" aria-expanded="true" {{formData.contactedBefore is defined and formData.contactedBefore == "Yes" ? 'checked' }}>
                                            <label class="govuk-label govuk-radios__label" for="contactedBefore-1">Yes</label>
                                        </div>
                                        <div class="govuk-radios__conditional" id="conditional-contactedBefore-1">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="00N4L000009vOyr">Case Reference number (Optional)</label>
                                                <div class="govuk-hint">If you have contacted us before you will have received a case reference number. Your case reference number will begin with a 0 and will be 7 digits long. It will be on all emails from our customer service team.</div>
                                                <input class="govuk-input" id="00N4L000009vOyr" maxlength="7" name="00N4L000009vOyr" size="20" type="text" value="{{formData.caseNumber is defined and formData.caseNumber != null ? formData.caseNumber}}">
                                            </div>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contactedBefore-2" name="contactedBefore" type="radio" value="No" data-aria-controls="conditional-contactedBefore-2" {{formData.contactedBefore is defined and formData.contactedBefore == "No" ? 'checked' }}>
                                            <label class="govuk-label govuk-radios__label" for="contactedBefore-2">No</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <input type="hidden" class="govuk-!-width-full" name="description" id="salesforce-textarea"/>


                            <p>To find out how we use your data, you can <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">read our privacy notice</a>. </br>
                            Once you submit your details, you will receive a confirmation email to let you know your case reference number and next steps.</p>

                            <div class="govuk-form-group">
                                <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button gtm-form-submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="contact_card">
                        <h2 class="govuk-heading-m">Talk to us</h2>
                        <p>You can also contact us by email or phone</p>
                        <p>
                            Email: <a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a>
                            <br>
                            Telephone: <a href="tel:03454102222">0345 410 2222</a>
                        </p>

                        <p>{{cscMessage | raw}}</p>
                    </div>
                    
                    {% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "Contact CCS" } %}

                    <script>

                        const originCheckboxes              = document.getElementsByName("origin");
                        const customerTypeCheckboxes        = document.getElementsByName("customerType");
                        const contactWayCheckboxes          = document.getElementsByName("contactWay");
                        const formSubmitButton              = document.getElementById("submit");

                        const hideForComplaint = ["callbackOptions", "more-detail-label", "more-detail-hint"];
                        const showForComplaint = ["complaintOptions", "complaintTitle", "complaintHint"];

                        dataCollectionFieldForSalesforce = document.getElementById("salesforce-textarea");


                        document.querySelectorAll('input[name="00Nb0000009IXEg"]').forEach((option) => {
                            option.addEventListener("change", function(event) {
                                if (event.target.value == "Yes"){
                                    setPhoneTextOptional(false);
                                } else 
                                    setPhoneTextOptional(true);
                            });
                        });

                        document.querySelectorAll('input[name="origin"]').forEach((option) => {
                            option.addEventListener("change", function(event) {
                                switch(event.target.value) {
                                    case 'Website - Complaint':
                                        toggleComplaintForm(true);
                                        document.getElementById("subject").value = "Website - Complaint";
                                        break;
                                    case 'Website - Feedback':
                                        toggleComplaintForm(false);
                                        document.getElementById("subject").value = "Website - Feedback";
                                        break;
                                    default:
                                        toggleComplaintForm(false);
                                        document.getElementById("subject").value = "Website - Question";
                                }
                        });});

                        formSubmitButton.addEventListener('click', function handler (e) {

                            dataCollectionFieldForSalesforce.value = "";

                            const fieldMoreDetail = document.getElementById("more-detail");
                            var calledbackOptionAddedToDataField = false;

                            dataCollectionFieldForSalesforce.value += prepareCheckboxOptionToSfField(originCheckboxes);
                            dataCollectionFieldForSalesforce.value += prepareCheckboxOptionToSfField(customerTypeCheckboxes);
                            dataCollectionFieldForSalesforce.value += prepareCheckboxOptionToSfField(contactWayCheckboxes);
                            dataCollectionFieldForSalesforce.value += prepareCallbackTimeslotToSfField();
                            dataCollectionFieldForSalesforce.value += " " + fieldMoreDetail.name + ": " + fieldMoreDetail.value;

                            this.removeEventListener('click', handler); 

                        }, false);


                        function toggleComplaintForm(option) {
                            setPhoneTextOptional(!option);
                            const elementsToHide = option ? hideForComplaint : showForComplaint;
                            const elementsToShow = option ? showForComplaint : hideForComplaint;
                            elementsToHide.forEach(id => {
                                document.getElementById(id).classList.add('govuk-visually-hidden');
                            });
                            elementsToShow.forEach(id => {
                                document.getElementById(id).classList.remove('govuk-visually-hidden');
                            });
                        }

                        function setPhoneTextOptional(toggle){
                            if(toggle){
                                document.getElementById("phone-label").textContent = "Telephone number (optional)";
                            }else{
                                document.getElementById("phone-label").textContent = "Telephone number";
                            }
                            if (document.getElementById("callback-1").checked){
                                document.getElementById("phone-label").textContent = "Telephone number";
                            }
                            
                        }
                        function prepareCheckboxOptionToSfField(checkboxesName){
                           for (var i = 0, length = checkboxesName.length; i < length; i++) {
                                if (checkboxesName[i].checked) {
                                    return checkboxesName[i].name + ": " + checkboxesName[i].value + ", \n";
                                }
                            }
                            return "";
                        }
                        function prepareCallbackTimeslotToSfField(){
                            
                            if (document.getElementById("callback-2").checked || document.getElementById("contact-way-conditional-2").checked || document.getElementById("contact-way-conditional-3").checked){
                                return "";
                            }

                            const elementName = document.getElementById("subject").value == "Website - Complaint" ? "callbackTimeslotForC" : "callbackTimeslot";
                            const callbackTimeslotCheckboxes = document.getElementsByName(elementName);
                            returnValue = "Callback: No preference, \n";
                            
                            for (var i = 0, length = callbackTimeslotCheckboxes.length; i < length; i++) {
                                if (callbackTimeslotCheckboxes[i].checked) {
                                    returnValue = "Callback: " + callbackTimeslotCheckboxes[i].value + ", \n";
                                    break;
                                }
                            }

                            return returnValue
                        }

                        window.onload = function() {
                            if (document.getElementById("how-contacted-conditional-3").checked) {
                                toggleComplaintForm(true);
                            }
                        };

                    </script>

                </div>
            </div>
        </main>
    </div>

{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}
    <script src="/assets/scripts/pardot.js"></script>
{% endblock %}
