{% extends 'base.html.twig' %}

{% block title %} Subscribe to our buyer newsletter - CCS {% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% include '_components/hero.html.twig' with {'image': '/assets/images/Newsletter-SignUp.jpg', 'heading': 'Subscribe to our customer newsletter', 'notFromWordpress': 'true', 'cta_label': '', 'content': '', 'cta_label': '', 'cta_destination': '', 'newsletter': 'true'} %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">

            {% if formErrors is defined %}
                <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        {% for errorType in formErrors %}
                            {% for error in errorType.errors %}
                                <a href={{errorType.link}}><li>{{error}}</li></a>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h2 class="govuk-heading-l page-title">Keep up to date with the latest news from CCS</h2>
                    
                    <p>Complete the form below to subscribe to the CCS customer newsletter and find out how we can help you unlock the power of procurement. Each month we share agreement updates, guidance, insights from our industry experts, events, webinars and much more.</p>
                    <!-- form -->
                    {# For Twig global variables see config/packages/<environment>/twig.yaml #}
                    <form class="govuk-!-width-three-quarters" action="/newsletters/submit" method="POST" data-evt-type='newsletter' {{ formErrors is defined ? "data-evt-state='error'" }} >

                        {# See https://symfony.com/doc/current/templating/app_variable.html #}
                        {% if app.debug %}
                            <input type="hidden" name="debug" value=1>
                            <input type="hidden" name="debugEmail" value="{{ web_to_case_debug_email }}">
                        {% endif %}

                        <label hidden class="visuallyhidden" aria-hidden="true" for="surname">dummy hidden label</label>
                        <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                        <input type="hidden" name="subject" value="Website - Newsletter">

                        <p class="js-contact-form-sub-heading">Your details</p>

                        <div class="govuk-form-group {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="name">Name</label>

                            {% if formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
                                {% for error in formErrors.nameErr.errors %}
                                     <span id="full-name-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                     </span>
                                {% endfor %}
                            {% endif %}

                            <input class="govuk-input pardot-field gtm-form-start {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
                        </div>

                         <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="jobTitle">
                                Job title </label>

                            {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
                                {% for error in formErrors.jobTitleErr.errors %}
                                    <span id="job-title-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                           
                            {% endif %} 

                            <input class="govuk-input {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="jobTitle" maxlength="100" name="jobTitle" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
                        </div>

                         <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="company">
                                Name of organisation </label>

                            {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
                                {% for error in formErrors.companyErr.errors %}
                                    <span id="company-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                            
                            {% endif %}   

                            <input class="govuk-input pardot-field {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="email">
                                Email </label>

                            {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
                                {% for error in formErrors.emailErr.errors %}
                                    <span id="email-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                         
                            {% endif %}    

                            <input class="govuk-input pardot-email {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email"/>
                        </div>

                        <p>For information about how we use your data, you can read our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>. When you submit this form we will add you to our mailing list and send you our newsletters, or information about our products and services.</p>
                        <p>You will receive an email when you submit your details. You can unsubscribe using the link in the email.</p>

                        <div class="govuk-form-group">
                            <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="govuk-!-font-weight-bold govuk-button gtm-form-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>


        </main>
    </div>

    {% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "Newsletter" } %}

{% endblock %}
