{% extends 'base.html.twig' %}

{% block title %}Register as a buyer for the CCS eSourcing tool - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">

            {% if formErrors is defined %}
                <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        {% for errorType in formErrors %}
                            {% for error in errorType.errors %}
                                <a href={{errorType.link}}><li>{{error}}</li></a>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl page-title">Register as a buyer for the CCS eSourcing tool</h1>
                    <p class="govuk-body-l">Complete the form below to register as a buyer to use our eSourcing tool. We will send you log-in details once you are registered.</p>
                    <p>There is a different process to <a href="https://www.gov.uk/government/publications/become-a-crown-commercial-service-supplier/becoming-a-supplier-through-the-crown-commercial-service-what-you-need-to-know">register as a supplier</a>.</p>

                    <!-- form -->
                    {# For Twig global variables see config/packages/<environment>/twig.yaml #}
                    <form class="govuk-!-width-three-quarters" action="/esourcing-register/submit" method="POST" novalidate data-evt-type='eSourcing_access' {{ formErrors is defined ? "data-evt-state='error'" }}>

                        {# See https://symfony.com/doc/current/templating/app_variable.html #}
                        {% if app.debug %}
                            <input type="hidden" name="debug" value=1>
                            <input type="hidden" name="debugEmail" value="{{ web_to_case_debug_email }}">
                        {% endif %}


                        {# `name` value must match fields in Salesforce. `class` value must match GDS components #}

                        <label hidden class="visuallyhidden" aria-hidden="true" for="surname">dummy hidden label</label>
                        <input type="hidden" name="subject" value="Website - eSourcing Access">
                        <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

                        <p class="js-contact-form-sub-heading">Your details</p>

                        <div class="govuk-form-group {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="name"> Name </label>

                            {% if formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
                                {% for error in formErrors.nameErr.errors %}
                                     <span id="full-name-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                     </span>
                                {% endfor %}
                            {% endif %}

                            <input class="govuk-input gtm-form-start {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="jobTitle">
                                Job title </label>

                            {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
                                {% for error in formErrors.jobTitleErr.errors %}
                                    <span id="job-title-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                           
                            {% endif %} 

                            <input class="govuk-input {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="jobTitle" maxlength="100" name="jobTitle" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="company">Name of organisation</label>

                            {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
                                {% for error in formErrors.companyErr.errors %}
                                    <span id="company-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                            
                            {% endif %}   

                            <input class="govuk-input {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="phone"> Telephone number (optional)</label>

                            {% if formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 %}
                                {% for error in formErrors.phoneErr.errors %}
                                    <span id="phone-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                           
                            {% endif %}

                            <input class="govuk-input {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="phone" maxlength="20" name="phone" size="20" type="text" value="{{formErrors is defined ? formData.phone}}" autocomplete="tel" required/>
                        </div>

                         <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="email"> Email </label>

                            {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
                                {% for error in formErrors.emailErr.errors %}
                                    <span id="email-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                         
                            {% endif %}    

                            <input class="govuk-input {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email" required/>
                        </div>
                        

                        <p>For information about how we use your data, you can read our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>. When you submit this form we will add you to our mailing list and send you our newsletters, or information about our products and services.</p>
                        <p>You will receive an email when you submit your details. You can unsubscribe using the link in the email.</p>

                        <div class="govuk-form-group">
                            <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button gtm-form-submit" onclick="pushToDataLayer({'event':'form_submit', 'form_type':'eSourcing Register' })">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </main>
    </div>

    {% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "eSourcing Register" } %}

{% endblock %}
