{% extends 'base.html.twig' %}

{% block title %}Book online training for the CCS eSourcing tool - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">

            {% if formErrors is defined %}
                <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        {% for errorType in formErrors %}
                            {% for error in errorType.errors %}
                                <a href={{errorType.link}}><li>{{error}}</li></a>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl page-title">Book online training for the CCS eSourcing tool</h1>
                    <p class="govuk-body-l">Complete the form below to book a place on one of our online training sessions. 
                        The sessions are between 1 and 1.5 hours long. 
                        Sign in details will be issued in a meeting invitation sent to you about one week before the training date.
                    </p>


                    <!-- form -->
                    {# For Twig global variables see config/packages/<environment>/twig.yaml #}
                    <form class="govuk-!-width-three-quarters" action="/esourcing-training/submit" method="POST" data-evt-type='eSourcing_training' {{ formErrors is defined ? "data-evt-state='error'" }}>

                        {# See https://symfony.com/doc/current/templating/app_variable.html #}
                        {% if app.debug %}
                            <input type="hidden" name="debug" value=1>
                            <input type="hidden" name="debugEmail" value="{{ web_to_case_debug_email }}">
                        {% endif %}

                        {# `name` value must match fields in Salesforce. `class` value must match GDS components #}

                        <label hidden class="visuallyhidden" aria-hidden="true" for="surname">dummy hidden label</label>
                        <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="buyerOrSupplier">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h2 class="govuk-fieldset__heading" id="buyerOrSupplier" style="margin-bottom: 5px">
                                        Are you a buyer or supplier?
                                    </h2>
                                    <p>
                                        You will need to choose an appropriate training date 
                                    </p>
                                </legend>

                                <div class="govuk-form-group {{formErrors.customerTypeErr is defined and formErrors.customerTypeErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                                    {% if formErrors.customerTypeErr is defined and formErrors.customerTypeErr.errors|length > 0 %}
                                        {% for error in formErrors.customerTypeErr.errors %}
                                            <span id="customerType-error" class="govuk-error-message">
                                                <span class="govuk-visually-hidden">Error:</span>{{error}}
                                            </span>
                                        {% endfor %}                         
                                    {% endif %}
                                    
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="customer-type" type="radio" value="Buyer" data-aria-controls="conditional-how-contacted-conditional-1" {{ formData is defined and formData.customerType is same as('Buyer') ? 'checked' : null }}>
                                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                                                Buyer
                                            </label>
                                        </div>
                                        <div class="govuk-form-group {{formErrors.dateErr is defined and formErrors.dateErr.errors|length > 0 and formData.customerType is same as('Buyer') ? 'govuk-form-group--error' : 'govuk-radios__conditional' }}" id="conditional-how-contacted-conditional-1">

                                            <div class="govuk-form-group">
                                                {% if formErrors.dateErr is defined and formErrors.dateErr.errors|length > 0 and formData.customerType is same as('Buyer') %}
                                                    {% for error in formErrors.dateErr.errors %}
                                                        <span id="date-error" class="govuk-error-message">
                                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                        </span>
                                                    {% endfor %}
                                                {% endif %}
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        <h2 class="govuk-fieldset__heading visuallyhidden">
                                                            Choose your training time from the following:
                                                        </h2>
                                                    </legend>
                                                    <div class="govuk-radios">

                                                        {% for buyer_date in esourcingDates.content.buyer_dates %}
                                                            <div class="govuk-radios__item govuk-radios__item--small">
                                                                <input class="govuk-radios__input govuk-radios__input--small" id="buyer-training-dates-{{ loop.index }}" name="buyer-training-dates" type="radio" value="{{ buyer_date.date|date('jS M Y - g:ia') }}" {{ formData is defined and formData.customerType is same as('Buyer') and formData.buyerDate is same as buyer_date.date|date('jS M Y - g:ia') ? 'checked' : null }}>
                                                                <label class="govuk-label govuk-radios__label" for="buyer-training-dates-{{ loop.index }}">
                                                                    {{ buyer_date.date|date('jS M Y - g:ia') }}
                                                                </label>
                                                            </div>

                                                        {% endfor %}

                                                    </div>
                                                </fieldset>
                                            </div>


                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="customer-type" type="radio" value="Supplier" data-aria-controls="conditional-how-contacted-conditional-2" {{ formData is defined and formData.customerType is same as('Supplier') ? 'checked' : null }}>
                                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                                Supplier
                                            </label>
                                        </div>
                                        <div class="govuk-form-group {{formErrors.dateErr is defined and formErrors.dateErr.errors|length > 0 and formData.customerType is same as('Supplier') ? 'govuk-form-group--error' : 'govuk-radios__conditional' }}" id="conditional-how-contacted-conditional-2">

                                            <div class="govuk-form-group">
                                                {% if formErrors.dateErr is defined and formErrors.dateErr.errors|length > 0 and formData.customerType is same as('Supplier') %}
                                                    {% for error in formErrors.dateErr.errors %}
                                                        <span id="date-error" class="govuk-error-message">
                                                            <span class="govuk-visually-hidden">Error:</span>{{error}}
                                                        </span>
                                                    {% endfor %}
                                                {% endif %}
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        <h2 class="govuk-fieldset__heading visuallyhidden">
                                                            Choose your training time from the following:
                                                        </h2>
                                                    </legend>
                                                    <div class="govuk-radios">

                                                        {% for supplier_date in esourcingDates.content.supplier_dates %}
                                                            <div class="govuk-radios__item govuk-radios__item--small">
                                                                <input class="govuk-radios__input govuk-radios__input--small" id="supplier-training-dates-{{ loop.index }}" name="supplier-training-dates" type="radio" value="{{ supplier_date.date|date('jS M Y - g:ia') }}" {{ formData is defined and formData.customerType is same as('Supplier') and formData.supplierDate is same as supplier_date.date|date('jS M Y - g:ia') ? 'checked' : null }}>
                                                                <label class="govuk-label govuk-radios__label" for="supplier-training-dates-{{ loop.index }}">
                                                                    {{ supplier_date.date|date('jS M Y - g:ia') }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                </fieldset>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <p class="js-contact-form-sub-heading">Your details</p>

                        <div class="govuk-form-group {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <input type="hidden" name="subject" value="Website - eSourcing Training">
                            <label class="govuk-label" for="name"> Name </label>

                            {% if formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
                                {% for error in formErrors.nameErr.errors %}
                                     <span id="full-name-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                     </span>
                                {% endfor %}
                            {% endif %}

                            <input class="govuk-input gtm-form-start {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="jobTitle">
                                Job title </label>

                            {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
                                {% for error in formErrors.jobTitleErr.errors %}
                                    <span id="job-title-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                           
                            {% endif %} 

                            <input class="govuk-input {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="jobTitle" maxlength="100" name="jobTitle" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="company"> Name of organisation </label>

                            {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
                                {% for error in formErrors.companyErr.errors %}
                                    <span id="company-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                            
                            {% endif %}   

                            <input class="govuk-input {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization"/>
                        </div>

                        <div class="govuk-form-group {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="phone"> Telephone number</label>

                            {% if formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 %}
                                {% for error in formErrors.phoneErr.errors %}
                                    <span id="phone-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                           
                            {% endif %}

                            <input class="govuk-input {{formErrors.phoneErr is defined and formErrors.phoneErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="phone" maxlength="20" name="phone" size="20" type="text" value="{{formErrors is defined ? formData.phone}}" autocomplete="tel" />
                        </div>


                         <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
                            <label class="govuk-label" for="email"> Email </label>

                            {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
                                {% for error in formErrors.emailErr.errors %}
                                    <span id="email-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>{{error}}
                                    </span>
                                {% endfor %}                         
                            {% endif %}    

                            <input class="govuk-input {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email"/>
                         </div>

                        {# Catch-all field for additional Salesforce data #}
                        <input type="hidden" class="govuk-!-width-full" name="description" id="salesforce-textarea" />

                        <p>For information about how we use your data, you can read our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>. When you submit this form we will add you to our mailing list and send you our newsletters, or information about our products and services.</p>
                        <p>You will receive an email when you submit your details. You can unsubscribe using the link in the email.</p>

                        <div class="govuk-form-group">
                            <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button gtm-form-submit">Submit</button>
                        </div>

                    </form>

                    {% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "eSourcing Training" } %}

                    <script>



                        // Collect all the radio values
                        customerTypeRadios = document.getElementsByName("customer-type");
                        buyerTrainingRadios = document.getElementsByName("buyer-training-dates");
                        supplierTrainingRadios = document.getElementsByName("supplier-training-dates");

                        buyerTrainingRadios.forEach(option => {
                            option.addEventListener("change", function(event) {
                                document.getElementById("how-contacted-conditional-1").checked = true;
                                unCheckArray(supplierTrainingRadios);
                            })
                        });

                        supplierTrainingRadios.forEach(option => {
                            option.addEventListener("change", function(event) {
                                document.getElementById("how-contacted-conditional-2").checked = true;
                                unCheckArray(buyerTrainingRadios);
                            })
                        });

                        customerTypeRadios.forEach((option) => {
                            option.addEventListener("change", function(event) {
                                if (event.target.value == "Buyer"){
                                    unCheckArray(supplierTrainingRadios);
                                } else 
                                    unCheckArray(buyerTrainingRadios);
                            });
                        });

                        function unCheckArray(arrayToUnCheck) {
                            arrayToUnCheck.forEach(radioButton => {
                                radioButton.checked = false;
                            });
                        }

                        // The field were we collect all the data for Salesforce
                        dataCollectionFieldForSalesforce = document.getElementById("salesforce-textarea");

                        // We gather the data once the user submits the form
                        formSubmitButton = document.getElementById("submit");

                        formSubmitButton.addEventListener('click', function (e) {

                            for (var i = 0, length = customerTypeRadios.length; i < length; i++)
                            {

                                if (customerTypeRadios[i].checked)
                                {
                                    // put radio values into collection field
                                    dataCollectionFieldForSalesforce.value += customerTypeRadios[i].name + ": " + customerTypeRadios[i].value + ", ";

                                }
                            }
                            for (var i = 0, length = buyerTrainingRadios.length; i < length; i++)
                            {

                                if (buyerTrainingRadios[i].checked)
                                {
                                    // put radio values into collection field
                                    dataCollectionFieldForSalesforce.value += buyerTrainingRadios[i].name + ": " + buyerTrainingRadios[i].value + ", ";

                                }
                            }
                            for (var i = 0, length = supplierTrainingRadios.length; i < length; i++)
                            {

                                if (supplierTrainingRadios[i].checked)
                                {
                                    // put radio values into collection field
                                    dataCollectionFieldForSalesforce.value += supplierTrainingRadios[i].name + ": " + supplierTrainingRadios[i].value + ", ";

                                }
                            }

                        }, false);

                    </script>




                </div>
                {#<div class="govuk-grid-column-one-quarter">#}
                {#</div>#}
            </div>


        </main>
    </div>

{% endblock %}
