<h2 class="govuk-heading-m govuk-visually-hidden" id="complaintTitle">Tell us about your complaint</h2>

<div class="govuk-form-group {{formErrors.customerTypeErr is defined and formErrors.customerTypeErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
    <fieldset class="govuk-fieldset" aria-describedby="typeOfCustomer">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading" id="typeOfCustomer">Are you a buyer or supplier?</h2>
        </legend>
        {% if formErrors.customerTypeErr is defined and formErrors.customerTypeErr.errors|length > 0 %}
            {% for error in formErrors.customerTypeErr.errors %}
                <span id="phone-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                </span>
            {% endfor %}                           
        {% endif %}
        <div id="customer-type-conditional-hint" class="govuk-hint">Select one option.</div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="customer-type-conditional-1" name="customerType" type="radio" value="Buyer" {{formData.customerType is defined and formData.customerType == "Buyer" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="customer-type-conditional-1">Buyer</label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="customer-type-conditional-2" name="customerType" type="radio" value="Supplier" {{formData.customerType is defined and formData.customerType == "Email" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="customer-type-conditional-2">Supplier</label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="customer-type-conditional-3" name="customerType" type="radio" value="Both"  {{formData.customerType is defined and formData.customerType == "Both" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="customer-type-conditional-3">Both</label>
            </div>
        </div>
    </fieldset>
</div>

<div class="govuk-form-group {{formErrors.contactWayErr is defined and formErrors.contactWayErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
    <fieldset class="govuk-fieldset" aria-describedby="contactWay">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading" id="contactWay">How should we contact you?</h2>
        </legend>
        {% if formErrors.contactWayErr is defined and formErrors.contactWayErr.errors|length > 0 %}
            {% for error in formErrors.contactWayErr.errors %}
                <span id="phone-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                </span>
            {% endfor %}                           
        {% endif %}
        <div id="contact-way-conditional-hint" class="govuk-hint">Select one option.</div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-way-conditional-1" name="contactWay" type="radio" value="Phone" role="region" data-aria-controls="conditional-contact-way-conditional-1" {{formData.contactWay is defined and formData.contactWay == "Phone" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="contact-way-conditional-1">Phone</label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-contact-way-conditional-1">
                <p>When should we contact you?</p>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="callbackTimeslotForC-1" name="callbackTimeslotForC" type="radio" value="Between 9am to 12pm" {{formData.callbackTimeslotForC is defined and formData.callbackTimeslotForC == "Between 9am to 12pm" ? 'checked' }}>
                                <label class="govuk-label govuk-radios__label" for="callbackTimeslotForC-1">Between 9am to 12pm</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="callbackTimeslotForC-2" name="callbackTimeslotForC" type="radio" value="Between 2pm to 5pm" {{formData.callbackTimeslotForC is defined and formData.callbackTimeslotForC == "Between 2pm to 5pm" ? 'checked' }}>
                                <label class="govuk-label govuk-radios__label" for="callbackTimeslotForC-2">Between 2pm to 5pm</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="callbackTimeslotForC-3" name="callbackTimeslotForC" type="radio" value="No preference" {{formData.callbackTimeslotForC is defined and formData.callbackTimeslotForC == "No preference" ? 'checked' }}>
                                <label class="govuk-label govuk-radios__label" for="callbackTimeslotForC-3">No preference</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-way-conditional-2" name="contactWay" type="radio" value="Email"  {{formData.contactWay is defined and formData.contactWay == "Email" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="contact-way-conditional-2">Email</label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-way-conditional-3" name="contactWay" type="radio" value="No preference" {{formData.contactWay is defined and formData.contactWay == "No preference" ? 'checked' }}>
                <label class="govuk-label govuk-radios__label" for="contact-way-conditional-3">No preference</label>
            </div>
        </div>
    </fieldset>
</div>

 {# <div id="complaintHint" class="govuk-hint govuk-visually-hidden">Do not include: 
                                    <ul>
                                        <li>personal or financial details, like your credit card details</li>
                                        <li>any data that could potentially identify a specific individual, such as names</li>
                                    </ul>
                                     document.getElementById("subject").value = "Website - Complaint";
</div> #}