<form class="govuk-!-width-three-quarters pardot-submit" action="{{form_action}}" method="post" data-evt-type='gated_form' {{ formErrors is defined ? "data-evt-state='error'" }}>

    {# For Pardot #}
    <input type="hidden" id="subject" maxlength="80" name="subject" size="20" value={{subject}} />
    <input type="checkbox" id="surname" name="surname" value="1" style="display:none !important" tabindex="-1" autocomplete="off">

    <p class="js-contact-form-sub-heading">Your details</p>

    <div class="govuk-form-group {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
        <label class="govuk-label" for="name">Full name</label>
        {% if formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 %}
            {% for error in formErrors.nameErr.errors %}
                <span id="full-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                </span>
            {% endfor %}
        {% endif %}    
        <input class="govuk-input pardot-field gtm-form-start {{formErrors.nameErr is defined and formErrors.nameErr.errors|length > 0 ? 'govuk-input--error' : null }}" aria-describedby="full-name-error" id="name" maxlength="80" name="name" size="20" type="text" value="{{formErrors is defined ? formData.name}}" autocomplete="name"/>
    </div>

    <div class="govuk-form-group {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
        <label class="govuk-label" for="jobTitle">Job title</label>
        {% if formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 %}
            {% for error in formErrors.jobTitleErr.errors %}
                <span id="jobTitle-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                </span>
            {% endfor %}                            
        {% endif %}   
        <input class="govuk-input {{formErrors.jobTitleErr is defined and formErrors.jobTitleErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="jobTitle" maxlength="100" name="00Nb0000009IXEs" size="20" type="text" value="{{formErrors is defined ? formData.jobTitle}}" autocomplete="organization-title"/>
    </div>

    <div class="govuk-form-group {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
        <label class="govuk-label" for="company">Name of organisation</label>
        {% if formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 %}
            {% for error in formErrors.companyErr.errors %}
                <span id="company-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                </span>
            {% endfor %}                            
        {% endif %}   
        <input class="govuk-input pardot-field {{formErrors.companyErr is defined and formErrors.companyErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="company" maxlength="80" name="company" size="20" type="text" value="{{formErrors is defined ? formData.company}}" autocomplete="organization" />
    </div>

    <div class="govuk-form-group {{formErrors.emailErr.errors is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-form-group--error' : null }}">
        <label class="govuk-label" for="email">Email</label>
         {% if formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 %}
             {% for error in formErrors.emailErr.errors %}
                <span id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{error}}
                 </span>
            {% endfor %}                         
         {% endif %}
        <input class="govuk-input pardot-email {{formErrors.emailErr is defined and formErrors.emailErr.errors|length > 0 ? 'govuk-input--error' : null }}" id="email" maxlength="80" name="email" size="20" type="email" value="{{formErrors is defined ? formData.email}}" autocomplete="email" />
    </div>

    <p>For information about how we use your data, you can read our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>. When you submit this form we will add you to our mailing list and send you our newsletters, or information about our products and services.</p>
    <p>You will receive an email when you submit your details. You can unsubscribe using the link in the email.</p>

    <div class="govuk-form-group">
        <button data-prevent-double-click="true" data-module="govuk-button" type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button gtm-form-submit">
            Download
        </button>
    </div>
</form>

{% include 'forms/dataLayer_component/_form_start_form_error.html.twig' with {'formName': "Gated form" } %}