<form class="govuk-!-width-three-quarters" action="{{ form_action }}" method="post">
    <div class="govuk-form-group --govuk-form-group--error">
        <label class="govuk-label" for="name">Full name</label>
        <input class="govuk-input --govuk-input--error" aria-describedby="full-name-error" id="name" maxlength="80" name="name" size="20" type="text" required="required"/>
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="email">Email</label>
        <input class="govuk-input" id="email" maxlength="80" name="email" size="20" type="email" required="required"/>
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="name">Telephone number (optional)</label>
        <input class="govuk-input" id="phone" maxlength="40" name="phone" size="20" type="text"/>
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="company">Organisation</label>
        <input class="govuk-input" id="company" maxlength="80" name="company" size="20" type="text" required="required"/>
    </div>

    <input type="hidden" name="retURL" value="{{ return_url }}">
    <input type="hidden" name="orgid" value="00D7E0000001TXW">
    <input type="hidden" name="subject" value="{{ campaign_code }}">
    <input type="hidden" name="00Nb0000009IXEW" value="{{ campaign_code }}">
    <input type="hidden" name="00Nb0000009IXEn" value="1">
    <input type="hidden" name="recordType" value="012b00000005NWC">
    <input type="hidden" name="priority" value="Green">
    <input type="hidden" name="description" value="{{ description }}">

    <p>Here is our <a href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">privacy notice</a>.</p>

    <div class="govuk-form-group">
        <button type="submit" id="submit" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button">
            Send enquiry
        </button>
        {#                            <a href="/webinar/confirmation/{{ webinar.ID }}/{{ webinar.urlSlug }}/" class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button">Submit</a>#}
    </div>
</form>