{% extends 'base.html.twig' %}

{% block title %}Search suppliers - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}



    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <!--<li class="govuk-breadcrumbs__list-item">-->
                <!--<a class="govuk-breadcrumbs__link" href="2-3-frameworks-search-result">Search frameworks</a>-->
                <!--</li>-->
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Search suppliers
                </li>
            </ol>
        </div>





        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    {% if query is defined %}
                        <h1 class="govuk-heading-xl page-title">Search suppliers for {{ query }}</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl page-title">Search suppliers</h1>
                    {% endif %}

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Important</span>
                            Some of our suppliers will not be displayed on this page
                        </strong>
                        <p>Select <a href="https://supplierregistration.cabinetoffice.gov.uk/dps">Dynamic Purchasing Systems</a> or
                            <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/suppliers">G-cloud/DOS</a> to see more suppliers for that type of agreement. To find out what a DPS, G-cloud or DOS is take a look at
                            <a href="/help-and-support/how-to-buy/">How to buy</a>.</p>
                    </div>

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">

                    <form action="{{ path('suppliers_search') }}">

                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <div class="govuk-form-group sidebar__search-group">
                                <label class="govuk-label" for="name">
                                    Search suppliers
                                </label>
                                <input class="govuk-input" id="q" name="q" type="text">
                                <button class="sidebar__search-button">
                                    <span class="visuallyhidden">Search suppliers</span>
                                </button>
                            </div>
                        </div>


                        {#<h2 class="govuk-heading-m">Apply filters</h2>#}


                        {#<div class="govuk-form-group govuk-form-group--enclosure">#}
                        {#<fieldset class="govuk-fieldset" aria-describedby="waste-hint">#}
                        {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                        {#<h1 class="govuk-fieldset__heading">#}
                        {#Which types of waste do you transport?#}
                        {#</h1>#}
                        {#</legend>#}
                        {#<span id="waste-hint" class="govuk-hint">#}
                        {#Select all that apply.#}
                        {#</span>#}
                        {#<div class="govuk-checkboxes govuk-checkboxes--small">#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-1" name="waste" type="checkbox" value="carcasses">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="waste-1">#}
                        {#Waste from animal carcasses#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-2" name="waste" type="checkbox" value="mines">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="waste-2">#}
                        {#Waste from mines or quarries#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-3" name="waste" type="checkbox" value="farm">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="waste-3">#}
                        {#Farm or agricultural waste#}
                        {#</label>#}
                        {#</div>#}
                        {#</div>#}
                        {#</fieldset>#}
                        {#</div>#}





                        {#<div class="govuk-form-group govuk-form-group--enclosure">#}
                        {#<fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">#}
                        {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                        {#<h1 class="govuk-fieldset__heading">#}
                        {#Lot#}
                        {#</h1>#}
                        {#</legend>#}
                        {#<span id="waste-hint" class="govuk-hint">#}
                        {#Show suppliers that are on multiple lots#}
                        {#</span>#}
                        {#<div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="radios">#}

                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="show-all-suppliers-on-framwork-1" name="lot" type="radio" value="england">#}
                        {#<label class="govuk-label govuk-radios__label" for="show-all-suppliers-on-framwork-1">#}
                        {#Show all suppliers on framework#}
                        {#</label>#}
                        {#</div>#}

                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="how-contacted-conditional-3" name="lot" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">#}
                        {#<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">#}
                        {#Show suppliers on a specific lot#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__conditional govuk-radios__conditional--small govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">#}

                        {#<div class="govuk-form-group">#}
                        {#<fieldset class="govuk-fieldset">#}
                        {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                        {#<h1 class="govuk-fieldset__heading visuallyhidden">#}
                        {#Select lot to filter by#}
                        {#</h1>#}
                        {#</legend>#}
                        {#<div class="govuk-radios govuk-radios--small">#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">#}
                        {#<label class="govuk-label govuk-radios__label" for="where-do-you-live-1">#}
                        {#Lot 1 Data access services#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">#}
                        {#<label class="govuk-label govuk-radios__label" for="where-do-you-live-2">#}
                        {#Lot 2 Local connectivity services#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">#}
                        {#<label class="govuk-label govuk-radios__label" for="where-do-you-live-3">#}
                        {#Lot 3 Voice telephony services#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">#}
                        {#<label class="govuk-label govuk-radios__label" for="where-do-you-live-4">#}
                        {#Lot 4 IP telephony services#}
                        {#</label>#}
                        {#</div>#}
                        {#</div>#}
                        {#</fieldset>#}
                        {#</div>#}

                        {#</div>#}

                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="how-contacted-conditional-2" name="lot" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">#}
                        {#<label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">#}
                        {#Show suppliers that are on multiple lots#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__conditional govuk-radios__conditional--small govuk-radio__conditional--hidden" id="conditional-how-contacted-conditional-2">#}
                        {#<div class="govuk-form-group">#}
                        {#<fieldset class="govuk-fieldset" aria-describedby="waste-hint">#}
                        {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                        {#<h1 class="govuk-fieldset__heading visuallyhidden">#}
                        {#Select one or more lots to filter by#}
                        {#</h1>#}
                        {#</legend>#}
                        {#<div class="govuk-checkboxes govuk-checkboxes--small">#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="multiple-lots-1" name="waste" type="checkbox" value="carcasses">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="multiple-lots-1">#}
                        {#Lot 1 Data access services#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="multiple-lots-2" name="waste" type="checkbox" value="mines">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="multiple-lots-2">#}
                        {#Lot 2 Local connectivity services#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="multiple-lots-3" name="waste" type="checkbox" value="farm">#}
                        {#<label class="govuk-label govuk-checkboxes__label" for="multiple-lots-3">#}
                        {#Lot 7 Paging#}
                        {#</label>#}
                        {#</div>#}
                        {#</div>#}
                        {#</fieldset>#}
                        {#</div>#}

                        {#</div>#}



                        {#</div>#}
                        {#</fieldset>#}
                        {#</div>#}





                        {#<div class="govuk-form-group govuk-form-group--enclosure">#}
                        {#<fieldset class="govuk-fieldset">#}
                        {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                        {#<h1 class="govuk-fieldset__heading">#}
                        {#Results per page#}
                        {#</h1>#}
                        {#</legend>#}
                        {#<span id="waste-hint" class="govuk-hint">#}
                        {#10 results per page#}
                        {#</span>#}
                        {#<div class="govuk-radios govuk-radios--small">#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-1" name="where-do-you-live" type="radio" value="england">#}
                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-1">#}
                        {#10#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-2" name="where-do-you-live" type="radio" value="scotland">#}
                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-2">#}
                        {#25#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-3" name="where-do-you-live" type="radio" value="wales">#}
                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-3">#}
                        {#50#}
                        {#</label>#}
                        {#</div>#}
                        {#<div class="govuk-radios__item govuk-radios__item--small">#}
                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-4" name="where-do-you-live" type="radio" value="northern-ireland">#}
                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-4">#}
                        {#View all#}
                        {#</label>#}
                        {#</div>#}
                        {#</div>#}
                        {#</fieldset>#}
                        {#</div>#}





                    </form>

                </div>
                <div class="govuk-grid-column-two-thirds">


                    {#{{ dump(results) }}#}


                    <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24">{{ pagination.totalResults }} suppliers found</h2>



                    {% if results %}

                    <ul class="govuk-list govuk-list--suppliers">

                    {% for item in results %}

                        {% set name = item.content.name %}

                        <li>
                            {#{{ dump(item.content) }}#}
                            <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22">
                                <a href="{{ path('suppliers_show', {'id': item.content.id, 'slug': slugify(name)} ) }}">{{ name }}</a>
                                {% if item.content.trading_name %}
                                    <span class="ccs-subtle-notification">Trading as {{ item.content.trading_name }}</span>
                                {% endif %}
                            </h3>

                            <ul class="govuk-list govuk-!-font-size-17featured ccs-framework-list">
                                {% for framework in item.content.live_frameworks %}

                                    <li><span class="ccs-framework-list__title">{{ framework.title }} ({{ framework.rm_number }})</span> {% if framework.status == "Expired - Data Still Received" %}<strong class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--error">Expired</strong>{% endif %}</li>

                                {% endfor %}
                            </ul>

                        </li>

                    {% endfor %}

                        </ul>

                        {% endif %}




                    {# Pagination #}

                    {% if query is defined %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'suppliers_search', 'options': {'q': query}} %}
                    {% else %}
                        {%  set pagination_data = {'pagination': pagination, 'route': 'suppliers_list', 'options': {} } %}
                    {%  endif %}
                    
                    {% if pagination.totalPages > 1 %}
                        {{ include('includes/pagination.html.twig', pagination_data) }}
                    {% endif %}



                </div>
            </div>



        </main>
    </div>



{% endblock %}
