{% extends 'base.html.twig' %}

{% block title %}Search suppliers - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}



    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <!--<li class="govuk-breadcrumbs__list-item">-->
                <!--<a class="govuk-breadcrumbs__link" href="2-3-frameworks-search-result">Search frameworks</a>-->
                <!--</li>-->
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Search suppliers
                </li>
            </ol>
        </div>





        <!-- required wrapper 2 -->
        <main id="main-content" role="main"  class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">Search suppliers</h1>

                    <p>Changes to Carbon Reduction Plan labelling in supplier search <a href="http://www.crowncommercial.gov.uk/news/removal-of-carbon-reduction-plan-label-functionality-on-ccs-website-supplier-search">read more here</a></p>

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Important</span>
                            Some of our suppliers will not be displayed on this page, select one of the links outlined below to see suppliers for the type of agreement required.
                        </strong>	
                        <br />
                        <p><a href="https://supplierregistration.cabinetoffice.gov.uk/dps">Dynamic Purchasing Systems</a> - to buy a range of common products and services, from simple to complex requirements, from low to high volumes of products.</p>
                        <p><a href="https://www.applytosupply.digitalmarketplace.service.gov.uk/g-cloud/suppliers">G-Cloud</a> - for cloud supporting services, products and solutions. </p>
                        <p><a href="{{ path('frameworks_show', {'rmNumber': 'RM1043.8'})}}">Digital Outcomes & Specialists (DOS)</a>to access agile development and user-centred design services.</p>
                        <p>To find out more abut our different types of framework agreements, <a href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/help-for-new-buyers-and-suppliers/start-buying">read our start buying page.</a></p>
                    </div>

                </div>
            </div>


            <div class="govuk-grid-row" id="search-app">
                <div class="govuk-grid-column-one-third">
                    <aside>
                        {% include '/includes/_csat-survey.html.twig' %}
                    </aside>
                    <br />
                    
                    <form action="{{ path('suppliers_search') }}" v-on:submit.prevent="updateResults">

                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <div class="govuk-form-group sidebar__search-group">
                                <label class="govuk-label" for="q">
                                    Search suppliers
                                </label>
                                {% if query is defined %}
                                    <input class="govuk-input" id="q" name="q" type="text" value="{{ query }}" />
                                {% else %}
                                    <input class="govuk-input" id="q" name="q" type="text" />
                                {% endif %}
                                <button class="sidebar__search-button govuk-input" id="submit-search-button" v-on:click="updateSearchQueryValue">
                                    <span class="visuallyhidden">Search suppliers</span>
                                </button>
                            </div>
                        </div>


                        <div class="ccs-filters-intro">
                            <a href="{{ path('suppliers_list') }}" class="ccs-clear-filters" v-on:click="resetFilters">Clear Filters</a>
                            <h2 class="govuk-heading-m">Apply filters</h2>
                        </div>


                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="accordion-with-summary-sections">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                                            Select framework
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1" role="region">
                                    <div class="govuk-radios ccs-radios--scrollable" v-if="!frameworkList">
                                        {% for framework in facets.frameworks %}
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="framework-{{ framework.rm_number }}" name="framework" type="radio" value="{{ framework.rm_number }}" {% if selected.rm_number == framework.rm_number %} checked {% endif %}>
                                            <label class="govuk-label govuk-radios__label" for="framework-{{ framework.rm_number }}">
                                                {{ framework.title }} ({{ framework.rm_number }})
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="govuk-form-group sidebar__search-group subsearch-filter" v-show="frameworkList" style="display: none;">
                                        <label for="searchFrameworkList" class="visuallyhidden">Filter Frameworks by Title</label>
                                        <input class="govuk-input" type="text" name="searchFrameworkList" id="searchFrameworkList" v-model="frameworkFilter" v-on:keydown.enter="frameworkFilterExecute" />
                                        <button class="sidebar__search-button govuk-input" v-on:click="frameworkFilterExecute"><span class="visuallyhidden">Filter frameworks</span></button>
                                    </div>
                                    <div class="govuk-radios ccs-radios--scrollable" v-show="frameworkList" style="display: none;">
                                        <div class="govuk-radios__item govuk-radios__item--small" v-for="framework in frameworkListFiltered">
                                            <input class="govuk-radios__input govuk-radios__input--small" :id="'framework-' + framework.rm_number" name="framework" type="radio" :value="framework" v-model="checkedFramework" :key="framework.rm_number">
                                            <label class="govuk-label govuk-radios__label" :for="'framework-' + framework.rm_number">
                                                {[ framework.title ]} ({[ framework.rm_number ]})
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight" v-show="checkedFramework">

                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                                            Lot
                                        </span>
                                    </h2>
                                </div>
                                <div role="region" id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
                                    <div class="govuk-radios" data-module="govuk-radios">

                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="show-all-suppliers-on-framwork-1" name="lot-filter-nested" type="radio" value="all" v-on:click="checkedLot = ''; displayLotFilter = false;" {% if selected.lot is empty %}checked{% endif %}>
                                            <label class="govuk-label govuk-radios__label" for="show-all-suppliers-on-framwork-1">
                                                Show all suppliers on the selected framework
                                            </label>
                                        </div>

                                        {% if facets.lots is defined %}
                                            <div class="govuk-radios__item govuk-radios__item--small" v-if="!lotList">
                                                {% if selected.lot is defined and selected.lot is not empty %}
                                                    <input class="govuk-radios__input govuk-radios__input--small" id="how-contacted-conditional-3" name="lot-filter-nested" type="radio" value="filterLot" data-aria-controls="conditional-how-contacted-conditional-3" v-on:click="checkedLot = ''; displayLotFilter = false;" checked>
                                                {% else %}
                                                    <input class="govuk-radios__input govuk-radios__input--small" id="how-contacted-conditional-3" name="lot-filter-nested" type="radio" value="filterLot" data-aria-controls="conditional-how-contacted-conditional-3" v-on:click="checkedLot = ''; displayLotFilter = false;">
                                                {% endif %}
                                                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                                                    Show suppliers on a specific lot
                                                </label>
                                            </div>
                                            <div class="govuk-radios__conditional govuk-radios__conditional--small" id="conditional-how-contacted-conditional-3" v-if="!lotList">

                                                <div class="govuk-form-group">
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" style="margin-bottom: 0;">
                                                            <h2 class="govuk-fieldset__heading visuallyhidden">
                                                                Select lot to filter by
                                                            </h2>
                                                        </legend>
                                                        <div class="govuk-radios ccs-radios--nested">
                                                            {% for lot in facets.lots %}
                                                                <div class="govuk-radios__item govuk-radios__item--small">
                                                                    {% if selected.lot is defined and selected.lot is not empty %}
                                                                        <input class="govuk-radios__input govuk-radios__input--small" id="lot-{{ lot.id }}" name="lot-filter-nested" type="radio" value="{{ lot.id }}" v-model="checkedLot" :key="Lot-1" {% if selected.lot.id == lot.id %} checked {% endif %}>
                                                                    {% else %}
                                                                        <input class="govuk-radios__input govuk-radios__input--small" id="lot-{{ lot.id }}" name="lot-filter-nested" type="radio" value="{{ lot.id }}" v-model="checkedLot" :key="Lot-1">
                                                                    {% endif %}
                                                                    <label class="govuk-label govuk-radios__label" for="lot-{{ lot.id }}">
                                                                        Lot {{ lot.lot_number }}: {{ lot.title }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </fieldset>
                                                </div>

                                            </div>
                                        {% endif %}
                                        <div class="govuk-radios__item govuk-radios__item--small" v-show="lotList" style="display: none;">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="how-contacted-conditional-3" name="lot-filter-nested" type="radio" value="filterLot" v-on:click="displayLotFilter = true; checkedLot = ''">
                                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                                                Show suppliers on a specific lot
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--small" id="" v-show="displayLotFilter" style="display: none;">

                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" style="margin-bottom: 0;">
                                                        <h2 class="govuk-fieldset__heading visuallyhidden">
                                                            Select lot to filter by
                                                        </h2>
                                                    </legend>
                                                    <div class="govuk-radios ccs-radios--nested">
                                                        <div class="govuk-radios__item govuk-radios__item--small" v-for="lot in lotList">
                                                            <input class="govuk-radios__input govuk-radios__input--small" :id="'lot-' + lot.id" name="lot-filter-nested" type="radio" :value="lot" v-model="checkedLot" :key="lot.id">
                                                            <label class="govuk-label govuk-radios__label" :for="'lot-' + lot.id">
                                                                Lot {[ lot.lot_number ]}: {[ lot.title ]}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                                        Results per page
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3" role="region">
                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-1" name="limit" type="radio" :value="10" value="10" {{ pagination.resultsPerPage == 10 ? 'checked' : '' }} v-model="resultsLimit">
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-1">10</label>
                                        </div>
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-2" name="limit" type="radio" :value="20" value="20" {{ pagination.resultsPerPage == 20 ? 'checked' : '' }} v-model="resultsLimit">
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-2">20</label>
                                        </div>
                                        <div class="govuk-radios__item govuk-radios__item--small">
                                            <input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-3" name="limit" type="radio" :value="50" value="50" {{ pagination.resultsPerPage == 50 ? 'checked' : '' }} v-model="resultsLimit">
                                            <label class="govuk-label govuk-radios__label" for="results-per-page-3">50</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="govuk-button" data-module="govuk-button" v-show="!javascriptVersion">
                            Filter
                        </button>



                    </form>

                </div>
                <div class="govuk-grid-column-two-thirds">


                    {#{{ dump(results) }}#}


                    <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24" aria-live="assertive">
                        <span v-if="searchResultsNumber == 1" v-show="javascriptVersion" style="display: none;"> {[ searchResultsNumber ]} supplier found</span>
                        <span v-else                          v-show="javascriptVersion" style="display: none;"> {[ searchResultsNumber ]} suppliers found</span>

                        <span v-if="!javascriptVersion">{{ pagination.totalResults }} supplier{{pagination.totalResults != 1 ? 's'}} found</span>
                    </h2>

                    <div class="ccs-filters-summary">

                        {% if selected.framework is defined and selected.framework is not empty %}
                        <div class="ccs-filters-summary__facets" id="search-facets-summary" v-show="filtersSelected">
                            <span class="ccs-filters-summary__label">In</span>
                            <ul class="ccs-filters-summary__list ccs-filters-summary__facets__list" id="search-facets-list">
                                <li class="ccs-filters-summary__facet" v-if="checkedFramework">
                                    <a href="/suppliers/search?q={{ query }}&limit={{ limit }}" class="ccs-filters-summary__facet__cancel" v-on:click="clearFramework">
                                        <span v-show="checkedFramework" style="display: none;">{[ checkedFramework.title ]} ({[ checkedFramework.rm_number ]})</span>
                                        <span v-show="!checkedFramework">{{ selected.framework.title }} ({{ selected.framework.rm_number }})</span>
                                    </a>
                                </li>

                                {% if selected.lot is defined and selected.lot is not empty%}
                                <li class="ccs-filters-summary__facet" v-if="checkedLot">
                                    <a href="/suppliers/search?q={{ query }}&framework={% if selected.framework.rm_number is defined %}{{ selected.framework.rm_number }}{% endif %}&limit={{ limit }}" class="ccs-filters-summary__facet__cancel" v-on:click="clearLot">Lot {{ selected.lot.lot_number }}: {{ selected.lot.title }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% else %}
                            <div class="ccs-filters-summary__facets" id="search-facets-summary" v-show="filtersSelected" style="display: none;">
                                <span class="ccs-filters-summary__label">In</span>
                                <ul class="ccs-filters-summary__list ccs-filters-summary__facets__list" id="search-facets-list">
                                    <li class="ccs-filters-summary__facet" v-if="checkedFramework">
                                        <a href="/suppliers/search?q={{ query }}&limit={{ limit }}" class="ccs-filters-summary__facet__cancel" v-on:click="clearFramework">
                                            <span>{[ checkedFramework.title ]} ({[ checkedFramework.rm_number ]})</span>
                                        </a>
                                    </li>

                                    <li class="ccs-filters-summary__facet" v-if="checkedLot">
                                        <a href="/suppliers/search?q={{ query }}&framework={{ selected.rm_number }}&limit={{ limit }}" class="ccs-filters-summary__facet__cancel" v-on:click="clearLot">Lot {[ checkedLot.lot_number ]}: {[ checkedLot.title ]}</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}


                        <div class="ccs-filters-summary__facets" id="search-query-summary" v-show="searchQuery" {% if query is defined and query is not empty %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <span class="ccs-filters-summary__label">Containing</span>
                            <ul class="ccs-filters-summary__list" id="search-query-list">
                                <li class="ccs-filters-summary__facet" v-if="searchQuery">
                                    <a href="/suppliers/search?framework={{ selected.rm_number }}&lot-filter-nested={{ selected.lot_id }}&limit={{ limit }}" class="ccs-filters-summary__facet__cancel" v-on:click="clearSearch">
{#                                        {% if query is defined and query is not empty %}<span>{{ query }}</span>{% endif %}#}
                                        <span v-show="searchQuery" style="display: none;">{[ searchQuery ]}</span>
                                        <span v-show="!searchQuery">{{ query }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>


                    {% if selected.framework.rm_number is defined and selected.lot.lot_number is defined %}
                        <div class="ccs-search-results-cta" v-show="supplierContactPrompt">
                            <a v-if="!javascriptVersion" href="/agreements/{{ selected.framework.rm_number }}:{{ selected.lot.lot_number }}/lot-suppliers" class="govuk-button ccs-button--tight">See supplier contact details for this lot</a>
                            <a v-show="javascriptVersion" style="display: none;" :href="'/agreements/' + checkedFramework.rm_number + ':' + checkedLot.lot_number + '/lot-suppliers'" class="govuk-button ccs-button--tight">See supplier contact details for this lot</a>
                        </div>
                    {% else %}
                        <div class="ccs-search-results-cta" v-show="supplierContactPrompt" style="display: none;">
                            <a :href="'/agreements/' + checkedFramework.rm_number + ':' + checkedLot.lot_number + '/lot-suppliers'" class="govuk-button ccs-button--tight">See supplier contact details for this lot</a>
                        </div>
                    {% endif %}


                    <div v-show="javascriptVersion" style="display: none;">
                        <div v-if="loading" class="ccs-search-loading">Loading results ...</div>
                    </div>

                    {# we only use this search markup if JavaScript is enabled and working #}
                    <ul class="govuk-list govuk-list--suppliers" v-show="searchResults" style="display: none;">
                        <li v-for="result in searchResults">

                            <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22">
                                <a :href="result.url">{[ result.name ]}</a>
                                <span class="ccs-subtle-notification" v-if="result.alternative_trading_names.length > 0">
                                    Trading as
                                    <span class="trading-name" v-for="trading_name in result.alternative_trading_names">{[ trading_name ]}</span>
                                </span>
                            </h3>

                            <ul class="govuk-list govuk-!-font-size-17featured ccs-framework-list" v-for="framework in result.live_frameworks">

                                <li><span class="ccs-framework-list__title">{[ framework.title ]} ({[ framework.rm_number ]})</span> <strong v-if="framework.status == 'Expired - Data Still Received'" class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--error">Expired</strong></li>

                            </ul>

                        </li>
                    </ul>



                    {% if results %}

                        <ul class="govuk-list govuk-list--suppliers" v-show="!searchResults">

                        {% for item in results %}

                            {% set name = item.content.name|trim %}

                        <li>
                            {#{{ dump(item.content) }}#}
                            <h3 class="govuk-heading-m ccs-heading-link ccs-font-weight-semibold govuk-!-font-size-22">
                                <a href="{{ path('suppliers_show', {'id': item.content.id, 'slug': slugify(name)} ) }}">{{ name }}</a>

                                {% if item.content.trading_name %}
                                    <span class="ccs-subtle-notification">Trading as {{ item.content.trading_name }}</span>
                                {% endif %}
                            </h3>

                                {% if item.content.alternative_trading_names is not empty %}
                                    <span class="ccs-subtle-notification">Trading as
                                        <span class="trading-name">{{ item.content.alternative_trading_names }}</span>
                                    </span>
                                {% endif %}

                                <ul class="govuk-list govuk-!-font-size-17featured ccs-framework-list">
                                    {% for framework in item.content.live_frameworks %}

                                        <li><span class="ccs-framework-list__title">{{ framework.title }} ({{ framework.rm_number }})</span> {% if framework.status == "Expired - Data Still Received" %}<strong class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--error">Expired</strong>{% endif %}</li>

                                    {% endfor %}
                                </ul>

                            </li>

                        {% endfor %}

                        </ul>

                    {% endif %}




                    {# Pagination #}
                    <results-pagination v-bind:total-results="searchResultsNumber" v-bind:results-per-page="resultsLimit" v-bind:current-page="currentPage" v-bind:result-pages-link-number="6" v-bind:query-url="frontendQueryUrl" v-on:update-page="updatePageValue($event)" />

                    {%  set pagination_data = {'pagination': pagination, 'route': 'suppliers_search', 'options': {'q': query, 'framework': selected.rm_number, 'lot-filter-nested': selected.lot_id, 'limit': limit} } %}


                    {% if pagination.totalPages > 1 %}
                        {{ include('includes/pagination.html.twig', pagination_data) }}
                    {% endif %}



                </div>
            </div>


        <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'supplier'});</script>

        </main>
    </div>

     <!-- Vue and Custom JavaScript -->
    {% if app.environment == "prod" %}
        <script src="/assets/scripts/libraries/vue.min.js?v=1"></script>
    {% else %}
        <script src="/assets/scripts/libraries/vue.js?v=1"></script>
    {% endif %}

    <script>
        /**
         * Function to test if the browser supports ES6 template literals
         */
        function supportsLiterals() {
            try{
                return eval("''===``");
            }
            catch(e){
                return false;
            }
        }

        if(!('Promise' in window) || !supportsLiterals() || !window.fetch) {
            throw new Error("Your browser doesn't support the necessary JavaScript functions to use the enhanced search and has been served a non-JavaScript version");
        }
        /**
         * Not the cleanest way to do this, but perhaps the simplest
         *
         * We use these variables to pass values from PHP to the Vue JS
         * JavaScript application
         */
        var apiBaseUrl           = '{{ search_api_base_url }}';
        var searchQuery          = '{{ query }}';
        var resultsLimitInitial  = {{ limit }};

        {% if selected.framework.rm_number is defined %}
        var selectedFramework   = {
            doc_count: {{ selected.framework.doc_count }},
            rm_number: '{{ selected.framework.rm_number }}',
            title: '{{ selected.framework.title }}'
        };
        {% else %}
        var selectedFramework = '';
        {% endif %}

        {% if selected.lot.id is defined %}
        var selectedLot         = {
            title: '{{ selected.lot.title }}',
            id: '{{ selected.lot.id }}',
            lot_number: '{{ selected.lot.lot_number }}'
        };
        {% else %}
        var selectedLot = '';
        {% endif %}

        var totalResults        = {{ pagination.totalResults }};
        var pageNumber          = {% if page_number is not empty %}{{ page_number }}{% else %}1{% endif %};


       var app = Vue.createApp({
            // we have to change the delimeted used as the default is reserved by Twig
            delimiters: ['{[', ']}'],
            data() {
                return {
                    javascriptVersion: true,
                    searchApiBaseUrl: apiBaseUrl,
                    searchQuery: searchQuery,
                    checkedFramework: selectedFramework,
                    checkedLot: selectedLot,
                    frameworkFilter: '',
                    frameworkList: null,
                    frameworkListFiltered: null,
                    lotList: null,
                    displayLotFilter: false,
                    searchResults: null,
                    searchResultsNumber: totalResults,
                    resultsLimit: resultsLimitInitial,
                    currentPage: pageNumber,
                    // used to display/hide the loading text as appropriate (if the
                    // search results are loading, this property is set to true)
                    loading: false,
                    popstateLoad: false
                }  
            },
            created: function() {
                // unfortunately we have to update the results when we instantiate
                // the Vue app so it hooks in all the correct event handlers etc.
                this.updateResults();

                // setup popstate event listener for History API
                this.setupHistoryApi();

                // If a lot is set to filter on page load, then show the lot filters
                if(this.checkedLot) {
                    this.displayLotFilter = true;
                }
            },
            watch: {
                searchRequestUrl: function() {
                    this.updateResults();

                    // if the searchRequestUrl hasn't been updated by a popstate
                    // event (back/forward button) then we push a state item to the
                    // JS History API
                    if(this.popstateLoad === false) {
                        history.pushState({
                            searchQuery: this.searchQuery,
                            // here we simplfy the data as browser can't clone object and we get an error otherwise
                            checkedFramework: this.checkedFramework ? {
                                rm_number: this.checkedFramework.rm_number,
                                title: this.checkedFramework.title
                            } : null,
                            checkedLot: this.checkedLot.id ? {
                                id: this.checkedLot.id,
                                lot_number: this.checkedLot.lot_number,
                                title: this.checkedLot.title
                            } : '',
                            resultsLimit: this.resultsLimit
                        }, 'Search suppliers - CCS', this.frontendSearchUrl);
                    }

                    // reset the popstateLoad property to false
                    this.popstateLoad = false;
                },
                checkedFramework: function() {
                    // when a framework is selected, then we must reset any
                    // previous lot filters, as we can't guarantee they are applicable
                    // to the newly filtered framework
                    this.checkedLot = '';

                    // select the 'show all lots suppliers' radio button
                    document.getElementById('show-all-suppliers-on-framwork-1').checked = true;
                    this.displayLotFilter = false;

                    // go back to page 1
                    this.currentPage = 1;
                },
                resultsLimit: function() {
                    this.currentPage = 1;
                    this.updateResults();
                },
            },
            computed: {
                filtersSelected: function() {
                    return (this.checkedFramework.rm_number || this.checkedLot.id);
                },
                supplierContactPrompt: function() {
                    return (this.checkedFramework.rm_number && this.checkedLot.id);
                },
                // the URL we use to request items from the API
                searchRequestUrl: function() {
                    console.log("update search URL");
                    return this.searchApiBaseUrl + 'suppliers?keyword=' + this.searchQuery.replace('&','') + '&framework=' + (this.checkedFramework.rm_number ? this.checkedFramework.rm_number : '') + '&lot=' + (this.checkedLot.id ? this.checkedLot.id : '') + '&limit=' + this.resultsLimit + '&page=' + this.currentPage;

                    // page=
                },
                /**
                 * We pass this through to the pagination component so that
                 * we can retain the query params for each search page link
                 */
                frontendQueryUrl: function() {
                    var queryUrl = '?search=true';
                    var emailRegex = /(([^<>()\[\]\\.,;:\s@"%]+(\.[^<>()\[\]\\.,;:\s@"%]+)*)|(".+"))(@|%40)((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/

                    if(this.searchQuery) {
                        if(this.searchQuery.match(emailRegex) !== null){
                            queryUrl += '&q=' + 'EMAIL_REDACTED';
                        }else{
                            queryUrl += '&q=' + this.searchQuery;
                        }
                    }

                    if(this.checkedFramework.rm_number) {
                        queryUrl += '&framework=' + this.checkedFramework.rm_number;
                    }

                    if(this.checkedLot) {
                        queryUrl += '&lot-filter-nested=' + this.checkedLot.id;
                    }

                    if(this.resultsLimit) {
                        queryUrl += '&limit=' + this.resultsLimit;
                    }

                    return queryUrl;
                },
                // the URL that we should update using the history API
                frontendSearchUrl: function() {
                    var searchUrl = '/suppliers/search/' + this.currentPage + this.frontendQueryUrl;

                    return searchUrl;

                }
            },
            methods: {
                updateSearchQueryValue: function(event) {
                    event.preventDefault();
                    var searchTextInput = document.getElementById('q');
                    this.searchQuery = searchTextInput.value;
                },
                /**
                 * Filter an object, only return object properties that match
                 * the search query
                 *
                 * @param objectArray
                 * @param query
                 */
                filterObject: function(objectArray, query) {
                    var filteredArray = Object.keys(objectArray)
                        .filter(
                            function(el) {
                                return el.toLowerCase().indexOf(query.toLowerCase()) !== -1;
                            }
                        )
                        .reduce(function(obj, key) {
                            obj[key] = objectArray[key];
                            return obj;
                        }, {});

                    return filteredArray;
                },
                frameworkFilterExecute: function(event) {
                    if(event) {
                        event.preventDefault();
                    }

                    this.frameworkListFiltered = this.filterObject(this.frameworkList, this.frameworkFilter);
                },
                resetFilters: function(event) {
                    if(event) {
                        event.preventDefault();
                    }

                    this.searchQuery = '';
                    this.checkedFramework = '';
                    this.checkedLot = '';
                    this.currentPage = 1;
                    this.displayLotFilter = false;
                    this.frameworkFilter = '';
                    document.getElementById('q').value = '';
                    this.frameworkFilterExecute();
                },
                clearFramework: function(event) {
                    event.preventDefault();
                    this.checkedFramework = '';
                    // we also reset the lot filter, as it is dependent on a
                    // framework filter being specified
                    this.checkedLot = '';
                },
                clearLot: function(event) {
                    event.preventDefault();
                    this.checkedLot = '';
                },
                clearSearch: function(event) {
                    event.preventDefault();
                    this.searchQuery = '';
                    document.getElementById('q').value = '';
                },
                setupHistoryApi: function() {

                    window.onpopstate = event => {
                        // set the popstate variable to true so that we can
                        // tell in other parts of the code that the state change
                        // is being caused by the back/forward button
                        this.popstateLoad = true;

                        if(event.state == null) {
                            this.resetFilters(null);
                            return;
                        }

                        this.searchQuery      = event.state.searchQuery;
                        this.checkedFramework = event.state.checkedFramework;
                        this.checkedLot       = event.state.checkedLot;
                        this.resultsLimit     = event.state.resultsLimit;
                    }
                },
                updatePageValue: function(newPageValue) {
                    this.currentPage = newPageValue;
                },
                updateResults: function() {
                    this.loading = true;

                    var requestUrl = this.searchRequestUrl;

                    console.log(requestUrl);

                    fetch(requestUrl)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('HTTP error, status = ' + response.status);
                            }
                            return response.json();
                        })
                        .then(jsonResponse => {
                            // update the results property
                            var tempResults = jsonResponse.results;
                            for(var i = 0; i < tempResults.length; i++) {
                                // @TODO: we need to pull through the encoded title for each supplier result
                                tempResults[i].url = '/suppliers/' + tempResults[i].id + '/' + tempResults[i].encoded_name;
                            }

                            this.searchResults = tempResults;
                            this.searchResultsNumber = jsonResponse.meta.total_results;
                            this.frameworkList = jsonResponse.meta.facets.frameworks;
                            this.frameworkFilterExecute(null);
                            this.lotList = jsonResponse.meta.facets.lots;

                            this.loading = false;

                            if (this.searchQuery) {
                                pushToDataLayer({'event': 'view_search_results', 'interaction_type': 'suppliers', 'search_term': this.searchQuery, 'interaction_detail': this.searchResultsNumber});
                            }
                        })
                        .catch(function(error) {
                            // @TODO: handle errors
                            console.log('An error occurred');
                            console.log(error);
                            this.loading = false;
                        });
                }
            }
        })


         // Define a new component for the results pagination
        app.component('results-pagination', {
            delimiters: ['{[', ']}'],
            props: {
                currentPage: Number,
                totalResults: Number,
                resultsPerPage: Number,
                // How many result links to display before we shorten the list
                resultPagesLinkNumber: Number,
                queryUrl: String
            },
            computed: {
                numberOfPages: function() {
                    return Math.ceil(this.totalResults/this.resultsPerPage);
                },
                nextPage: function() {
                    if(this.currentPage == this.numberOfPages) {
                        return this.currentPage;
                    }

                    return this.currentPage + 1;
                },
                previousPage: function() {
                    if(this.currentPage == 1) {
                        return this.currentPage;
                    }

                    return this.currentPage - 1;
                },
                paginationStartNumber: function() {
                    // start page defaults to 2 (second page) because the
                    // first page link is always output by default
                    var linksStartPage = 1;

                    // if the start page is at the beginning of the pagination
                    // then account for this
                    if ((this.currentPage - 2) < 2 ) {
                        linksStartPage = 2;
                    } else {
                        // otherwise the start page is equal to the current
                        // page minus 2, this means that the pagination should
                        // have a couple of links either side of the current
                        // page, e.g.   2 3 [4] 5 6
                        linksStartPage = this.currentPage - 2;
                    }

                    // if the start page is very close to the last page, then
                    // account for this
                    if((this.currentPage + 2) > this.numberOfPages) {
                        linksStartPage = linksStartPage - 2;
                    }

                    if(this.numberOfPages < this.resultPagesLinkNumber) {
                        linksStartPage = 1;
                    }

                    if(linksStartPage <= 0) {
                        linksStartPage = 1;
                    }

                    return linksStartPage;
                },
                paginationEndNumber: function() {
                    var linksEndPage   = this.paginationStartNumber + 4;

                    // if there aren't more pages than the number we
                    // want to show by minimum, then the end page is just equal
                    // to the final result page
                    if (this.numberOfPages < this.resultPagesLinkNumber) {
                        linksEndPage = this.totalResults;
                    }

                    if ((linksEndPage >= this.numberOfPages)) {
                        // minus 1 because the last page is always output
                        linksEndPage = this.numberOfPages - 1;
                    }

                    if(this.numberOfPages == 1) {
                        linksEndPage = 1;
                    }

                    return linksEndPage;
                }
            },
            methods: {
                updatePageNumber: function(event, newPage) {
                    event.preventDefault();
                    this.$emit('update-page', newPage);
                },
                range : function (start, end) {
                    return Array(end - start + 1).fill().map(function(_, idx) {
                        return start + idx;
                    });
                }
            },
            template: `
                <ul class="list--inline pagination govuk-body" role="list" aria-label="Pagination" v-if="numberOfPages > 0">
                    <li class="pagination__item pagination__item--previous" v-if="currentPage != 1">
                        <a :href="'/suppliers/search' + previousPage + queryUrl" rel="previous" v-on:click="updatePageNumber($event, previousPage)">
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"></path></svg>
                            </span>
                            <span>Previous</span> <span class="visuallyhidden">page</span>
                        </a>
                    </li>

                    <li class="pagination__item" v-if="numberOfPages > 6">
                        <span v-if="currentPage == 1"><span class="visuallyhidden">Page </span>1</span>
                        <a v-else :href="'/suppliers/search/1' + queryUrl" v-on:click="updatePageNumber($event, 1)"><span class="visuallyhidden">Page </span>1</a>
                    </li>

                    <li class="pagination__item" v-if="paginationStartNumber > 2"></li>

                    <li class="pagination__item" v-for="page in range(paginationStartNumber, paginationEndNumber)" v-if="numberOfPages > 1">
                        <span v-if="page == currentPage"><span class="visuallyhidden">Page </span>{[ page ]}</span>
                        <a v-else :href="'/suppliers/search/' + page + queryUrl" v-on:click="updatePageNumber($event, page)"><span class="visuallyhidden">Page </span>{[ page ]}</a>
                    </li>

                    <li class="pagination__item" v-if="(paginationEndNumber + 1) < numberOfPages"></li>

                    <li class="pagination__item" v-if="numberOfPages > 1">
                        <span v-if="currentPage == numberOfPages"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</span>
                        <a v-else :href="'/suppliers/search/' + numberOfPages + queryUrl" v-on:click="updatePageNumber($event, numberOfPages)"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</a>
                    </li>

                    <li class="pagination__item pagination__item--next" v-if="currentPage != numberOfPages">
                        <a :href="'/suppliers/search/' + nextPage + queryUrl" rel="next" v-on:click="updatePageNumber($event, nextPage)">
                            <span>Next</span> <span class="visuallyhidden">page</span>
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"></path></svg>
                            </span>
                        </a>
                    </li>
                </ul>`
        });

        app.mount('#search-app');

    </script>



{% endblock %}