{% extends 'base.html.twig' %}

    {% set name = supplier.content.name %}

{% block title %}{{ name }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/suppliers">Search
                        suppliers</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ name }}
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" role="main" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">
                        {{ name }}

                        {% if supplier.content.trading_names|length > 0 %}
                            <span class="govuk-caption-l">
                                Trading as
                                {% set i = 0 %}
                                {% for trading_name in supplier.content.trading_names %}
                                    {% set i = i + 1 %}
                                    {{ trading_name.name }}{# this comment is necessary to remove whitespace for display purposes
                                    #}{% if i < supplier.content.trading_names|length %}, {% endif %}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </h1>

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <p class="govuk-body-l">Agreements and lots supplied to:</p>


                    {#{{ dump(supplier) }}#}


                    {#{{ supplier.content.duns_number }}#}
                    {#{{ supplier.content.name }}#}
                    {#{{ supplier.content.street }}#}
                    {#{{ supplier.content.city }}#}
                    {#{{ supplier.content.country }}#}
                    {#{{ supplier.content.postcode }}#}
                    {#{{ supplier.content.phone_number }}#}
                    {#{{ supplier.content.website }}#}


                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


                        {% for framework in supplier.content.live_frameworks %}

                            {% if framework.status != "Expired" %}

                            {#{{ dump(framework) }}#}

                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                                          {{ framework.title }} {% if framework.status == "Expired - Data Still Received" %}
                                                <strong class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--error">Expired</strong>{% endif %}
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ loop.index }}">

                                    <div class="apollo-enclosure apollo-enclosure--framework-lots">


                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key govuk-!-font-size-17featured">
                                                    Agreement ID
                                                </dt>
                                                <dd class="govuk-summary-list__value govuk-!-font-size-17featured">
                                                    <a href="{{ path('frameworks_show', {'rmNumber':  framework.rm_number }) }}">{{ framework.rm_number }}</a>
                                                </dd>
                                            </div>
                                        </dl>

                                        <table class="govuk-table ccs-table--framework-lots">
                                            <caption class="govuk-table__caption visuallyhidden">
                                                Lot numbers, names and contact
                                                details
                                            </caption>
                                            <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header govuk-!-font-size-18" scope="col">
                                                    Lot number
                                                </th>
                                                <th class="govuk-table__header govuk-!-font-size-18" scope="col">
                                                    Lot name and contact
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">

                                            {% for lot in framework.lots %}
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">
                                                        {{ lot.lot_number }}
                                                    </td>
                                                    <td class="govuk-table__cell">

                                                        <h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">
                                                            {% if lot.status == "Expired" or lot.status == "Expired - Data Still Received" %}
                                                                <strong class="govuk-tag govuk-tag--subtle ccs-tag ccs-tag--error">Expired</strong>
                                                            {% endif %}
                                                            {{ lot.title }}
                                                        </h3>

                                                        {% if lot.status == "Live" %}
                                                            {% if lot.supplier_contact_email %}
                                                                <p class="govuk-!-font-size-16 govuk-!-margin-0">
                                                                    Email {{ lot.supplier_contact_name }}
                                                                    on
                                                                    <a href="mailto:{{ lot.supplier_contact_email }}">{{ lot.supplier_contact_email }}</a>
                                                                </p>
                                                            {% elseif supplier.content.phone_number %}
                                                                <p class="govuk-!-font-size-16 govuk-!-margin-0">
                                                                    Call {{ name }}
                                                                    on {{ supplier.content.phone_number }}</p>
                                                            {% else %}
                                                                <p class="govuk-!-font-size-16 govuk-!-margin-0">
                                                                    Call {{ name }}</p>
                                                            {% endif %}
                                                        {% endif %}

                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                            {#<li>{{ framework.rm_number }} {{ framework.title }}#}

                            {#{{ path('frameworks_show', {'rmNumber':  framework.rm_number }) }}#}

                            {#{{ dump(framework) }}#}


                            {##}


                            {#</li>#}

                             {% endif %}

                        {% endfor %}






                        {#<div class="govuk-accordion__section ">#}
                        {#<div class="govuk-accordion__section-header">#}
                        {#<h2 class="govuk-accordion__section-heading">#}
                        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-2">#}
                        {#Traffic Management Technology 2#}
                        {#</span>#}
                        {#</h2>#}
                        {#</div>#}
                        {#<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">#}


                        {#<div class="apollo-enclosure apollo-enclosure--framework-lots">#}

                        {#<dl class="govuk-summary-list govuk-summary-list--no-border">#}
                        {#<div class="govuk-summary-list__row">#}
                        {#<dt class="govuk-summary-list__key govuk-!-font-size-17featured">#}
                        {#Framework ID#}
                        {#</dt>#}
                        {#<dd class="govuk-summary-list__value govuk-!-font-size-17featured">#}
                        {#<a href="/">RM12355</a>#}
                        {#</dd>#}
                        {#</div>#}
                        {#</dl>#}

                        {#<table class="govuk-table ccs-table--framework-lots">#}
                        {#<caption class="govuk-table__caption visuallyhidden">Lot numbers, names and contact details#}
                        {#</caption>#}
                        {#<thead class="govuk-table__head">#}
                        {#<tr class="govuk-table__row">#}
                        {#<th class="govuk-table__header govuk-!-font-size-18" scope="col">#}
                        {#Lot number#}
                        {#</th>#}
                        {#<th class="govuk-table__header govuk-!-font-size-18" scope="col">#}
                        {#Lot name and contact#}
                        {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody class="govuk-table__body">#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 1#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">London and South East England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">John Doe on <a href="mailto:john.doe@amey.co.uk">john.doe@amey.co.uk</a></p>#}
                        {#</td>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 2#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">Call switchboard</p>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 3#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">John Doe on <a href="mailto:john.doe@amey.co.uk">john.doe@amey.co.uk</a></p>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 4#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">John Doe on <a href="mailto:john.doe@amey.co.uk">john.doe@amey.co.uk</a></p>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 5#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">Call switchboard</p>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#Lot 6#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">John Doe on <a href="mailto:john.doe@amey.co.uk">john.doe@amey.co.uk</a></p>#}
                        {#</tr>#}
                        {#</tbody>#}
                        {#</table>#}
                        {#</div>#}


                        {#</div>#}
                        {#</div>#}
                        {#<div class="govuk-accordion__section ">#}
                        {#<div class="govuk-accordion__section-header">#}
                        {#<h2 class="govuk-accordion__section-heading">#}
                        {#<span class="govuk-accordion__section-button" id="accordion-default-heading-3">#}
                        {#Rail Legal Services#}
                        {#</span>#}
                        {#</h2>#}
                        {#</div>#}
                        {#<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">#}


                        {#<div class="apollo-enclosure apollo-enclosure--framework-lots">#}

                        {#<dl class="govuk-summary-list govuk-summary-list--no-border">#}
                        {#<div class="govuk-summary-list__row">#}
                        {#<dt class="govuk-summary-list__key govuk-!-font-size-17featured">#}
                        {#Framework ID#}
                        {#</dt>#}
                        {#<dd class="govuk-summary-list__value govuk-!-font-size-17featured">#}
                        {#<a href="/">RM12355</a>#}
                        {#</dd>#}
                        {#</div>#}
                        {#</dl>#}

                        {#<table class="govuk-table ccs-table--framework-lots">#}
                        {#<caption class="govuk-table__caption visuallyhidden">Lot numbers, names and contact details#}
                        {#</caption>#}
                        {#<thead class="govuk-table__head">#}
                        {#<tr class="govuk-table__row">#}
                        {#<th class="govuk-table__header govuk-!-font-size-18" scope="col">#}
                        {#Lot number#}
                        {#</th>#}
                        {#<th class="govuk-table__header govuk-!-font-size-18" scope="col">#}
                        {#Lot name and contact#}
                        {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody class="govuk-table__body">#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#2c#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">London and South East England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">John Doe on <a href="mailto:john.doe@amey.co.uk">john.doe@amey.co.uk</a></p>#}
                        {#</td>#}
                        {#</tr>#}
                        {#<tr class="govuk-table__row">#}
                        {#<td class="govuk-table__cell govuk-table__cell--width-30 govuk-!-font-size-18">#}
                        {#2e#}
                        {#</td>#}
                        {#<td class="govuk-table__cell">#}
                        {#<h3 class="govuk-!-font-size-18 govuk-!-font-weight-regular govuk-!-margin-0">North West England</h3>#}
                        {#<p class="govuk-!-font-size-16 govuk-!-margin-0">Call switchboard</p>#}
                        {#</tr>#}
                        {#</tbody>#}
                        {#</table>#}
                        {#</div>#}


                        {#</div>#}
                        {#</div>#}


                    </div>


                </div>
                <div class="govuk-grid-column-one-third">

                    <aside class="aside">

                        <div class="apollo-enclosure">
                            <h2 class="govuk-heading-m">Supplier details</h2>

                            <h3 class="govuk-heading-m govuk-!-font-size-17featured govuk-!-margin-0 govuk-!-font-weight-bold">
                                Telephone:</h3>
                            <p class="govuk-!-font-size-17featured" itemprop="telephone">{{ supplier.content.phone_number }}</p>

                            {# Some URIs are malformed, here we check if a string starts with `http` and if it does, we display something #}
                            {% if supplier.content.website == "" or supplier.content.website matches "/@/" %}
                            {% else %}
                                <h3 class="govuk-heading-m govuk-!-font-size-17featured govuk-!-margin-0 govuk-!-font-weight-bold">
                                    Website:</h3>
                                <p class="govuk-!-font-size-17featured break-word">
                                    <a href="{{ fix_url(supplier.content.website) }}">Go to website</a>
                                </p>
                            {% endif %}
                            <h3 class="govuk-heading-m govuk-!-font-size-17featured govuk-!-margin-0 govuk-!-font-weight-bold">
                                <abbr title="Data Universal Numbering System">DUNS</abbr>
                                number:</h3>
                            <p class="govuk-!-font-size-17featured">{{ supplier.content.duns_number }}</p>


                            <h3 class="govuk-heading-m govuk-!-font-size-17featured govuk-!-margin-0 govuk-!-font-weight-bold">
                                Address:</h3>
                            <address class="" itemscope="" itemtype="http://schema.org/LocalBusiness">
                                <div class="govuk-body govuk-!-font-size-17featured" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="streetAddress">{{ supplier.content.street }}</span>
                                    <span itemprop="addressLocality">{{ supplier.content.city }}</span>
                                    <span itemprop="postalCode">{{ supplier.content.postcode }}</span>
                                    <span itemprop="addressCountry">{{ supplier.content.country }}</span>
                                </div>
                            </address>

                            {% if supplier.content.crp_url != "" or supplier.content.crp_url != null %}
                                <h3 class="govuk-heading-m govuk-!-font-size-17featured govuk-!-font-weight-bold">Carbon Reduction plan:</h3>

                                <p class='govuk-!-padding-bottom-4'><a href="{{ fix_url(supplier.content.crp_url) }}" target="_new-window" rel="noopener noreferrer">Read this supplier's carbon reduction plan</a></p>
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">What is a Carbon reduction plan(CRP)</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        A CRP helps customers understand the impact of a supplier's operations on the environment. A CRP details an organisation's emissions across a single year against a range of emission sources and greenhouse gases. <a href="https://www.crowncommercial.gov.uk/news/5-steps-to-help-you-on-your-carbon-net-zero-journey">Learn more about CRPs</a>.
                                    </div>
                                </details>

                            {% endif %}
                        </div>

                    </aside>

                </div>
            </div>


        </main>
    </div>
    <script> frameworkAndSupplierPage(); </script>
    <script>pushToDataLayer({'event': 'page_view', 'page_referrer': window.location.href, 'page_type': 'supplier', 'supplier':'{{name}}'});</script>

{% endblock %}

{% block nonblocking_javascript %}
    {{ parent() }}
    <script src="/assets/scripts/dataLayer.js"></script>
{% endblock %}