<div class="apollo-enclosure csat-survey-box" style="background-color: rgb(254, 201, 1); color: rgb(14, 14, 14);">
    <h2 class="aside__heading">Help us make this service better for you</h2>

    {% if csat_design_enabled %}
        <noscript>
            <p>
                <a class="govuk-link" style="color: #0E0E0E; font-weight: 600;" href="https://crowncommercial.qualtrics.com/jfe/form/SV_b2hqVz3TYDCxN2u">Give feedback on how we can improve this service.</a>
            </p>
        </noscript>

        <div class="hideWithoutJS govuk-visually-hidden">
            <input type="checkbox" id="feedback-toggle{{ mobile|default ? '-mobile' : '' }}" aria-label="Toggle feedback form" style="display: none;">

            <p id="feedback-trigger-section">
                <label for="feedback-toggle{{ mobile|default ? '-mobile' : '' }}" class="govuk-link feedback-trigger" style="color: rgb(14, 14, 14); font-weight: 800; background: none; border: none; cursor: pointer; display: flex; align-items: center; gap: 5px;">
                    Give feedback on how we can improve this service. 
                    <span class="chevron" aria-hidden="true" style="font-size: 16px; transition: transform 0.2s;">▼</span>
                </label>
            </p>
                <div id="feedback-form{{ mobile|default ? '-mobile' : '' }}" class="feedback-form" role="region" aria-labelledby="feedback-heading">
                    <h3 id="feedback-heading" class="govuk-heading-s" style="margin-top: 0px;">Rate this service</h3>
                    
                    <form id="service-feedback-form">
                        <div id="feedback-global-error" class="govuk-error-summary govuk-visually-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <span id="feedback-global-error-text">There was a problem submitting your feedback. Please try again.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-form-group" id="rating-form-group{{ mobile|default ? '-mobile' : '' }}">
                            <fieldset class="govuk-fieldset" aria-describedby="rating-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"> 
                                    How would you rate your experience on our website today? (1 is very poor, 10 is excellent) 
                                </legend>
                                <div id="rating-hint" class="govuk-hint"> Select one option </div>
                                
                                {# 1. Error message elements: Hidden by default #}
                                <span id="rating-error{{ mobile|default ? '-mobile' : '' }}" class="govuk-error-message govuk-visually-hidden">
                                    <span class="govuk-visually-hidden">Error:</span> Select a rating to continue
                                </span>

                                <div id="rating-required-hint" class="govuk-visually-hidden"> A rating is required to submit feedback </div>
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" data-govuk-radios-init="">
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-1" name="rating" type="radio" aria-label="1 - Very poor" value="40"><label class="govuk-label govuk-radios__label" for="rating-1">1</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-2" name="rating" type="radio" aria-label="2" value="41"><label class="govuk-label govuk-radios__label" for="rating-2">2</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-3" name="rating" type="radio" aria-label="3" value="42"><label class="govuk-label govuk-radios__label" for="rating-3">3</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-4" name="rating" type="radio" aria-label="4" value="43"><label class="govuk-label govuk-radios__label" for="rating-4">4</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-5" name="rating" type="radio" aria-label="5" value="44"><label class="govuk-label govuk-radios__label" for="rating-5">5</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-6" name="rating" type="radio" aria-label="6" value="45"><label class="govuk-label govuk-radios__label" for="rating-6">6</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-7" name="rating" type="radio" aria-label="7" value="46"><label class="govuk-label govuk-radios__label" for="rating-7">7</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-8" name="rating" type="radio" aria-label="8" value="47"><label class="govuk-label govuk-radios__label" for="rating-8">8</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-9" name="rating" type="radio" aria-label="9" value="48"><label class="govuk-label govuk-radios__label" for="rating-9">9</label></div>
                                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="rating-10" name="rating" type="radio" aria-label="10 - Excellent" value="49"><label class="govuk-label govuk-radios__label" for="rating-10">10</label></div>
                                </div>
                            </fieldset>
                        </div>
                    
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="feedback-comments"> Provide more details (optional) </label>
                            <div id="feedback-comments-hint" class="govuk-hint"> Do not include personal or financial information. </div>
                            <textarea class="govuk-textarea" id="feedback-comments" name="feedback-comments" rows="3" aria-describedby="feedback-comments-hint" aria-required="false"></textarea>
                        </div>
                        
                        <div class="feedback-form-actions">
                            <div class="govuk-button-group">
                                <button id="submit-feedback-btn" class="govuk-button govuk-button--secondary" type="button" onclick="submitFeedback()" aria-describedby="rating-required-hint"> Submit feedback </button>
                                <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="cancelFeedback()"> Cancel </a>
                            </div>
                        </div>
                    </form>
                </div>

            <div id="feedback-thank-you" class="feedback-thank-you" role="region" aria-live="polite" style="display: none;">
                <h3 class="govuk-heading-s" style="margin-top: 0px;">Thank you for your feedback</h3>
                <p>Your response has been recorded.</p>
            </div>
        </div>
    {% else %}
        <p>
            <a class="govuk-link" style="color: #0E0E0E; font-weight: 600;" href="https://crowncommercial.qualtrics.com/jfe/form/SV_b2hqVz3TYDCxN2u">Give feedback on how we can improve this service.</a>
        </p>
    {% endif %}
</div>
