<ul class="list--inline pagination govuk-body" role="navigation" aria-label="Pagination">

    {% if not pagination.firstPage %}
        <li class="pagination__item pagination__item--previous">
            <a href="{{ path(route, options|merge({'page': pagination.previous})) }}" rel="previous">
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span> <span>Previous</span>
                <span class="visuallyhidden">page</span> </a>
        </li>
    {% endif %}



    {% set pageLinks = pagination.pageLinks(5) %}

    {% if pagination.page > pagination.first and pageLinks[0] > 2 %}
        <li class="pagination__item">
            <a href="{{ path(route, options|merge({'page': pagination.last})) }}"><span class="visuallyhidden">Page </span>{{ pagination.first }}
            </a></li>
        <li class="pagination__item">…</li>
    {% endif %}
    {% for pageLink in pageLinks %}
        {% if pageLink == pagination.page %}
            <li class="pagination__item active"><span class="visuallyhidden">Page </span>{{ pageLink }}
            </li>
        {% else %}
            <li class="pagination__item">
                <a href="{{ path(route, options|merge({'page': pageLink})) }}"><span class="visuallyhidden">Page </span>{{ pageLink }}
                </a></li>
        {% endif %}
    {% endfor %}
    {% if pagination.page < pagination.last and pageLinks[4] < (pagination.last - 1) %}
        <li class="pagination__item">…</li>
        <li class="pagination__item">
            <a href="{{ path(route, options|merge({'page': pagination.last})) }}"><span class="visuallyhidden">Page </span>{{ pagination.last }}
            </a></li>
    {% endif %}



    {% if not pagination.lastPage %}
        <li class="pagination__item pagination__item--next">
            <a href="{{ path(route, options|merge({'page': pagination.next})) }}" rel="next">
                <span>Next</span> <span class="visuallyhidden">page</span>
                <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span> </a>
        </li>
    {% endif %}
</ul>
