{% extends 'base.html.twig' %}

{% block title %}Access Digital Brochure - {{ digital_brochure.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{# Remove colour flourishes from this page #}
{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title page-title--tight">You can now download this {{ digital_brochure.content.document_type|default ? digital_brochure.content.document_type|raw|lower : 'Digital Brochure' }}</h1>

                    {#<div class="page-intro page-intro--tight"><p>Your details have been submitted and you can now download the digial brochure.</p></div>#}
                    {% if (digital_brochure.content.digital_brochure_url is defined and digital_brochure.content.digital_brochure_url is not empty) and (digital_brochure.content.digital_brochure_url_text is defined and digital_brochure.content.digital_brochure_url_text is not empty)  %}
                        <p><a href="{{ digital_brochure.content.digital_brochure_url }}">{{ digital_brochure.content.digital_brochure_url_text|raw }}</a></p>
                    {% endif %}

                    {% if digital_brochure.content.digital_brochure_file.url is defined and digital_brochure.content.digital_brochure_file.url is not empty %}
                        <p><a class="download-file-link" href="{{ digital_brochure.content.digital_brochure_file.url }}">{{ digital_brochure.content.digital_brochure_file.title|raw }} ({{ digital_brochure.content.digital_brochure_file.filesize }})</a></p>
                    {% endif %}
                </div>
            </div>
        </main>

    </div>

    {% include 'forms/dataLayer_component/_form_submit.html.twig' with {'formName': "Gated form" } %}

{% endblock %}
