{% extends 'base.html.twig' %}

{% block title %}News - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta 
                </strong> 
                <span class="govuk-phase-banner__text">This is a new service – your
                <a class="govuk-link" href={{ survey_link }}>feedback</a> will help us to improve it.
                </span>
            </p>
        </div>

        {% set filterSet = title is defined and title is not empty ? true : false %}
        {% set showFeature = pageNumber is defined and pageNumber == 1 ? true : false %}


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% if filterSet %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/news"> News</a>
                    </li>

                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        {{ title }}
                    </li>
                {% else %}
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        News
                    </li>
                {% endif %}
            </ol>
        </div>

        <main id="main-content" role="main"  class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title">{{ filterSet ? title : "News"}}</h1>
                </div>
            </div>


            {% if pages.pagination.totalResults > 0  %}
                {% if not filterSet and showFeature %}
                    <div class ="news_div" >
                        {% include 'news/block.html.twig' with {'page': pages.current} %}
                    </div>
                {% endif %}
            {% endif %}

            
            <div class="govuk-grid-row" >
                <div class="govuk-grid-column-one-third">
                    {% if categoriesFilters is not empty %}
                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="audience-tag-accordion">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="audience-tag-accordion-heading">
                                            Type of article
                                        </span>
                                    </h3>
                                </div>
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="audience-tag-accordion-heading">
                                    <ul class="ccs-link-filter-list">
                                        {% if not filterSet %}
                                            <li>All article</li>
                                        {% else %}
                                                <li><a href="/news">All article</a></li>
                                        {% endif %}

                                        {% for item in categoriesFilters|sort %}
                                            {% if filters.categories == item.id %}
                                                <li>{{ item.name }}</li>
                                            {% else %}
                                                <li><a href="{{ path('news_list', {'categories': item.id }) }}"> {{ item.name }} </a><li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if sectorsFilters is not empty %}
                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="audience-tag-accordion">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="audience-tag-accordion-heading">
                                            Sectors
                                        </span>
                                    </h3>
                                </div>
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="audience-tag-accordion-heading">
                                    <ul class="ccs-link-filter-list">
                                        {% if not filterSet %}
                                            <li>All Sectors</li>
                                        {% else %}
                                                <li><a href="/news">All Sectors</a></li>
                                        {% endif %}

                                        {% for item in sectorsFilters %}
                                            {% if filters.sectors == item.id %}
                                                <li>{{ item.name }}</li>
                                            {% else %}
                                                <li><a href="{{ path('news_list', {'sectors': item.id }) }}"> {{ item.name }} </a><li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if productsServicesFilters is not empty %}
                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="audience-tag-accordion">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="audience-tag-accordion-heading">
                                            Products and services
                                        </span>
                                    </h3>
                                </div>
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="audience-tag-accordion-heading">
                                    <ul class="ccs-link-filter-list">
                                        {% if not filterSet %}
                                            <li>All Categories</li>
                                        {% else %}
                                                <li><a href="/news">All Categories</a></li>
                                        {% endif %}

                                        {% for item in productsServicesFilters %}
                                            {% if filters.products_services == item.id %}
                                                <li>{{ item.name }}</li>
                                            {% else %}
                                                <li><a href="{{ path('news_list', {'products_services': item.id }) }}"> {{ item.name }} </a><li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                <div class="govuk-grid-column-two-thirds">
                    {% if pages.pagination.totalResults > 0  %}
                        {% for page in pages %}
                            {% if filterSet or not ( loop.first and showFeature) %}
                                <div class ="news_div" >
                                    {% include 'news/block.html.twig' with {'page': page} %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24">0 articles found</h2>
                    {% endif %}
                    {% if pages.pagination.totalPages > 1 %}
                        {{ include('includes/pagination.html.twig', {'pagination': pages.pagination, 'route': 'news_list', 'options': {}}) }}
                    {% endif %}
                </div>
            </div>

        </main>
    </div>

{% endblock %}