{% extends 'base.html.twig' %}

{% block title %}News - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {% include '_components/hero.html.twig' with {'image': '/assets/images/news_banner.jpg', 'heading': 'Explore our latest news', 'notFromWordpress': 'true', 'H1title': 'true', 'content': '<p>Alongside our latest news you will find blogs, case studies, whitepapers and recorded webinars here. Filter by area of interest, sector and content type to help you find what interests you most.</p>', 'cta_label': 'Subscribe to customer newsletter', 'cta_destination': '/newsletter', 'news_page_banner': 'true'} %}

    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta 
                </strong> 
                <span class="govuk-phase-banner__text">This is a new service - your
                <a class="govuk-link" href={{ survey_link }}>feedback</a> will help us to improve it.
                </span>
            </p>
        </div>

        {% set categoriesForTwig = filters.categories is defined and filters.categories is not empty ? filters.categories|split(',') : [] %}
        {% set downloadableForTwig = filters.digitalDownload is defined and filters.digitalDownload is not empty ? filters.digitalDownload|split(',') : [] %}

        {% set sectorsForTwig = filters.sectors is defined and filters.sectors is not empty ? filters.sectors|split(',') : [] %}
        {% set products_servicesForTwig = filters.products_services is defined and filters.products_services is not empty ? filters.products_services|split(',') : [] %}

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">News</li>
            </ol>
        </div>

        <main id="main-content" role="main"  class="govuk-main-wrapper">
            
            <div class="govuk-grid-row" >
                <div class="govuk-grid-column-one-quarter">

                    <div class="govuk-grid-row">
                    <form action="{{ path('news_list') }}" method="GET" id="form1">
                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-m">Apply filters</h2>
                        </div>
                            <div class="govuk-grid-column-one-half" style="text-align:right;">
                                <a href={{ path('news_list') }} class="govuk-link"> Clear filters </a>
                            </div>
                        </div>
                        <button class="govuk-button" data-module="govuk-button" v-show="!javascriptVersion">
                            Filter
                        </button>
                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="filter_article">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-for-categories">
                                            Type of article
                                        </span>
                                    </h2>
                                </div>
                               
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-for-categories">
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(null,null) v-model="checkedCategories" name="allCategories" value="allCategories" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allCategories" type="checkbox" {{ filters.categories is not defined ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="allCategories">
                                            View all
                                        </label>
                                    </div>
                                    {% if categoriesFilters is not empty %}
                                        {% for item in categoriesFilters|sort %}
                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                                <input v-on:change=fetchAPIData("{{item.slug}}",null) v-model="checkedCategories" name="categories[]" value="{{item.id}}" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="{{item.slug}}" type="checkbox" {{ item.id in categoriesForTwig ? 'checked' }}>
                                                <label class="govuk-label govuk-checkboxes__label" for="{{item.slug}}">
                                                    {{ item.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(whitepaper,null) v-model="whitepaper" name="whitepaper" value=1 class="govuk-checkboxes__input govuk-checkboxes__input--small" id="whitepaper" type="checkbox" {{ filters.whitepaper is defined and filters.whitepaper is not null  ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="whitepaper">
                                            Whitepaper
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(webinar,null) v-model="webinar" name="webinar" value=1 class="govuk-checkboxes__input govuk-checkboxes__input--small" id="webinar" type="checkbox" {{ filters.webinar is defined and filters.webinar is not null  ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="webinar">
                                            Webinar
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(digitalBrochure,null) v-model="digitalBrochure" name="digitalBrochure" value=1 class="govuk-checkboxes__input govuk-checkboxes__input--small" id="digitalBrochure" type="checkbox" {{ filters.digitalBrochure is defined and filters.digitalBrochure is not null  ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="digitalBrochure">
                                            Digital brochure
                                        </label>
                                    </div>

                                    {% set tempDigitalDownload = [] %}

                                    {% if contentTypeFilters is not empty %}
                                        {% for item in contentTypeFilters|sort %}

                                            {% set tempDigitalDownload = tempDigitalDownload|merge([item.id]) %}

                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                                <input v-on:change=fetchAPIData("{{item.slug}}",null) v-model="checkedDigitalDownload" name="downloadable[]" value="{{item.id}}" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="{{item.slug}}" type="checkbox" {{ item.id in downloadableForTwig ? 'checked' }}>
                                                <label class="govuk-label govuk-checkboxes__label" for="{{item.slug}}">
                                                    {{ item.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="filter_sector">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-for-sectors">
                                            Sectors
                                        </span>
                                    </h2>
                                </div>
                               
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-for-sectors">
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(null,null) v-model="checkedSectors" name="allSectors" value="allSectors" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allSectors" type="checkbox" {{ filters.sectors is not defined or filters.sectors is null ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="allSectors">
                                            View all
                                        </label>
                                    </div>
                                    {% if sectorsFilters is not empty %}
                                        {% for item in sectorsFilters %}
                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                                <input v-on:change=fetchAPIData("{{item.slug}}",null) v-model="checkedSectors" name="sectors[]" value="{{item.id}}" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="{{item.slug}}" type="checkbox" {{ item.id in sectorsForTwig ? 'checked' }}>
                                                <label class="govuk-label govuk-checkboxes__label" for="{{item.slug}}">
                                                    {{ item.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                
                            </div>
                        </div>

                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="govuk-accordion" id="filter_p_and_s">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="no-top-line govuk-accordion__section-button ccs-accordion__section-button" id="accordion-for-ps">
                                            Products and services
                                        </span>
                                    </h2>
                                </div>
                               
                                <div id="audience-tag-accordion-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-for-ps">
                                    <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                        <input v-on:change=fetchAPIData(null,null) v-model="checkedProducts_services" name="allPS" value="allPS" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="allPS" type="checkbox" {{ filters.products_services is not defined or filters.products_services is null ? 'checked' }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="allPS">
                                            View all
                                        </label>
                                    </div>
                                    {% if productsServicesFilters is not empty %}
                                        {% for item in productsServicesFilters %}
                                            <div class="govuk-checkboxes__item govuk-checkboxes__item--small">
                                                <input v-on:change=fetchAPIData("{{item.slug}}",null) v-model="checkedProducts_services" name="PandS[]" value="{{item.id}}" class="govuk-checkboxes__input govuk-checkboxes__input--small" id="{{item.slug}}" type="checkbox" {{ item.id in products_servicesForTwig ? 'checked' }}>
                                                <label class="govuk-label govuk-checkboxes__label" for="{{item.slug}}">
                                                    {{ item.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                
                            </div>
                        </div>
                        <button class="govuk-button" data-module="govuk-button" v-show="!javascriptVersion">
                            Filter
                        </button>
                    </form>
                </div>
                <div class="govuk-grid-column-three-quarters news-list-pagination-container">

                    <div v-if="responseAvailable" class="hideWithoutJS govuk-visually-hidden">
                            <div v-show="javascriptVersion" v-for="result in results">
                                <div class ="news_div" >
                                    <div class="govuk-width-container">
                                        <div class="govuk-grid-row news_wrapper">

                                            <div class="news-listing-block" :class="{'govuk-grid-column-one-half': result.imageSet, 'govuk-grid-column-full':!result.imageSet}">
                                                <p class="news-listing-meta"> 
                                                    <a :href="result.CategoriesLink">{[ result.postType ]}</a>
                                                    <span> {[result.modifiedDate]} </span> 
                                                </p>
                                                <h2 class="news-listing-title">
                                                    <a :href="result.postLink" v-html="result.title.rendered"></a>
                                                </h2>
                                                <p v-html="result.postDescription"></p> 
                                            </div>
                                            
                                            <div class="govuk-grid-column-one-half news-img-container">
                                                <figure class="image-wrapper news_img">
                                                    <picture class="">
                                                        <div v-if="result.imageSet">
                                                            <img :src="result.imageURL"
                                                                 :alt="result.altText"
                                                                    role="presentation"
                                                                    class=""
                                                                    loading="lazy"/>
                                                        </div>
                                                    </picture>

                                                </figure>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <results-pagination 
                                :total-results="totalResults" 
                                :number-of-pages="numberOfPages" 
                                :current-page="currentPage" 
                                v-on:update-page="updatePageValue($event)" 
                            ></results-pagination>


                    </div>
                    <div v-else-if="responseAvailable === false" class="hideWithoutJS govuk-visually-hidden">
                        <p>Loading...</p>
                    </div>
                    <div v-if="emptyResult" class="hideWithoutJS govuk-visually-hidden">
                        <p>There are no matching results.</p>
                    </div>

                    <div v-show="!javascriptVersion">
                        {% include '/news/_resultCards.html.twig' %}
                    </div>
                </div>

        </main>

        <!-- Vue and Custom JavaScript -->
        {% if app.environment == "prod" %}
            <script src="/assets/scripts/libraries/vue.min.js"></script>
        {% else %}
            <script src="/assets/scripts/libraries/vue.js"></script>
        {% endif %}

        <script>
             /**
            * Function to test if the browser supports ES6 template literals
            */
            function supportsLiterals() {
                try{
                    return eval("''===``");
                }
                catch(e){
                    return false;
                }
            }

            if(!('Promise' in window) || !supportsLiterals() || !window.fetch) {
                throw new Error("Your browser doesn't support the necessary JavaScript functions to use the enhanced search and has been served a non-JavaScript version");
            }

            var apiBaseUrl                  = '{{ api_base_url }}';
            var appBaseUrl                  = '{{ app_base_url }}';
            var pageNumber                  = {% if pageNumber is defined and pageNumber is not empty %}{{ pageNumber }}{% else %}1{% endif %};
            var checkedCategories           = [];
            var checkedSectors              = [];
            var checkedProducts_services    = [];
            var whitepaper                  = false;
            var webinar                     = false;
            var digitalBrochure             = false;
            var checkedDigitalDownload      = [];
            var allDigitalDownload          = [];

            {% if filters.categories is defined and filters.categories is not empty %}
                var checkedCategories   = Array.from([{{filters.categories}}]);
            {% endif %}

            {% if filters.sectors is defined and filters.sectors is not empty %}
                var checkedSectors   = Array.from([{{filters.sectors}}]);
            {% endif %}

            {% if filters.products_services is defined and filters.products_services is not empty %}
                var checkedProducts_services   = Array.from([{{filters.products_services}}]);
            {% endif %}

            {% if filters.whitepaper is defined and filters.whitepaper == "1" %}
                whitepaper = true;
            {% endif %}

            {% if filters.webinar is defined and filters.webinar == "1" %}
                webinar = true;
            {% endif %}

            {% if filters.digitalBrochure is defined and filters.digitalBrochure == "1" %}
                digitalBrochure = true;
            {% endif %}

            
            {% if filters.digitalDownload is defined and filters.digitalDownload is not empty %}
                var checkedDigitalDownload   = Array.from([{{filters.digitalDownload}}]);
            {% endif %}
            
            {% if contentTypeFilters is defined and contentTypeFilters is not empty%}
               var allDigitalDownload = Array.from([{{tempDigitalDownload|join(', ')}}]);
            {% endif %} 

            Vue.component('results-pagination', {
                delimiters: ['{[', ']}'],
                props: {
                    currentPage: Number,
                    totalResults: Number,
                    numberOfPages: Number,
                },
                computed: {
                    nextPage: function() {
                        if(this.currentPage == this.numberOfPages) {
                            return this.currentPage;
                        }
                        return this.currentPage + 1;
                    },
                    previousPage: function() {
                        if(this.currentPage == 1) {
                            return this.currentPage;
                        }
                        return this.currentPage - 1;
                    },
                    paginationStartNumber: function() {
                        // start page defaults to 2 (second page) because the
                        // first page link is always output by default
                        var linksStartPage = 1;

                        // if the start page is at the beginning of the pagination
                        // then account for this
                        if ((this.currentPage - 2) < 2 ) {
                            linksStartPage = 2;
                        } else {
                            // otherwise the start page is equal to the current
                            // page minus 2, this means that the pagination should
                            // have a couple of links either side of the current
                            // page, e.g.   2 3 [4] 5 6
                            linksStartPage = this.currentPage - 2;
                        }

                        // if the start page is very close to the last page, then
                        // account for this
                        if((this.currentPage + 2) > this.numberOfPages) {
                            linksStartPage = linksStartPage - 2;
                        }

                        if(linksStartPage <= 1 ) {
                            linksStartPage = 2;
                        }

                        return linksStartPage;
                    },
                    paginationEndNumber: function() {
                        var linksEndPage   = this.paginationStartNumber + 4;

                        // if there aren't more pages than the number we
                        // want to show by minimum, then the end page is just equal
                        // to the final result page

                        if ((linksEndPage >= this.numberOfPages)) {
                            // minus 1 because the last page is always output
                            linksEndPage = this.numberOfPages - 1;
                        }

                        if(this.numberOfPages == 1) {
                            linksEndPage = 1;
                        }

                        return linksEndPage;
                    }
                },
                methods: {
                    updatePageNumber: function(event, newPage) {
                        event.preventDefault();
                        this.$emit('update-page', newPage);
                        search.fetchAPIData(null, newPage)
                    },
                    range : function (start, end) {
                        return Array(end - start + 1).fill().map(function(_, idx) {
                            return start + idx;
                        });
                    }
                },
                template: 
                    `
                    <div>
                        <ul class="list--inline pagination govuk-body" role="list" aria-label="Pagination" v-if="numberOfPages > 0">
                            <li class="pagination__item pagination__item--previous" v-if="currentPage != 1">
                                <a href="#" rel="previous" v-on:click="updatePageNumber($event, previousPage)">
                                    <span class="icon">
                                        <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"></path></svg>
                                    </span>
                                    <span>Previous</span> <span class="visuallyhidden">page</span>
                                </a>
                            </li>

                            <li class="pagination__item">
                                <span v-if="currentPage == 1"><span class="visuallyhidden">Page </span>1</span>
                                <a v-else href="#" v-on:click="updatePageNumber($event, 1)"><span class="visuallyhidden">Page </span>1</a>
                            </li>

                            <li class="pagination__item" v-if="paginationStartNumber > 2">…</li>

                            <li class="pagination__item" v-for="page in range(paginationStartNumber, paginationEndNumber)" v-if="numberOfPages > 1">
                                <span v-if="page == currentPage"><span class="visuallyhidden">Page </span>{[ page ]}</span>
                                <a v-else href="#" v-on:click="updatePageNumber($event, page)"><span class="visuallyhidden">Page </span>{[ page ]}</a>
                            </li>

                            <li class="pagination__item" v-if="(paginationEndNumber + 1) < numberOfPages">…</li>

                            <li class="pagination__item" v-if="numberOfPages > 1">
                                <span v-if="currentPage == numberOfPages"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</span>
                                <a v-else href="#" v-on:click="updatePageNumber($event, numberOfPages)"><span class="visuallyhidden">Page </span>{[ numberOfPages ]}</a>
                            </li>

                            <li class="pagination__item pagination__item--next" v-if="currentPage != numberOfPages">
                                <a rel="next" v-on:click="updatePageNumber($event, nextPage)">
                                    <span>Next</span> <span class="visuallyhidden">page</span>
                                    <span class="icon">
                                        <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"></path></svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    `
            });


            var search = new Vue({
                delimiters: ['{[', ']}'],
                el: '#main-content',
                mounted:function(){
                    this.categoriesFilter();
                    this.sectorsFilter();
                    this.productsServicesFilter();
                    this.otherPostType();
                },
                data: {
                    javascriptVersion: true,
                    results: "",
                    responseAvailable: null,
                    emptyResult: false,
                    apiURL:  apiBaseUrl + "news?",
                    checkedCategories: checkedCategories,
                    checkedSectors: checkedSectors,
                    checkedProducts_services: checkedProducts_services,
                    whitepaper: whitepaper,
                    webinar: webinar,
                    digitalBrochure: digitalBrochure,
                    checkedDigitalDownload: checkedDigitalDownload,
                    allDigitalDownload: allDigitalDownload,
                    currentPage: pageNumber,
                    numberOfPages: Number,
                    totalResults: Number,

                    popstateLoad: false
                },
                created: function() {
                    const hideWithOutJS = document.querySelectorAll('.hideWithoutJS');

                    hideWithOutJS.forEach(card => {
                    if (card.classList.contains('govuk-visually-hidden')) {
                        card.classList.remove('govuk-visually-hidden');
                    }});

                    // unfortunately we have to update the results when we instantiate
                    // the Vue app so it hooks in all the correct event handlers etc.
                    this.fetchAPIData(null, this.currentPage);

                    // setup popstate event listener for History API
                    this.setupHistoryApi();                   
                },
                watch: {
                    searchRequestUrl: function() {
                        // if the searchRequestUrl hasn't been updated by a popstate
                        // event (back/forward button) then we push a state item to the
                        // JS History API
                        if(this.popstateLoad === false) {
                            history.pushState({
                                checkedCategories: this.checkedCategories,
                                checkedSectors: this.checkedSectors,
                                checkedProducts_services: this.checkedProducts_services,
                                whitepaper: this.whitepaper,
                                webinar: this.webinar,
                                digitalBrochure: this.digitalBrochure,
                                checkedDigitalDownload: checkedDigitalDownload,
                            }, 'News', this.frontendSearchUrl);
                        }

                        // reset the popstateLoad property to false
                        this.popstateLoad = false;
                    }
                },
                computed: {
                    frontendQueryUrl: function() {
                        var queryUrl = '/?';

                        if(this.checkedCategories.length != 0) {
                            queryUrl += '&categories=' + this.checkedCategories.join();
                        }

                        if(this.whitepaper == true) {
                            queryUrl += '&whitepaper=1';
                        }

                        if(this.webinar == true) {
                            queryUrl += '&webinar=1';
                        }

                        if(this.digitalBrochure == true) {
                            queryUrl += '&digitalBrochure=1';
                        }

                        if(this.checkedSectors.length != 0) {
                            queryUrl += '&sectors=' + this.checkedSectors.join();
                        }

                        if(this.checkedProducts_services.length != 0) {
                            queryUrl += '&products_services=' + this.checkedProducts_services.join();
                        }

                        if(this.checkedDigitalDownload.length != 0) {
                            queryUrl += '&digitalDownload=' + this.checkedDigitalDownload.join();
                        }

                        if(this.currentPage ){
                            queryUrl += '&page=' + this.currentPage;
                        }

                        queryUrl += this.utmTagsRemain();

                        return queryUrl != '/?' ? queryUrl : "";
                        
                    },
                    frontendSearchUrl: function() {
                        var searchUrl = '/news' + this.frontendQueryUrl ;
                        return searchUrl;
                    }
                },   
                methods: {
                    utmTagsRemain:function(){
                        urlParams = new URLSearchParams(window.location.href);

                        utmParams = '';

                        for ( var param of urlParams) {
                            [key, value] = param;
                                                    
                            if (key.startsWith("utm")) {
                                utmParams += `&${key}=${value}`;
                            }
                        }

                        if (utmParams != ''){
                            return utmParams;
                        }
                        return "";
                    },
                    formatDate:function(date){
                        var self = this;
                        date = new Date(Date.parse(date));
                        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][date.getMonth()];
                        return date.getDate() + ' ' + month + ' ' + date.getFullYear();

                    },
                    categoriesFilter:function(categoriesSlug){
                        var self = this;
                        var categoriesFilter = "";

                        if (self.checkedCategories.includes("allCategories")){
                            self.setOtherPostTypeToFalse();
                            self.checkedCategories = [];
                        } else if (self.checkedCategories.length != 0){
                            document.getElementById("allCategories").checked = false;
                            categoriesFilter = "&categories=" + self.checkedCategories.join();

                            self.whitepaper         = self.whitepaper       === false ? false : self.whitepaper;
                            self.webinar            = self.webinar          === false ? false : self.webinar;
                            self.digitalBrochure    = self.digitalBrochure  === false ? false : self.digitalBrochure;
                        }

                        return categoriesFilter;
                    },
                    sectorsFilter:function(sectorSlug){
                        var self = this;
                        var sectorsFilter = "";

                        if (self.checkedSectors.includes("allSectors") || self.checkedSectors.length == 0 || self.checkedSectors.length == "{{sectorsFilters|length}}"){
                            self.checkedSectors = [];
                            document.getElementById("allSectors").checked = true;
                            document.getElementById(sectorSlug) != null ? document.getElementById(sectorSlug).checked = false : null
                        }else{
                            document.getElementById("allSectors").checked = false;
                            sectorsFilter = "&sectors=" + self.checkedSectors.join()
                        }

                        return sectorsFilter;
                    },
                    productsServicesFilter:function(psSlug){
                        var self = this;
                        var products_servicesFilter = "";

                        if (self.checkedProducts_services.includes("allPS") || self.checkedProducts_services.length == 0 || self.checkedProducts_services.length == "{{productsServicesFilters|length}}"){
                            self.checkedProducts_services = [];
                            document.getElementById("allPS").checked = true;
                            document.getElementById(psSlug) != null ? document.getElementById(psSlug).checked = false : null
                        }else{
                            document.getElementById("allPS").checked = false;
                            products_servicesFilter = "&products_services=" + self.checkedProducts_services.join()
                        }

                        return products_servicesFilter;
                    },
                    otherPostType:function(categoriesSlug){
                        var self = this;
                        var otherPostType = "";
                        var allCategoriesClear = this.whitepaper === false && this.webinar === false && this.digitalBrochure === false && this.checkedCategories.length == 0 && this.checkedDigitalDownload.length == 0;

                        if ( allCategoriesClear ){
                            document.getElementById("allCategories").checked = true;
                            return "&whitepaper=1&webinar=1&digitalBrochure=1&digitalDownload=" + self.allDigitalDownload
                        }else if( this.checkedCategories.length == "{{categoriesFilters|length}}" && this.whitepaper && this.webinar && this.digitalBrochure && this.checkedDigitalDownload.length == this.allDigitalDownload.length ){
                            this.checkedCategories = [];
                            this.checkedDigitalDownload = [];
                            self.setOtherPostTypeToFalse();
                            document.getElementById(categoriesSlug) != null ? document.getElementById(categoriesSlug).checked = false : null
                            document.getElementById("allCategories").checked = true;
                            document.getElementById("whitepaper").checked = false;
                            document.getElementById("webinar").checked = false;
                            document.getElementById("digitalBrochure").checked = false;
                            return "&whitepaper=1&webinar=1&digitalBrochure=1&digitalDownload=" + self.allDigitalDownload
                        } else {
                            otherPostType = this.whitepaper                         ? otherPostType + "&whitepaper=1"       : otherPostType;
                            otherPostType = this.webinar                            ? otherPostType + "&webinar=1"          : otherPostType;
                            otherPostType = this.digitalBrochure                    ? otherPostType + "&digitalBrochure=1"  : otherPostType;
                            otherPostType = this.checkedCategories.length == 0      ? otherPostType + "&noPost=1"           : otherPostType;
                            otherPostType = this.checkedDigitalDownload.length != 0 ? otherPostType + "&digitalDownload=" + self.checkedDigitalDownload.join()   : otherPostType;
                            document.getElementById("allCategories").checked = false;
                        }

                        return otherPostType;
                    },
                    setOtherPostTypeToFalse:function(){
                        var self = this;
                        self.whitepaper = false;
                        self.webinar = false;
                        self.digitalBrochure = false;
                        self.checkedDigitalDownload = [];
                    },
                    searchRequestUrl: function(categoriesSlug, page) {

                        fetchURL = this.apiURL + this.categoriesFilter(categoriesSlug) + this.sectorsFilter(categoriesSlug) + this.productsServicesFilter(categoriesSlug) + this.otherPostType(categoriesSlug);
                        
                        fetchURL = fetchURL + "&per_page=5&page=" + this.currentPage;

                        if(this.popstateLoad === false) {
                            history.pushState({
                                checkedCategories: this.checkedCategories,
                                checkedSectors: this.checkedSectors,
                                checkedProducts_services: this.checkedProducts_services,
                                whitepaper: this.whitepaper,
                                webinar: this.webinar,
                                digitalBrochure: this.digitalBrochure,
                                checkedDigitalDownload: checkedDigitalDownload
                            }, 'Search suppliers - CCS', this.frontendSearchUrl);
                        }

                        // reset the popstateLoad property to false
                        this.popstateLoad = false;

                        return fetchURL;
                    },
                    fetchAPIData: function(categoriesSlug, page) {
                        var self = this;
                        this.responseAvailable = false;
                        this.emptyResult = false;
                        const utmTags = '?' + this.utmTagsRemain().substring(1);

                        this.currentPage = page === null ? 1 : page;
                        var requestUrl = this.searchRequestUrl(categoriesSlug, this.currentPage);
                        console.log(requestUrl);
                        fetch(requestUrl)
                        .then(async function(response) {
                            if (!response.ok) {
                                throw new Error('HTTP error, status = ' + response.status);
                            }
                            return response.json();
                        })
                        .then(function(jsonResponse) {
                            self.numberOfPages = jsonResponse.meta['X-WP-TotalPages'];
                            self.totalResults = jsonResponse.meta['X-WP-Total'];
                            for(var i = 0; i < jsonResponse.body.length; i++) {                         
                                jsonResponse.body[i].modifiedDate = self.formatDate(jsonResponse.body[i].modified);
                                jsonResponse.body[i].postType = jsonResponse.body[i].acf.category_type;
                                jsonResponse.body[i].index = i;
                                
                                switch(jsonResponse.body[i].postType) {
                                    case 'Whitepaper':
                                        postLink = appBaseUrl+ "/whitepaper/request/" + jsonResponse.body[i].id +"/" + jsonResponse.body[i].slug + utmTags;
                                        postDescription = jsonResponse.body[i].excerpt.rendered;
                                        categoriesLink = appBaseUrl + "/news/?&whitepaper=1";
                                        break;
                                    case 'Webinar':
                                        postLink = appBaseUrl+ "/webinar/request/" + jsonResponse.body[i].id +"/" + jsonResponse.body[i].slug + utmTags;
                                        postDescription = jsonResponse.body[i].excerpt.rendered;
                                        categoriesLink = appBaseUrl + "/news/?&webinar=1";
                                        break;
                                    case 'Digital Brochure':
                                        postLink = appBaseUrl+ "/digital_brochure/request/" + jsonResponse.body[i].id +"/" + jsonResponse.body[i].slug + utmTags;
                                        postDescription = jsonResponse.body[i].excerpt.rendered;
                                        categoriesLink = appBaseUrl + "/news/?&digitalBrochure=1";
                                        break;
                                    case 'Downloadable':
                                        jsonResponse.body[i].postType = jsonResponse.body[i].acf.content_type_name;
                                        postLink = appBaseUrl+ "/downloadable-resource/request/" + jsonResponse.body[i].id +"/" + jsonResponse.body[i].slug + utmTags;
                                        postDescription = jsonResponse.body[i].excerpt.rendered;
                                        categoriesLink = appBaseUrl +"/news?contentType=" + jsonResponse.body[i].content_type_id;
                                        break;
                                    default:
                                        postLink = appBaseUrl+ "/news/" + jsonResponse.body[i].slug;
                                        postDescription = jsonResponse.body[i].acf.post_lead_text
                                        categoriesLink = appBaseUrl +"/news?categories=" + jsonResponse.body[i].categories[0];
                                        break;
                                }

                                jsonResponse.body[i].postLink = postLink;
                                jsonResponse.body[i].postDescription = postDescription;
                                jsonResponse.body[i].CategoriesLink = categoriesLink


                                jsonResponse.body[i].imageSet = false;
                                if (jsonResponse.body[i].acf.featured_image_url != false) {
                                    jsonResponse.body[i].imageSet = true;
                                    jsonResponse.body[i].imageURL = jsonResponse.body[i].acf.featured_image_url;
                                    jsonResponse.body[i].altText  = jsonResponse.body[i].acf.alt_text;
                                }
                            }
                            self.results = jsonResponse.body;
                            if( Object.keys(jsonResponse.body).length === 0 ){
                                self.emptyResult = true;
                                self.responseAvailable = null;
                            }else{
                                self.responseAvailable = true;
                            }
                        })
                        .catch(function(error) {
                            console.log('An error occurred');
                            console.log(error);
                            this.responseAvailable = false;
                        });
                    },
                    updatePageValue: function(newPageValue) {
                        this.currentPage = newPageValue;
                    },
                    setupHistoryApi: function() {
                        var self = this;
                        window.onpopstate = function(event) {
                            // set the popstate variable to true so that we can
                            // tell in other parts of the code that the state change
                            // is being caused by the back/forward button
                            self.popstateLoad = true;

                            if(event.state == null) {
                                self.checkedCategories = [];
                                self.checkedSectors = [];
                                self.checkedProducts_services =[]
                                self.whitepaper =null
                                self.webinar =null
                                self.digitalBrochure =null
                                self.checkedDigitalDownload = []
                                return;
                            }

                            self.checkedCategories         = event.state.checkedCategories;
                            self.checkedSectors            = event.state.checkedSectors;
                            self.checkedProducts_services  = event.checkedProducts_services.checkedLot;
                            self.whitepaper                = event.state.whitepaper;
                            self.webinar                   = event.state.webinar;
                            self.digitalBrochure           = event.state.digitalBrochure;
                            self.checkedDigitalDownload    = event.state.checkedDigitalDownload;
                        }
                    },
                }
            });

        </script> 
    </div>

{% endblock %}
