{% extends 'base.html.twig' %}

{% block title %}{{ page.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block headerclasses %}
            {% if page.featuredImage %}
                header-global header-global--news-details
            {% else %}
                {# This make sure the background is grey even is there isn't a featured image #}
                header-global header-global--news-details
            {% endif %}
        {% endblock %}

        {% block headerstyles %}
            {% if page.featuredImage %}

                {% set theFeaturedImage = "" %}

                {% if page.featuredImage.byName('news-size-xl') %}
                    {% set theFeaturedImage = page.featuredImage.byName('news-size-xl') %}
                {% elseif page.featuredImage.byName('news-size-l') %}
                    {% set theFeaturedImage = page.featuredImage.byName('news-size-l') %}
                {% elseif page.featuredImage.byName('news-size-m') %}
                    {% set theFeaturedImage = page.featuredImage.byName('news-size-m') %}
                {% elseif page.featuredImage.byName('full') %}
                    {% set theFeaturedImage = page.featuredImage.byName('full') %}
                {% endif %}

                style="background-size: cover; background-image: linear-gradient(135deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 41%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.3) 100%), url({{ theFeaturedImage }});"
            {% endif %}
        {% endblock %}

        {% block featuredcontent %}
            <div class="govuk-width-container">
                <div class="news--featured">

                    <div class="news-listing-meta--featured">
                        {% if page.taxonomies.categories %}
                        {% for category in page.taxonomies.categories %}
                            {{ category.name }}{% if loop.index < page.taxonomies.categories|length %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                        | {{ page.datePublished|date('jS F Y') }}</div>
                    <h1 class="govuk-heading-xl govuk-!-font-size-48 page-title news-listing-title--featured">{{ page.title|raw }}</h1>

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="govuk-width-container">

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/news">News</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                {{ page.title|raw }}
                </li>
            </ol>
        </div>

        <main id="main-content" role="main" class="govuk-main-wrapper">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% if page.content.post_lead_text %}
                <p class="govuk-body-l">
                    {{ page.content.post_lead_text }}
                </p>
                {% endif %}

                <div class="wysiwyg-content">

                    {{ page.content.content|raw }}

                </div>
                {# End of wysiwyg content #}



                <div class="app-c-print-link">
                    <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
                </div>




            </div>


        </div>
    </main>
    </div>

{% endblock %}
