{% if component.articles is not empty %}

    <div class="govuk-width-container">

        {% if component.feature_news_feature_news_heading is not empty %}
            <h2 class="govuk-heading-l">{{ component.feature_news_feature_news_heading|raw }}</h2>
        {% endif %}

        <ol class="featured-news news-listing">
            {% for article in component.articles %}
                <li class="feature-news__item news-listing__item">
                    {% if article.content.featuredImage %}
                        <picture>
                            <a href="{{ path('news_page', {'slug': article.content.urlSlug}) }}" aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                <!--[if IE 9]>
                                <video style="display: none;>
                                                                <![endif]-->
                                {% if article.content.featuredImage.byName('news-size-s') %}
                                    <source media="(max-width: 320px)" srcset="{{ article.content.featuredImage.byName('news-size-s') }}" data-srcset="{{ article.content.featuredImage.byName('news-size-s') }}">
                                {% endif %}

                                {% if article.content.featuredImage.byName('news-size-m') %}
                                    <source media="(max-width: 768px)" srcset="{{ article.content.featuredImage.byName('news-size-m') }}" data-srcset="{{ article.content.featuredImage.byName('news-size-m') }}">
                                {% endif %}

                                {% if article.content.featuredImage.byName('news-size-l') %}
                                    <source media="(max-width: 1280px)" srcset="{{ article.content.featuredImage.byName('news-size-l') }}" data-srcset="{{ article.content.featuredImage.byName('news-size-l') }}">
                                {% endif %}
                                <!--[if IE 9]></video><![endif]-->
                                <!-- Fallback -->
                                {% if article.content.featuredImage.byName('news-size-m') %}
                                    <img src="{{ article.content.featuredImage.byName('news-size-m') }}" {{ article.content.featuredImage.alt is defined and article.content.featuredImage.alt is not empty ? "alt=" ~ article.content.featuredImage.alt : "alt='' role='presentation'" }} aria-hidden="true" tabindex="-1">
                                {% else %}
                                    <img src="{{ article.content.featuredImage.byName('full') }}" {{ article.content.featuredImage.alt is defined and article.content.featuredImage.alt is not empty ? "alt=" ~ article.content.featuredImage.alt : "alt='' role='presentation'" }} aria-hidden="true" tabindex="-1">
                                {% endif %}

                            </a>
                        </picture>
                    {% endif %}

                    <div class="feature-news__item__details news-listing__item__caption">
                        <div class="news-listing-meta">
                            {% if article.content.taxonomies.categories %}
                                {% for category in article.content.taxonomies.categories %}
                                    {{ category.name|raw }}{% if loop.index < article.content.taxonomies.categories|length %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                            | {{ article.content.dateModified.format('jS F Y') }}
                        </div>
                        <h2 class="news-listing-title">
                            <a href="{{ path('news_page', {'slug': article.content.urlSlug}) }}">{{ article.content.title|raw }}</a>
                        </h2>

                        {% if article.content.content.post_lead_text %}
                            <p class="news-listing-summary">
                                {{ article.content.content.post_lead_text|raw }}
                            </p>
                        {% endif %}

                        <a href="{{ path('news_page', {'slug': article.content.urlSlug}) }}">Read more <span class="visuallyhidden">about {{ article.content.title|raw }}</span></a>

                    </div>
                </li>
            {% endfor %}
        </ol>

        {% if(component.articles| length == 3) %}
            {% set path = site_base_url ~ '/news/?' %}

            {% if featureNewsProperties.newsType != null %}
                {% set path = path ~ '&categories=' ~ featureNewsProperties.newsType | join(',') %}
            {% endif %}

            {% if featureNewsProperties.pAndSType != null %}
                {% set path = path ~ '&products_services=' ~ featureNewsProperties.pAndSType | join(',') %}
            {% endif %}

             {% if featureNewsProperties.sectorType != null %}
                {% set path = path ~ '&sectors=' ~ featureNewsProperties.sectorType | join(',') %}
            {% endif %}

            {% if component.feature_news_feature_news_view_more_text is defined and component.feature_news_feature_news_view_more_text is not empty %}
                <p><a href={{path}}>{{(component.feature_news_feature_news_view_more_text)}}</a></p>
            {% else %}
                {% if page.contentType.name == 'news' %}
                    <p><a href={{path}}>Browse all news articles</a></p>
                {% else %}
                    <p><a href={{path}}>Browse all {{page.title | lower}} news articles</a></p>
                {% endif %}
            {% endif %}

        {% endif %}
    </div>

{% endif %}
