{% if component.articles is not empty %}
    <div class="greyed-bg">
        <div class="govuk-width-container">

            {% if component.feature_events_feature_events_heading is not empty %}
                <h2 class="govuk-heading-l greyed-bg__heading">{{ component.feature_events_feature_events_heading|raw }}</h2>
                <a href="/events/" class="greyed-bg__heading-link">View all</a>
            {% endif %}

            <ol class="events-list events-list--brief govuk-grid-row">
                {% for article in component.articles %}
                    <li class="event-list__item event-list__item--column govuk-grid-column-one-half">
                        {% if article.content.content.image is not empty %}
                            <a class="event-list__image" href="/events/{{ article.content.content.id }}/{{ slugify(article.content.content.title) }}">
                                <img src="{{ article.content.content.image.byName('news-size-s') }}" alt="" />
                            </a>
                        {% endif %}

                        <div class="event-list__details">
                            <p class="event-list__meta">
                                {% if article.content.content.start_datetime|date('j F Y') == article.content.content.end_datetime|date('j F Y') %}
                                    {{ article.content.content.start_datetime|date('j F Y') }}
                                {% else %}
                                    {{ article.content.content.start_datetime|date('j F Y') }} - {{ article.content.content.end_datetime|date('j F Y') }}
                                {% endif %}
                            </p>

                            <h3 class="event-list__title">
                                <a href="/events/{{ article.content.id }}/{{ slugify(article.content.title) }}">{{ article.content.title|raw }}</a>
                            </h3>
                        </div>

                    </li>
                {% endfor %}
            </ol>

        </div>
    </div>
{% endif %}
