<div class="govuk-width-container">
 <div class="govuk-grid-row ccs-grid-row--tight">
        <div class="govuk-grid-column-one-half govuk-!-padding-right-15 govuk-!-padding-top-20 free-wid">
        {# remove h2 to allow multiple different heading styles #}
            <div class="intro-freetext-heading">
                {{ component.free_text_free_text_left_heading | raw}}
            </div>
            <div class="govuk-body govuk-!-font-size-19" style="margin-top: 50px">
                {{ component.free_text_free_text_left_content_new | raw}}
            </div>
            {% if component.free_text_free_text_cta_label|trim is not empty and component.free_text_free_text_cta_destination|trim is not empty %}
                <a href="{{ component.free_text_free_text_cta_destination }}" class="govuk-button">{{ component.free_text_free_text_cta_label }}</a>
            {% endif %} 
        </div>

        <div class="govuk-grid-column-one-half govuk-border-left-free-text govuk-!-padding-left-15 govuk-!-padding-top-20 free-wid">
            <div class="intro-freetext-heading">
                 {{component.free_text_free_text_right_heading | raw}}
            </div>
            <div class="govuk-body govuk-!-font-size-19">
                {{ component.free_text_free_text_right_content_new | raw}}
            </div>
        </div> 
    </div>    
 </div>