{% if image %}
    <figure class="hero">

        <picture class="hero__picture">
            <source media="(max-width: 768px)" srcset="{{ image.byName('medium_large') }}">
            <source media="(min-width: 1024px)" srcset="{{ image.byName('large') }}">
            <source media="(min-width: 1920px)" srcset="{{ image.byName('full') }}">
            {# Fallback for browsers that don't support the picture element #}
            <img src="{{ image.byName('medium_large') }}"
                 role="presentation"
                 class="hero__image"
                 loading="lazy"
                 data-object-fit="cover"
                 data-object-position="right center">
        </picture>

        <figcaption>

            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">



                        <div class="hero__caption">
                            <h2 class="govuk-heading-xl hero__title">{{ heading }}</h2>

                            <div class="hero__content">
                                {{ content | raw }}
                            </div>

                            {% if cta_label|trim is not empty and cta_destination|trim is not empty %}
                                <a href="{{ cta_destination }}" class="govuk-button">{{ cta_label }}</a>
                            {% endif %}
                        </div>



                    </div>
                </div>
            </div>

        </figcaption>

        <div class="hero__flourish"></div>
    </figure>
{% endif %}
