{% if image %}
    <figure class="hero">

        {% if notFromWordpress is not defined %}
            <picture class="hero__picture">
                <source media="(min-width: 1024px)" srcset="{{ image.byName('large') }}">
                <source media="(min-width: 1920px)" srcset="{{ image.byName('full') }}">
                {# Fallback for browsers that don't support the picture element #}
                <img src="{{ image.byName('medium_large') }}"
                    fetchpriority="high"
                    role="presentation"
                    class="hero__image"
                    data-object-fit="cover"
                    data-object-position="right center"
                    alt="{{image.alt}}"
                    width="600" height="208">
        </picture>
        {% else %}
            <picture class="hero__picture {{newsletter == true ? 'hero__picture_newsletter' : ''}}">
                <img src="{{ image }}"
                    role="presentation" class="hero__image" data-object-fit="cover" data-object-position="right center" alt="" width="600" height="208">
            </picture>
        {% endif %}


        <figcaption>

            <div class="govuk-width-container">
                <div class="govuk-grid-row">

                    <div class="ccs-hero-text-container">



                        <div class="hero__caption">

                            {% if H1title is not defined %}
                                <h2 class="govuk-heading-xl hero__title">{{ heading }}</h2>
                            {% else %}
                                <h1 class="govuk-heading-xl hero__title">{{ heading }}</h1>
                            {% endif %}

                            <div class="hero__content">
                                {{ content | raw }}
                            </div>

                            {% if cta_label|trim is not empty and cta_destination|trim is not empty %}
                                <a href="{{ cta_destination }}" class="govuk-button">{{ cta_label }}</a>
                            {% endif %}
                        </div>



                    </div>
                </div>
            </div>

        </figcaption>

        <div class="hero__flourish"></div>
    </figure>
{% endif %}
