<div class="govuk-width-container">
    <div class="--greyed-bg">
        <div class="govuk-grid-row ccs-grid-row--loose">

            <div class="govuk-grid-column-full">

                {% if component.pillars_pillars_heading is defined and component.pillars_pillars_heading|length > 0 %}
                    <h2 class="govuk-heading-l intro__heading">{{ component.pillars_pillars_heading }}</h2>
                {% endif %}

                <ul class="card-list govuk-!-margin-top-6 card-pillars card-list--four-on-large">

                    {% for pillar in component.pillars_pillars_pillars %}
                        <li class="card-list__item [ pillar--{{ pillar.pillars_taxonomy.value.slug }} ]">
                            <div class="card-list__item__wrapper">
                                {#{{ pillar.pillars_taxonomy.value.slug }}#}
                                {#{{ dump(pillar.pillars_taxonomy) }}#}

                                {% if pillar.pillars_icon is not empty %}
                                    <div class="card-list__icon">
                                        <img src="{{ pillar.pillars_icon.url }}" alt="" role="presentation" />
                                    </div>
                                {% endif %}

                                <h3 class="govuk-heading-m">{{ pillar.pillars_title }}</h3>

                                <div class="wysiwyg-content">{{ pillar.pillars_content | raw }}</div>


                            </div>
                        </li>
                    {% endfor %}

                </ul>


            </div>

        </div>
    </div>
</div>
