<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-hint govuk-!-font-size-24">
            {{ component.quote_and_image_quote_and_image_quote | striptags | raw }}
            </div>
            <div class="govuk-body govuk-!-font-size-20 govuk-!-font-weight-bold govuk-!-margin-0">
            {{ component.quote_and_image_quote_and_image_name | striptags | raw }}
            </div>
            <div class="govuk-body govuk-!-font-size-20">
            {{ component.quote_and_image_quote_and_image_job | striptags | raw }}
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-width-one-quarter quote_image_box">
            {% if component.quote_and_image_quote_and_image_image %}
                <figure class="image-wrapper">
                    <picture class="">
                        <source media="(min-width: 1920px)" srcset="{{ component.quote_and_image_quote_and_image_image.byName('full') }}">
                        <source media="(min-width: 1024px)" srcset="{{ component.quote_and_image_quote_and_image_image.byName('large') }}">
                        <source media="(max-width: 768px)" srcset="{{ component.quote_and_image_quote_and_image_image.byName('medium_large') }}">
                        {# Fallback for browsers that don't support the picture element #}
                        <img src="{{ component.quote_and_image_quote_and_image_image }}"
                                class="quote_img"
                                {{ component.quote_and_image_quote_and_image_image.alt is defined and component.quote_and_image_quote_and_image_image.alt is not empty ? "alt=" ~ component.quote_and_image_quote_and_image_image.alt : "alt='' role='presentation'" }}
                                loading="lazy"/>
                    </picture>
                </figure>
                <div class="circle_flourish"></div>
            {% endif %}
        </div>
    </div>
</div>