<div class="component resources-section">

    <div class="govuk-width-container">

        {% if page.content.resources_intro_heading is defined and page.content.resources_intro_heading|length > 0  %}
            <h2 class="govuk-heading-m resources-section__heading">{{ page.content.resources_intro_heading }}</h2>
        {% endif %}
        {% if page.content.resources_intro_introduction %}
            <div class="resources-section__intro">{{ page.content.resources_intro_introduction|raw }}</div>
        {% endif %}

        {% if page.content.brochures_list_brochures_list is not empty  or  
              page.content.whitepapers_list_whitepapers is not empty  or  
              page.content.webinars_list_webinars or 
              page.content.digital_brochures_list_digital_brochures is not empty or 
              page.content.downloadable_list_downloadable_resource %}
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                {% if page.content.brochures_list_brochures_list is not empty %}
                    {# Start brochure section #}
                    {% set resourceIndex = resourcesWithIndex['brochures_list_brochures_list'] is defined ? resourcesWithIndex['brochures_list_brochures_list'] : '1' %}
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{resourceIndex}}">
                                    Brochures ({{ page.content.brochures_list_brochures_list|length }})
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{ resourceIndex }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ resourceIndex }}" role="region">

                            <ol class="ccs-list-grid brochures-list">
                                {% for brochure in page.content.brochures_list_brochures_list %}
                                    <li class="ccs-list-grid__item">
                                        <a href="{{ brochure.brochures_list_brochure.url }}" class="ccs-list-grid__item__img ccs-list-grid__item__img--flourish">
                                            <img src="/assets/images/icon-document-placeholder.svg" alt=""/>
                                        </a>
                                        <div class="ccs-list-grid__item__details">
                                            <a class="ccs-list-grid__item__link-heading" href="{{ brochure.brochures_list_brochure.url }}">{{ brochure.brochures_list_brochure.title|raw }}</a>
                                            <p>
                                                <span class="file-extension">{{ brochure.brochures_list_brochure.extension }}</span>, {{ brochure.brochures_list_brochure.filesize }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>

                    {# End brochure section #}
                {% endif %}


                {% if page.content.whitepapers_list_whitepapers is not empty %}
                    <div class="govuk-accordion__section ">
                        {# Start Whitepapers section #}

                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                          Whitepapers ({{ page.content.whitepapers_list_whitepapers|length }}
                                            )
                                        </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{resourcesWithIndex['whitepapers_list_whitepapers'] is defined ? resourcesWithIndex['whitepapers_list_whitepapers'] : '1' }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{resourcesWithIndex['whitepapers_list_whitepapers'] is defined ? resourcesWithIndex['whitepapers_list_whitepapers'] : '1' }}" role="region">

                            <ol class="ccs-list-grid">
                                {% for whitepaper in page.content.whitepapers_list_whitepapers %}
                                    <li class="ccs-list-grid__item">
                                        {% if whitepaper.ccs_whitepaper_featured_image.url is defined and webinar.ccs_whitepaper_featured_image.url is not empty %}
                                            <a href="/whitepaper/request/{{ whitepaper.ID }}/{{ whitepaper.post_name }}/" class="ccs-list-grid__item__img ccs-list-grid__item__img--wide">

                                            {% set whitepaperFeaturedImage = "" %}

                                                {% if whitepaper.ccs_whitepaper_featured_image.byName('news-size-m') %}
                                                    {% set whitepaperFeaturedImage = whitepaper.ccs_whitepaper_featured_image.byName('news-size-m') %}
                                                {% elseif whitepaper.ccs_whitepaper_featured_image.byName('news-size-s') %}
                                                    {% set whitepaperFeaturedImage = whitepaper.ccs_whitepaper_featured_image.byName('news-size-s') %}
                                                {% else %}
                                                    {% set whitepaperFeaturedImage = whitepaper.ccs_whitepaper_featured_image %}
                                                {% endif %}

                                                <img
                                                        src="{{ whitepaperFeaturedImage }}"

                                                        {% if whitepaper.ccs_whitepaper_featured_image.alt is defined %}
                                                            alt="{{ whitepaper.ccs_whitepaper_featured_image.alt }}"
                                                        {% else %}
                                                            alt=""
                                                            role="presentation"
                                                        {% endif %}
                                                /> </a>
                                        {% endif %}
                                        <div class="ccs-list-grid__item__details ccs-list-grid__item__details--wide">
                                            <h3 class="govuk-heading-m ccs-list-grid__item__heading">{{ whitepaper.post_title }}</h3>
                                            {% if whitepaper.post_excerpt is defined and whitepaper.post_excerpt is not empty %}
                                                <p>{{ whitepaper.post_excerpt }}</p>
                                            {% endif %}
                                            <a class="ccs-list-grid__item__cta" href="/whitepaper/request/{{ whitepaper.ID }}/{{ whitepaper.post_name }}/">
                                                {% if whitepaper.link_text is not empty %}
                                                    {{ whitepaper.link_text }}
                                                {% else %}
                                                    Learn more
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>

                        </div>

                        {# End Whitepapers section #}
                    </div>
                {% endif %}


                {% if page.content.webinars_list_webinars is not empty %}
                
                    <div class="govuk-accordion__section ">
                        {# Start Webinars section #}

                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                          Webinars ({{ page.content.webinars_list_webinars|length }}
                                            )
                                        </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{resourcesWithIndex['webinars_list_webinars'] is defined ? resourcesWithIndex['webinars_list_webinars'] : '1' }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{resourcesWithIndex['webinars_list_webinars'] is defined ? resourcesWithIndex['webinars_list_webinars'] : '1' }}" role="region">

                            <ol class="ccs-list-grid">
                                {% for webinar in page.content.webinars_list_webinars %}
                                    <li class="ccs-list-grid__item">
                                        {% if webinar.ccs_webinar_featured_image.url is defined and webinar.ccs_webinar_featured_image.url is not empty %}
                                            <a href="/webinar/request/{{ webinar.ID }}/{{ webinar.post_name }}/" class="ccs-list-grid__item__img ccs-list-grid__item__img--wide">

                                            {% set webinarFeaturedImage = "" %}

                                                {% if webinar.ccs_webinar_featured_image.byName('news-size-m') %}
                                                    {% set webinarFeaturedImage = webinar.ccs_webinar_featured_image.byName('news-size-m') %}
                                                {% elseif webinar.ccs_webinar_featured_image.byName('news-size-s') %}
                                                    {% set webinarFeaturedImage = webinar.ccs_webinar_featured_image.byName('news-size-s') %}
                                                {% else %}
                                                    {% set webinarFeaturedImage = webinar.ccs_webinar_featured_image %}
                                                {% endif %}

                                                <img
                                                        src="{{ webinarFeaturedImage }}"

                                                        {% if webinar.ccs_webinar_featured_image.alt is defined %}
                                                            alt="{{ webinar.ccs_webinar_featured_image.alt }}"
                                                        {% else %}
                                                            alt=""
                                                            role="presentation"
                                                        {% endif %}
                                                /> </a>
                                        {% endif %}
                                        <div class="ccs-list-grid__item__details ccs-list-grid__item__details--wide">
                                            <h3 class="govuk-heading-m ccs-list-grid__item__heading">{{ webinar.post_title }}</h3>
                                            {% if webinar.post_excerpt is defined and webinar.post_excerpt is not empty %}
                                                <p>{{ webinar.post_excerpt }}</p>
                                            {% endif %}

                                            <a class="ccs-list-grid__item__cta" href="/webinar/request/{{ webinar.ID }}/{{ webinar.post_name }}/">
                                                {% if webinar.link_text is not empty %}
                                                    {{ webinar.link_text }}
                                                {% else %}
                                                    Learn more
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>

                        </div>

                        {# End Webinars section #}
                    </div>
                {% endif %}


                {% if page.content.digital_brochures_list_digital_brochures is not empty %}
                    <div class="govuk-accordion__section ">
                        {# Start Digital Brochures section #}

                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                          Digital Brochures ({{ page.content.digital_brochures_list_digital_brochures|length }}
                                            )
                                        </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{resourcesWithIndex['digital_brochures_list_digital_brochures'] is defined ? resourcesWithIndex['digital_brochures_list_digital_brochures'] : '1' }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{resourcesWithIndex['digital_brochures_list_digital_brochures'] is defined ? resourcesWithIndex['digital_brochures_list_digital_brochures'] : '1' }}" role="region">

                            <ol class="ccs-list-grid">
                                {% for digital_brochure in page.content.digital_brochures_list_digital_brochures %}
                                    <li class="ccs-list-grid__item">
                                        {% if digital_brochure.ccs_digital_brochure_featured_image.url is defined and webinar.ccs_whitepaper_featured_image.url is not empty %}
                                            <a href="/digital_brochure/request/{{ digital_brochure.ID }}/{{ digital_brochure.post_name }}/" class="ccs-list-grid__item__img ccs-list-grid__item__img--wide">

                                            {% set digitalBrochureFeaturedImage = "" %}

                                                {% if digital_brochure.ccs_digital_brochure_featured_image.byName('news-size-m') %}
                                                    {% set digitalBrochureFeaturedImage = digital_brochure.ccs_digital_brochure_featured_image.byName('news-size-m') %}
                                                {% elseif digital_brochure.ccs_digital_brochure_featured_image.byName('news-size-s') %}
                                                    {% set digitalBrochureFeaturedImage = digital_brochure.ccs_digital_brochure_featured_image.byName('news-size-s') %}
                                                {% else %}
                                                    {% set digitalBrochureFeaturedImage = digital_brochure.ccs_digital_brochure_featured_image %}
                                                {% endif %}

                                                <img
                                                        src="{{ digitalBrochureFeaturedImage }}"

                                                        {% if digital_brochure.ccs_digital_brochure_featured_image.alt is defined %}
                                                            alt="{{ digital_brochure.ccs_digital_brochure_featured_image.alt }}"
                                                        {% else %}
                                                            alt=""
                                                            role="presentation"
                                                        {% endif %}
                                                /> </a>
                                        {% endif %}
                                        <div class="ccs-list-grid__item__details ccs-list-grid__item__details--wide">
                                            <h3 class="govuk-heading-m ccs-list-grid__item__heading">{{ digital_brochure.post_title }}</h3>
                                            {% if digital_brochure.post_excerpt is defined and digital_brochure.post_excerpt is not empty %}
                                                <p>{{ digital_brochure.post_excerpt }}</p>
                                            {% endif %}
                                            <a class="ccs-list-grid__item__cta" href="/digital_brochure/request/{{ digital_brochure.ID }}/{{ digital_brochure.post_name }}/">
                                                {% if digital_brochure.link_text is not empty %}
                                                    {{ digital_brochure.link_text }}
                                                {% else %}
                                                    Learn more
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>

                        </div>

                        {# End Digital Brochure section #}
                    </div>
                {% endif %}

                {% if page.content.downloadable_list_downloadable_resource is not empty %}
                    <div class="govuk-accordion__section ">
                        {# Start Downloadable Resources section #}

                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                          Downloadable Resources ({{ page.content.downloadable_list_downloadable_resource|length }}
                                            )
                                        </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{resourcesWithIndex['downloadable_list_downloadable_resource'] is defined ? resourcesWithIndex['downloadable_list_downloadable_resource'] : '1' }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{resourcesWithIndex['downloadable_list_downloadable_resource'] is defined ? resourcesWithIndex['downloadable_list_downloadable_resource'] : '1' }}" role="region">

                            <ol class="ccs-list-grid">
                                {% for downloadable_resource in page.content.downloadable_list_downloadable_resource %}
                                    <li class="ccs-list-grid__item">
                                        {% if downloadable_resource.ccs_downloadable_featured_image.url is defined and webinar.ccs_downloadable_featured_image.url is not empty %}
                                            <a href="/downloadable-resource/request/{{ downloadable_resource.ID }}/{{ downloadable_resource.post_name }}/" class="ccs-list-grid__item__img ccs-list-grid__item__img--wide">

                                            {% set downloadableFeaturedImage = "" %}

                                                {% if downloadable_resource.ccs_downloadable_featured_image.byName('news-size-m') %}
                                                    {% set downloadableFeaturedImage = downloadable_resource.ccs_downloadable_featured_image.byName('news-size-m') %}
                                                {% elseif downloadable_resource.ccs_downloadable_featured_image.byName('news-size-s') %}
                                                    {% set downloadableFeaturedImage = downloadable_resource.ccs_downloadable_featured_image.byName('news-size-s') %}
                                                {% else %}
                                                    {% set downloadableFeaturedImage = downloadable_resource.ccs_downloadable_featured_image %}
                                                {% endif %}

                                                <img
                                                        src="{{ downloadableFeaturedImage }}"

                                                        {% if downloadable_resource.ccs_downloadable_featured_image.alt is defined %}
                                                            alt="{{ downloadable_resource.ccs_downloadable_featured_image.alt }}"
                                                        {% else %}
                                                            alt=""
                                                            role="presentation"
                                                        {% endif %}
                                                /> </a>
                                        {% endif %}
                                        <div class="ccs-list-grid__item__details ccs-list-grid__item__details--wide">
                                            <h3 class="govuk-heading-m ccs-list-grid__item__heading">{{ downloadable_resource.post_title }}</h3>
                                            {% if downloadable_resource.post_excerpt is defined and downloadable_resource.post_excerpt is not empty %}
                                                <p>{{ downloadable_resource.post_excerpt }}</p>
                                            {% endif %}
                                            <a class="ccs-list-grid__item__cta" href="/downloadable-resource/request/{{ downloadable_resource.ID }}/{{ downloadable_resource.post_name }}/">
                                                {% if downloadable_resource.link_text is not empty %}
                                                    {{ downloadable_resource.link_text }}
                                                {% else %}
                                                    Learn more
                                                {% endif %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>

                        </div>

                        {# End Downloadable Resources section #}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

</div>
