{% extends 'base.html.twig' %}

{% block title %}Events - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        {#<div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>#}


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Events
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" role="main" class="govuk-main-wrapper govuk-main-wrapper--tight">

            <div class="page-introduction">
                <h1 class="govuk-heading-xl page-title page-title--tight">Events</h1>
                <p>Take a look at our upcoming events. You can filter them by category or sector. Click on the event to see more details and how to register to attend.</p>
            </div>

            <div class="govuk-grid-row events-page-listing">
                <div class="govuk-grid-column-one-quarter">
                    <h2 class="govuk-heading-m">Filter events list</h2>

                    {% if products_services is not empty %}
                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="accordion" id="products-services-accordion">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="products-services-accordion-heading">
                                            Products and services
                                        </span>
                                    </h3>
                                </div>
                                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="products-services-accordion-heading">
                                    <ul class="ccs-link-filter-list">
                                        <li><a href="/events">All Categories</a></li>
                                        {% for item in products_services %}
                                            {% if filters.products_services == item.id %}
                                                <li>{{ item.name }}</li>
                                            {% else %}
                                                <li><a href="/events?product_service={{ item.id }}">{{ item.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    {% if sectors is not empty %}

                        <div class="govuk-accordion ccs-accordion ccs-accordion--clean" data-module="accordion" id="sectors-accordion">
                            <div class="govuk-accordion__section ccs-accordion__section--clean govuk-form-group govuk-form-group--enclosure ccs-form-group--enclosure--tight">
                                <div class="govuk-accordion__section-header">
                                    <h3 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button ccs-accordion__section-button" id="sectors-accordion-heading">
                                            Sectors
                                        </span>
                                    </h3>
                                </div>
                                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="sectors-accordion-heading">
                                    <ul class="ccs-link-filter-list">
                                        <li><a href="/events">All Sectors</a></li>
                                        {% for sector in sectors %}
                                            {% if filters.sectors == sector.id %}
                                                <li>{{ sector.name }}</li>
                                            {% else %}
                                                <li><a href="/events?sector={{ sector.id }}">{{ sector.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-three-quarters events-list-container">
                    {% if pagination.totalResults == 1 %}
                        <h2 class="govuk-heading-m">{{ pagination.totalResults }} event(s) found</h2>
                    {% else %}
                        <h2 class="govuk-heading-m">{{ pagination.totalResults }} event(s) found</h2>
                    {% endif %}

                    {% if events %}
                        <ol class="events-list">
                            {% for event in events %}
                                <li class="event-list__item">
                                    {% if event.content.image %}
                                        <a class="event-list__image" href="/events/{{ event.id }}/{{ slugify(event.title) }}">
                                            <img src="{{ event.content.image.byName('news-size-s') }}" alt="" />
                                        </a>
                                    {% endif %}

                                    <div class="event-list__details">
                                        <p class="event-list__meta">
                                            {% if event.content.start_datetime|date('j F Y') == event.content.end_datetime|date('j F Y') %}
                                                {{ event.content.start_datetime|date('j F Y') }}
                                            {% else %}
                                                {{ event.content.start_datetime|date('j F Y') }} - {{ event.content.end_datetime|date('j F Y') }}
                                            {% endif %}
                                        </p>

                                        <h3 class="event-list__title">
                                            <a href="/events/{{ event.id }}/{{ slugify(event.title) }}">{{ event.title|raw }}</a>
                                        </h3>
                                    </div>

                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    <div class="events-pagination">
                        {{ include('includes/pagination.html.twig', {'pagination': pagination, 'route': 'events_list', 'options': {}}) }}
                    </div>
                </div>
            </div>

        </main>
    </div>

{% endblock %}
