{% extends 'base.html.twig' %}

{% block title %}Event - {{ event.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{# Remove colour flourishes from event detail page #}
{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/events">Events</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ event.title|raw }}
                </li>
            </ol>
        </div>


        <main class="govuk-main-wrapper event-detail">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop event-detail__content govuk-clearfix">
                    <a href="/events" class="govuk-back-link">Back <span class="visuallyhidden">to events page</span></a>

                    <h1 class="govuk-heading-xl page-title page-title--tight">{{ event.title|raw }}</h1>

                    {% if event.content.description is not empty %}
                        <h2 class="govuk-heading-m">About this event</h2>

                        <div class="wysiwyg-content" id="event_description">{{ event.content.description|raw }}</div>
                    {% endif %}

                    {% if event.content.cta_destination is not empty and event.content.cta_label is not empty %}
                        <p><a class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" href="{{ event.content.cta_destination|raw }}">{{ event.content.cta_label|raw }}</a></p>
                    {% endif %}
                </div>
                <aside class="govuk-grid-column-one-third-from-desktop event-detail__aside">
                    <div class="apollo-enclosure apollo-enclosure--padded event-detail__aside__inner">
                        <div class="event-detail__date-time">
                            <h3 class="govuk-heading-s">Date and time</h3>

                            {% if event.content.start_datetime|date('D, j F Y') == event.content.end_datetime|date('D, j F Y') %}
                                <p>{{ event.content.start_datetime|date('D, j F Y H:i') }} - {{ event.content.end_datetime|date('H:i') }}</p>
                            {% else %}
                                <p>{{ event.content.start_datetime|date('D, j F Y H:i') }} - <br />{{ event.content.end_datetime|date('D, j F Y H:i') }}</p>
                            {% endif %}
                        </div>

                        {% if event.content.location_type %}
                            <div class="event-detail__location">
                                <h2 class="govuk-heading-s">Location</h2>
                                {% if (event.content.location_type == 'In Person' or event.content.location_type == 'Online and In Person')%}
                                    <p>{{ event.content.street_address|raw }} {{"\n"|nl2br}} {{ event.content.address_region|raw }}, {{ event.content.address_locality|raw }}</p>
                                {% endif %}
                                {% if event.content.location_type == 'Online and In Person' %}
                                    <p>Available online and in person</p>
                                {% endif %}
                                {% if event.content.location_type == 'Online' %}
                                    <p>Online</p>
                                {% endif %}

                            </div>
                        {% endif %}

                        {% if event.content.secondary_cta_destination is not empty and event.content.secondary_cta_label is not empty %}
                            <a class="--gem-c-button govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" href="{{ event.content.secondary_cta_destination }}">{{ event.content.secondary_cta_label }}</a>
                        {% endif %}
                    </div>
                </aside>
            </div>
        </main>

    </div>

<script id="ldjson" type="application/ld+json"></script>
<script type="text/javascript">

    window.onload = () => {

        decodeEntity = (inputStr) => {
            var textarea = document.createElement("textarea");
            textarea.innerHTML = inputStr;
            return textarea.value;
        }

        const eventName = '{{ event.title|raw }}';
        const eventURL = '{{ event.content.cta_destination }}';
        const placeName = '{{ event.content.place_name }}';
        const streetAddress = '{{ event.content.street_address }}';
        const addressLocality = '{{ event.content.address_locality }}';
        const postalCode = '{{ event.content.postal_code }}';
        const addressRegion = '{{ event.content.address_region }}';
        const addressCountry = '{{ event.content.address_country }}';
        const locationType = '{{ event.content.location_type }}';
        const startDateTime = '{{ event.content.start_datetime }}';
        const endDateTime = '{{ event.content.end_datetime }}';
        const image = '{{ event.content.image }}';
        const description = $("#event_description").text();

        const online = {
            "@type": "VirtualLocation",
            "url": eventURL
        }

        const in_person = {
            "@type": "Place",
            "name": placeName,
            "address": {
                "@type": "PostalAddress",
                "streetAddress": streetAddress,
                "addressLocality": addressLocality,
                "postalCode": postalCode,
                "addressRegion": addressRegion,
                "addressCountry": addressCountry
            }
        }

        const hybrid = [ online, in_person ];

        let eventAttendanceMode = "";
        let location = {};

        switch(locationType) {
            case "In Person":
                eventAttendanceMode = "https://schema.org/OfflineEventAttendanceMode";
                location = in_person;
                break;
            case "Online": eventAttendanceMode = "https://schema.org/OnlineEventAttendanceMode";
                location = online;
                break;
            case "Online and In Person": eventAttendanceMode = "https://schema.org/MixedEventAttendanceMode";
                location = hybrid;
                break;
        }

        document.getElementById('ldjson').innerHTML = JSON.stringify({
                "@context": "https://schema.org",
                "@type": "Event",
                "name": eventName,
                "startDate": startDateTime,
                "endDate": endDateTime,
                "eventAttendanceMode": eventAttendanceMode,
                "eventStatus": "https://schema.org/EventScheduled",
                "location": location,
                "image": [
                    image
                ],
                "description": description,
                "organizer": {
                    "@type": "Organization",
                    "name": "Crown Commercial Service",
                    "url": eventURL
                }
                });
    }

</script>

{% endblock %}